[2020-09-17 12:05] JasonFengJ9 opened #10633 "JDK15 release build : test.TypeDescriptorTest.testToMethodDescriptorString(()HiddenClass/00000000102EC890, "\(\)Ltest/HiddenClass.0x[0-9a-f]+;"): failure"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Release/4/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
01:41:11  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jdk_lang

[2020-09-17 13:11] liqunl commented on #10580
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/10355
So 20-job grinder on original job on ppcle showed that timeout happened 3/20, but all happened with a crash in agent. So the timeout on ppcle is closed related to the crash, should be the same issue to #10588. The timeout on X is different, more random, could be due to timing or resource constraint, and is not reproducible in 300 jobs.

[2020-09-17 14:58] pwagland commented on #10541
@tajila, did this help to determine why this is failing? I am at a loss as to how this could happen, and why we see it at random points in our build cycle. Is there anything that I can do to help move this issue forward?

[2020-09-17 15:16] hangshao0 commented on #10633
We decided not to change the format of anon/hidden class in 0.22.0 release, so https://github.com/eclipse/openj9/pull/10544 is merged only into mater branch not 0.22.0 branch. So this test should pass if running on openj9 master branch (https://github.com/eclipse/openj9/issues/10345#issuecomment-692766191), won't pass on 0.22.0 branch. This test is re-enabled by: https://github.com/AdoptOpenJDK/op

[2020-09-17 15:17] hangshao0 commented on #10632
See https://github.com/eclipse/openj9/issues/10633#issuecomment-694305495

[2020-09-17 15:18] keithc-ca commented on #10588
Which nightly build are you using? I don't have that problem with the latest nightly from adoptopenjdk.net:
[code]
And using that as the boot jdk, I was able to produce a local build:
[code]

[2020-09-17 15:25] pshipton commented on #10632
Closing as a dup of https://github.com/eclipse/openj9/issues/10611

[2020-09-17 15:25] #10632 closed

[2020-09-17 15:28] pshipton commented on #10633
Closing as a dup of #10611

[2020-09-17 15:28] #10633 closed

[2020-09-17 15:53] pshipton commented on #10588
@AlenBadel there is a grinder in https://github.com/eclipse/openj9/issues/10580#issuecomment-694222270 which crashed 3/20 on a rhel7 machine. Does that help? Perhaps these cores will be readable or gdb is working on rhel7.

[2020-09-17 15:54] pshipton commented on #10580
Let's close this as a dup of https://github.com/eclipse/openj9/issues/10588

[2020-09-17 17:55] AlenBadel commented on #10588
I was able to get a stack trace for this crash. Investigating further.
[code]

[2020-09-17 17:56] pshipton commented on #10629
Changes from the previous build (jdk11):
https://github.com/eclipse/openj9/compare/1d44c6a...a3acbbf
https://github.com/eclipse/omr/compare/c72851c...af16e89
https://github.com/AdoptOpenJDK/openjdk-tests/compare/403f8484...005b311a

[2020-09-17 18:05] fjeremic commented on #10626
I'm afraid we won't have an answer for this until the new year. There currently does not exist wide range C++14 support on z/OS.

[2020-09-17 18:10] pshipton commented on #10631
@jonoommen @amicic could this be related to https://github.com/eclipse/omr/pull/5377 ?

[2020-09-17 18:15] pshipton commented on #10628
Changes from the previous build:
1d44c6a...a3acbbf
eclipse/omr@c72851c...af16e89
AdoptOpenJDK/openjdk-tests@403f848...005b311

@andrewcraik can someone take a look pls.

[2020-09-17 18:15] amicic commented on #10631
not so likely. most of code (GC anyway) is inactive/disabled.

[2020-09-17 18:22] pshipton commented on #10630
Changes from the previous build:
1d44c6a...a3acbbf
eclipse/omr@c72851c...af16e89
AdoptOpenJDK/openjdk-tests@403f848...005b311

@andrewcraik @r30shah could this be caused by https://github.com/eclipse/openj9/pull/10366 ?

[2020-09-17 18:35] r30shah commented on #10630
@pshipton  Let me take a look.

[2020-09-17 18:58] gacholio commented on #10616
There is no way to disable it in the VM at runtime, other than not using the debug JVMTI capabilities.

The compile-time build flag is also unreliable (years ago, I stopped ifdeffing for flags that were always on).

Is snapshot not dead at this point?

[2020-09-17 19:10] 0xdaryl commented on #10616
What happens when we run with `-Xint` then?  Presumably the FSD paths aren't taken then.  Is there a way to mimic that behaviour when the JIT isn't able to support FSD?

[2020-09-17 19:35] pshipton opened #10638 "LambdaLoadTest hang"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_lambdaLoadTest/125
LambdaLoadTest_OpenJ9_NonLinux_special_23
variation: Mode688
JVM_OPTIONS:  -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0
[code]

[2020-09-17 19:38] pshipton commented on #10638
@gita-omr can someone take a look pls.

[2020-09-17 19:45] pshipton opened #10639 "Pls check win2012r2-x86-4"
Pls take a look at win2012r2-x86-4 to see if it needs any cleanup, if there are processes left running. Or just reboot it.

There are a number of failures related to creating processes, some of which look like the machine doesn't have the resources to create all the necessary sub-processes.

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/51/

[2020-09-17 19:45] pshipton commented on #10639
@jdekonin

[2020-09-17 19:48] pshipton commented on #10631
I suspect a machine problem https://github.com/eclipse/openj9/issues/10639

[2020-09-17 19:51] JasonFengJ9 commented on #10638
A quick note, this test hangs at Windows platform as well https://github.com/eclipse/openj9/issues/8214.

[2020-09-17 20:04] r30shah commented on #10630
@pshipton  Looking into core-dump, I think this failure is not related to the https://github.com/eclipse/openj9/pull/10366 as On the stack I am seeing,
[code]
So it is more likely related to https://github.com/eclipse/omr/pull/5219 and hitting ASSERT at https://github.com/eclipse/omr/blob/25e93bed006afa4333c1a1c5f6a9a24342da3ecc/compiler/optimizer/RegDepCopyRemoval.cpp#L441

I am trying to reprodu

[2020-09-17 20:07] gita-omr commented on #10638
@andrewcraik fyi

[2020-09-17 20:13] tajila commented on #10541
@pwagland The last time we encountered an issue similar to this it was because the class failed to load properly due to a classloading constraint error. The reason why the crash occurs at random times is because the bad class may be scanned at any time by the GC (assuming that is the case).

We are currently working on a solution to fix the cause of the crash but that may take some time. In the sh

[2020-09-17 20:16] pshipton opened #10641 "Bootjdk for aarch64 Java 15"
We need a bootjdk installed for aarch64 Java 15 so we can build it at OpenJ9, plus the defaults.yml updated.

There is a 0.22.0 M2 build available from Adopt https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk-15%2B36_openj9-0.22.0-m2/OpenJDK15U-jdk_aarch64_linux_openj9_15_36_openj9-0.22.0-m2.tar.gz

[2020-09-17 20:17] pshipton commented on #10641
@jdekonin

[2020-09-17 20:19] DanHeidinga commented on #10616
When an application specifies a jvmti agent (which is what `-Xdebug -Xrunjdwp:transport=...` actually does), the agent requests capabilities and the JVM then determines what we need to support by enabling or disabling the hooks.

A couple of options:

* Refuse to load the RO code cache if the application requests debug-level capabilities when the code hasn't been compiled to support those capabili

[2020-09-17 20:22] pshipton commented on #10638
Not sure the Windows problem is the same, we'd have to wait for it to re-occur and look at any diagnostic files produced.

[2020-09-17 20:34] pwagland commented on #10541
Hi @tajila, right, I will kick off a new build with the Xtrace that you asked for, you should see results from that tomorrow.

As to the `!classforname`:
[code]

Some of these have a classObject, and some don't:
[code]

These are from the second trace, where we died processing 0x1a93600, which indeed doesn't isn't initialised:
[code]

[2020-09-17 21:03] pwagland commented on #10541
Thinking about this some more, and then figuring that too much information is probably better than not enough, I also add, that there are 38 classes loaded, and also 38 different class loaders, at lsat based on the `0x28 struct J9ClassLoader` record. I kind of expect them all being different classloaders to be honest, since we are doing a _lot_ of independent compiles, so this class/JAR file gets

[2020-09-17 21:07] tajila commented on #10541
Thanks for the info:

In the core file above what is the output of:

`!j9vtables 0x8b3b00` ?

Also if you compare `!j9class 0x935900` (a good class) and `j9class 0x8b3b00` (a bad class) what is the value for the `romClass`?

[2020-09-17 21:42] pwagland commented on #10541
[code]

[code]

All of the `romClass` pointers are different. Expanding out the above to `romClass`:
[code]

[2020-09-17 21:52] pwagland commented on #10541
Right, digging around a little further I see that (probably?) all of the `initializeStatus = 3` classes have been loaded by one classLoader, and all of the `initializeStatus = 1` have been loaded by a different (the normal ant) classLoader. This feels fishy to me ;-)

This ClassLoader works perfectly when compiling under Java 8. but somehow appears to be causing some form of failure when run OpenJ

[2020-09-17 22:02] tajila commented on #10541
Okay the fact that the vtable is empty for the bad class suggests a classloading constraints issue. To confirm try:

`!dumpromclass 0x00007F71553DD910` (good class)
`!dumpromclass 0x00007F71551E94E8` (bad class)

The romClasses need to be identical or else class loading constraints are not met.

[2020-09-17 22:44] pwagland commented on #10541
They are not identical:
[code]

Is there any way to see from the dump from which file a class was loaded? I think that these two classes probably _are_ being loaded from different files, so they might be different.

I _think_ (but this is why I would to figure out from which JAR files the respective class files were loaded) that files loaded by Ant are actually executed, while the files loaded by

[2020-09-17 23:19] gita-omr commented on #10638
Ok, we’ll start on Power.

[2020-09-17 23:20] pwagland commented on #10541
[SnapFormat.txt.gz](https://github.com/eclipse/openj9/files/5242393/SnapFormat.txt.gz)

In the log file, it does indicate that there is a constraint violation:
[code]

I'm not sure that I 100% understand this message, this is saying that the `FallbackClassLoader` has been asked for `Logger` twice, and the first time it gave back a copy from `AntClassLoader`, and this time it is trying to give back

[2020-09-18 04:02] r30shah commented on #10630
Would it be possible to launch a grinder of 100 runs on the Eclipse CI ? I ran the test internally on PPCLE 64 machine for 100 runs but can not reproduce the failure, if we can get it fairly reproducible, then I would have to get access to the external machine to continue investigation.

[2020-09-18 11:48] JasonFengJ9 commented on #8377
A similar error at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_1/110/console
[code]

[2020-09-18 11:55] JasonFengJ9 commented on #10631
Another occurrence at `win2012r2-x86-3`
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/52/consoleFull
[code]

[2020-09-18 11:58] JasonFengJ9 commented on #10256
Another occurrence at https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/51/console
[code]

[2020-09-18 12:03] knn-k opened #10645 "Remove special locale handling for Japanese language in Linux"
`EUC-JP` (Extended UNIX Code for Japanese language) used to be the default character encoding in many Linux environments for Japanese language.  There is a special handling for `EUC_JP` in jcl/unix/syshelp.c:
https://github.com/eclipse/openj9/blob/149dd6186effd483b06b96a1908990bea48dd540/runtime/jcl/unix/syshelp.c#L276-L286

Now the majority of the Linux distributions use `ja_JP.UTF-8` as the defa

[2020-09-18 13:28] smlambert commented on #8377
This can handled by several options:
- raised/fixed as a feature request to support special characters against the Jenkins [TAP plugin](https://github.com/jenkinsci/tap-plugin) used by the Jenkins server
- turn off the feature that prints the console output into the (optional) TAP field in order to attempt to display it in the TAP view for functional tests (as we have already done for openjdk test

[2020-09-18 14:21] mnalam-p commented on #10489
I ran the test in question on local system for 200 times and did not see any test failure. I will try to run the test in grinder and see if I can reproduce the issue.

[2020-09-18 14:49] pwagland commented on #10541
Based on the responses in this issue, I have managed to create a workaround to the JVM crashing.

However, I am not sure whether I am just working around the issue, or whether I am actually fixing an issue with our code. If this _didn't_ crash the JVM, what exception would/should I expect to see?

For reference, the source to `FallbackClassLoader` looks (roughly) like:

[code]

Adding `Logger` to

[2020-09-18 14:51] pshipton commented on #10645
The code only matches on `"ja"`, it won't affect a LANG setting of `ja_JP.UTF-8`. I don't think we should consider removing this unless it's causing an actual problem, as remove it risks breaking some customer.

[2020-09-18 14:57] pshipton commented on #10631
So likely not a machine problem then. This is the test that was failing until we recently started running it with `-XX:+CompactStrings`. https://github.com/eclipse/openj9/issues/10149

@dmitripivkine can you take the first look pls to see if there is a real problem here.

[2020-09-18 15:03] pshipton commented on #10631
@jdekonin can you pls check the swap space on the machine is big enough to accommodate all the memory. I saw some message about insufficient swap space recently in some other Windows failure.

[2020-09-18 15:15] tajila commented on #10541
Yes, and I believe this is the next step. So we will be able to find the original file for the good class, but Im not sure we can do the same for the bad class.

Note: By "good" I simply mean the first first class that was loaded, and "bad" is the second version.

Lets start with the good class:
dump the classObject
`!j9object 0x00000000A8C050F0` this is from `!j9class 0x935900`

Then dump protect

[2020-09-18 15:34] tajila commented on #10541
What it is saying is that is that the loading of the good class was initiated  by `FallbackClassLoader` and defined by `AntClassLoader`.

Now, the bad class classload is being initiated by a different loader, it may have the same name but it will be a different instance of the loader.

you can check by doing:

!j9class 0x8b3b00 (bad class)

then `!j9classloader [addr]` from `0x28: struct J9ClassLo

[2020-09-18 15:36] jdekonin commented on #10639
Rebooted and back in service in jenkins.

[2020-09-18 15:43] tajila commented on #10541
If the classloader of the good and bad class are of different types that may help us identify where the problem is coming from.

[2020-09-18 15:53] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.functional_x86-64_linux_Nightly_testList_0/46
testJITServer_0

[2020-09-18 16:23] #10639 closed

[2020-09-18 17:53] DanHeidinga commented on #10547
This will be a behaviour change (possibly a good one) so we need to look at the consequences of it.  For Windows, will passing executables thru the shell change which executable is selected?  I think we need to better understand what will change with this proposal before we can proceed.

[2020-09-18 18:12] jdekonin commented on #10631
8G ram, 2G swap is how all the windows machines are configured by default from the ibmcloud.  The playbook doesn't have any preset or suggested swapfile size for windows, but if there is something preferred/suggested we can make that change.

[2020-09-18 19:26] pshipton commented on #10631
"The default automatic behavior is to have a minimum [swap] size 1.5 times the amount of actual RAM."

Although I'm fine with a swap file which is the same size as the available RAM. I suspect the 2G size has been causing problems recently.

[2020-09-18 21:13] JasonFengJ9 commented on #10365
Another occurrence from last nightly build `Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly_testList_1/86`:
[code]

[2020-09-18 21:54] JasonFengJ9 opened #10648 "JDK16 TEST: java/lang/invoke/MethodHandles/publicLookup/Driver.java - AssertionError: unexpected result"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_s390x_linux_xl_Nightly/167`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:19:03  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=s

[2020-09-18 22:00] JasonFengJ9 opened #10649 "JDK16 java/lang/String/CompactString/CompareToIgnoreCase.java : test CompareToIgnoreCase.testCompareToIgnoreCase("???A", "???a", 0): failure"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_s390x_linux_xl_Nightly/167`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:19:03  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=s

[2020-09-19 13:56] #10641 closed

[2020-09-19 21:40] pwagland commented on #10541
@tajila, thanks for your help in tracking this down!

The classloader of the good and bad types _is_ different, this is why I posted the (equivalent) [source to the our classloader](https://github.com/eclipse/openj9/issues/10541#issuecomment-694913826).

Going through the requested answers from your [3rd last comment](https://github.com/eclipse/openj9/issues/10541#issuecomment-694927378):

[code]

[2020-09-19 21:42] pshipton opened #10650 "openjdk test failures on win2012-x86-6"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Release/5/
`*` java/lang/ProcessHandle/OnExitTest.java.OnExitTest
`*` java/lang/ProcessHandle/TreeTest.java.TreeTest
jdk/modules/incubator/ImageModules.java.ImageModules
jdk/modules/scenarios/automaticmodules/RunWithAutomaticModules.java.RunWithAutomaticModules
jdk/modules/scenarios/overlappingpackages/OverlappingPac

[2020-09-19 21:42] pshipton commented on #10650
@jdekonin

[2020-09-20 23:04] tajila commented on #10070
The only cases where pre-padding is needed is on compressedRefs where there is at least one double-slot sized field. A better solution is, instead of pre-padding, insert a single slot field in the spot where the padding would be. This this means that if a type (in compressedrefs mode) has at least one single slot or ref field the pre-padding is not needed. This leaves fields with only double slot

[2020-09-21 10:14] pwagland commented on #10541
Hi @tajila, I see that you have a fix for the crashing issue. Thanks a heap for that! Do you know what release this will make it into?

[2020-09-21 11:47] jdekonin commented on #10650
win2012-x86-6 was build from an image of win2012r2-x86-6, it should have the same cpu, memory and swap configuration but I don't have access to the new account to confirm.  @rajdeepsingh1 can you please confirm?

[2020-09-21 15:34] mnalam-p opened #10656 "JDK15 s390x autoSIMD : PIV commoning with address calculation can generate wrong IL"
While performing autoSIMD to loops, the commoning of PIV with the address calculation of the array can cause the address calculation to be wrong. Thus yielding wrong IL.

See:  https://github.com/eclipse/openj9/issues/9331#issuecomment-682105215 for more details

[2020-09-21 15:39] rpshukla commented on #10504
I'm currently running through a binary search of the openj9 and omr commits. I ran 10 runs in grinder with the following shas and they all passed:

[code]

[2020-09-21 16:10] AlenBadel commented on #10588
The stack trace above is certainly not related to the crash within the compiled method
`jdk/internal/foreign/NativeMemorySegmentImpl.makeNativeSegment(JJ)Ljdk/incubator/foreign/MemorySegment`.

We're seeing this mainly on systems that are resource starved. As is I have not been able to reproduce this on any baremetal machines or Power VMs with more than 8GB of Ram.

However, running with `-Xjit:co

[2020-09-21 17:30] DanHeidinga opened #10659 "Test Project board automation"
Did this issue show up on the Project kanban board automatically?
https://github.com/eclipse/openj9/projects/17

[2020-09-21 17:56] andrewcraik commented on #10588
I would note `-Xjit:count=0` is a bit of a weird stress mode because nothing will be resolved at compile-time. It also forces the JIT to do synchronous compilation. It would be good to know if the synchronous compilation that is important or the super low count and does it also fail with `Xjit:count=1,disableAsyncCompilation`?

[2020-09-21 18:37] rpshukla commented on #10504
Saw the failure in a grinder with the following shas:
[code]

This suggests that the error was introduced here: https://github.com/eclipse/omr/compare/b52454a206a...53e26890171

[2020-09-21 19:47] rajdeepsingh1 commented on #10650
The new system has the same cpu, memory, and 2G swap.

I've now extended this swap to 8GB, this can be re-tested.

@pshipton  FYI

[2020-09-21 20:40] mpirvu opened #10663 "JITServer failures with vmState=0x0005ffff"
Recently we started to see relatively many failures in JITServer mode with a vmState of 0x0005ffff.
Some examples:
Java8
[code]
[code]
Java11
[code]
[code]
[code]
I believe that some JITServer incompatible change was delivered to the code base and we need to find what.

[2020-09-21 20:41] mpirvu commented on #10663
Attn: @dmitry-ten

[2020-09-21 20:42] DanHeidinga commented on #10659
Interesting.  Turns out that it needs to be added to the Project for the automation to pick it up.  The label isn't sufficient.

Looking into whether there's a way to have github actions look for the label and add the project as the issue templates don't allow specifying the project

[2020-09-21 20:42] DanHeidinga commented on #10659
Vague notes on how to do this:
[code]

[2020-09-21 20:47] r30shah commented on #10630
None of the grinders from https://github.com/eclipse/openj9/issues/10630#issuecomment-694903147 had failures (0/420).
For context, hitting [this](https://github.com/eclipse/omr/blob/25e93bed006afa4333c1a1c5f6a9a24342da3ecc/compiler/optimizer/RegDepCopyRemoval.cpp#L441) ASSERT means, we have encountered a node under `GlRegDeps` node which is not `*regLoad` and if it is the `PassThrough` node then w

[2020-09-21 21:54] JasonFengJ9 commented on #10489
Another occurrence at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/499/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:55:44  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64_aix&TARGET=DaaLoadTest_daa

[2020-09-21 21:57] JasonFengJ9 commented on #10629
Another failure in same test at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/157/consoleFull
The initial Segmentation error occurred at `j9jit29.dll` though.
[code]

[2020-09-21 22:19] AlenBadel commented on #10588
On the machine with ample resources, the crash does not appear with `Xjit:count=1,disableAsyncCompilation`. I'm attempting the same test on one of the machines that produces the failure under normal circumstances. The state of the machine I was using has changed, so I'll be running a Grinder to verify the result on other machines.

[2020-09-21 22:21] gita-omr commented on #10588
If count=0 makes it fail in exactly the same way as described when the defect was opened, e.g. crash in:

Compiled_method=jdk/internal/foreign/NativeMemorySegmentImpl.makeNativeSegment(JJ)Ljdk/incubator/foreign/MemorySegment;

then I think it would be ok to stick to count=0 and try to debug that. As I understand @AlenBadel managed to make it fail consistently that way. And this a native method btw

[2020-09-21 22:30] gita-omr commented on #10588
Unless we are trying to determine the severity of this defect...

[2020-09-22 11:35] pshipton commented on #10623
Another "similar" crash, adding to the 0.23 milestone plan.

MauveSingleInvocationLoadTest_special_22
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly_mauveLoadTest/134
[code]

[2020-09-22 11:41] pshipton commented on #10650
A recent failure is related to disk space, which also occurred in the grinder on win2012r2-x86-3

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/159
[code]

[2020-09-22 12:42] andrewcraik commented on #10588
I think the above was both to verify if the crash was specific to count=0 and to assess severity.

Looking at the most recent backtrace from Alen I see: `setNativeOutOfMemoryError` under the Unsafe API - seems like we are failing to allocate memory? Is this just a resource exhaustion issue? Is the test running single threaded or are there multiple things running on the machine? That kind of error

[2020-09-22 13:07] pshipton commented on #9972
Similar? failure

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/495
SharedClassesWorkload_0
win2012r2-x86-5
[code]
[code]
[code]
[code]

[2020-09-22 13:07] mpirvu commented on #10663
There are several tests that crash in sanity. One of them is `cmdLineTester_SCHelperCompatibilityTests_unix_1`
though the reproduction rate decreases a lot when running this alone.
A stack trace of a crash at the client:
[code]
The class that `TR_J9VM::getBaseComponentClass` works on looks bogus.

[2020-09-22 13:23] andrewcraik commented on #10504
The only real opt change in this range is the GRA change from @0xdaryl could you do a run without that change and confirm if it is involved?

[2020-09-22 13:28] andrewcraik commented on #9453
@dsouzai this one has been deferred once - since there has been no update and deleting the SCC cleared the failure is this a close, backlog or do we expect some kind of change for 0.23?

[2020-09-22 13:28] andrewcraik commented on #9416
@DanHeidinga FYI this one is missing diagnostics and so cannot be progressed - should we backlog it or close it pending diagnostics?

[2020-09-22 13:29] andrewcraik commented on #8972
@pshipton is this one still happening or is it resolved in later builds?

[2020-09-22 13:48] DanHeidinga commented on #9416
@andrewcraik Is there something we can add to the code around the assert to make the conditions leading to it easier to diagnose?  Given we've branched for 0.23 already, I'd be OK with releasing that kind of code into the mainline - even if there's extra overhead - with the plan to pull it back out before 0.24

[2020-09-22 14:00] dsouzai commented on #9453
No change expected for 0.23; I'd say this is a close until we get more diagnostic information.

[2020-09-22 14:02] pshipton commented on #8972
I haven't seen anything since returning from vacation. @JasonFengJ9 have you seen this occur? Otherwise I'll close it.

[2020-09-22 14:49] AlenBadel commented on #10588
Yes, as I've mentioned I've only been able to reproduce this bug under normal conditions on a system with very constrained resources. We're talking about 8GB provisioned PowerVMs on a heavily cached system. I have not been able to reproduce this upon restarting and dropping these caches, as well as on any larger systems. I.e a 32GB PowerVM or a baremetal.

The tests for the most part are single th

[2020-09-22 15:17] gita-omr commented on #10588
Does it fail with the same setNativeOutOfMemoryError issue?

[2020-09-22 15:30] dmitry-ten commented on #10663
Last time I saw the crash in this place, it was due to https://github.com/eclipse/openj9/issues/10397

[2020-09-22 15:31] liqunl commented on #10623
@rpshukla Could you do a grinder to get the failure rate?

[2020-09-22 15:33] gita-omr commented on #10588
In any case, I guess we should look into how to exist gracefully from setNativeOutOfMemoryError when resources are limited.

[2020-09-22 16:05] dsouzai commented on #10623
Not really sure what's going on. I took a look at the core from the original crash this issue was opened against. Even with symbols, windbg wasn't able to print out the backtrace properly. However, looking at it manually:

[code]
Crashing instruction `0x719FD174`:
[code]
Stack:
[code]
Method before calling `getJittedBodyInfoFromPC` (i.e. near `0x7190AAFB`):
[code]
Note, `ebp` comes from
[code]
and

[2020-09-22 16:21] pshipton commented on #8972
@andrewcraik There is one here from a PR build run yesterday.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Personal/7
jdk/lambda/ArrayCtorRefTest.java
[code]

[2020-09-22 16:34] dsouzai commented on #10623
Heh, actually, thinking on it a bit more I believe I figured out what's going on. It's caused by a race condition because of the compiler (visual studio) privatizing a field but not consistently using the privatized version.

At the time `ebp` is assigned, `walkState.method->extra` == `J9_JIT_QUEUED_FOR_COMPILATION` == `0xFFFFFFFB`. At the time the `isCompiled` call is made, `walkState.method->ext

[2020-09-22 16:36] dsouzai commented on #10623
The reason for stating this is the C++ code is technically correct here because:

if `TR::CompilationInfo::isCompiled(walkState.method)` returns false, then even if the `extra` were to change, it doesn't matter
if `TR::CompilationInfo::isCompiled(walkState.method)` returns true, then `walkState.method->extra` is necessarily a valid startPC.

[2020-09-22 16:36] pshipton commented on #10630
Can we update the assert to provide more information in case the problem occurs again?

[2020-09-22 16:58] dsouzai commented on #10623
Leo mentioned the issue might be happening because of a lack of `volatile` somewhere. Perhaps one solution is to explicitly privatize `walkState.method`, something like
[code]

[2020-09-22 17:01] andrewcraik commented on #10623
My first reaction was that we are missing a volatile. If it is that we are not using a single canonical definition of the extra field and others could be making changes then we need to mark extra volatile to stop the compiler privatizing and doing other things to stop reads or writes from memory IMO.

[2020-09-22 17:12] #10375 closed

[2020-09-22 17:14] rpshukla commented on #10623
10x grinder for MauveSingleInvocationLoadTest_special_22 passed:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3951/

running more grinders:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3952/
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3953/

[2020-09-22 17:26] pshipton commented on #10588
After a discussion in Slack, this has been determined not a stop ship issue. The 0.22 release has been finalized and this issue is moved to the 0.23 release for which we've already branched. The work to fix it should continue at the same priority so we have a fix by Oct 2 for 0.23 M2.

[2020-09-22 17:31] andrewcraik commented on #8972
@nbhuiyan could you please have a look?

[2020-09-22 17:32] liqunl opened #10665 "Crash in MauveSingleInvocationLoadTest_special_22"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly_mauveLoadTest/134
MauveSingleInvocationLoadTest_special_22
Options are:  `-Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0`

[code]

[2020-09-22 17:32] liqunl commented on #10623
@rpshukla Thanks for the runs. The second crash is a different issue, it is a crash in `populateVPicSlotCall`. I created #10665 to track this issue.

[2020-09-22 17:33] liqunl commented on #10665
Grinder from @rpshukla in #10623

10x grinder for MauveSingleInvocationLoadTest_special_22 passed:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3951/

running more grinders:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3952/
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3953/

[2020-09-22 17:36] rpshukla commented on #10665
This grinder https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3953/ was supposed to be for the original failure in #10623 (although it looks like I didn't get the settings correct and no tests were actually run)

The others are for MauveSingleInvocationLoadTest_special_22

[2020-09-22 17:40] r30shah commented on #10630
Let me see, currently it provides information about the node that was encountered but not expected (Information contains node index and opcode).

I think this kind of failure would benefit most from good jitdump. I see in the stack trace in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/148/consoleFull , it was in middle of processing the jitdump and fa

[2020-09-22 17:49] pshipton commented on #10399
Eclipse OpenJ9 v0.22.0

Repo SHAs
OpenJ9: 1830b19
OMR: 73d5e76

[2020-09-22 17:49] #10399 closed

[2020-09-22 17:59] pshipton opened #10666 "Update Windows to openssh 1.1.1h"
openssh 1.1.1h is released today, containing bug fixes. Update Windows to use it.

[2020-09-22 17:59] pshipton commented on #10666
@jdekonin

[2020-09-22 18:04] andrewcraik commented on #10621
This could be some kind allocator issue given the symbol CS2::heap_allocator<65536ul, 12u, TRMemoryAllocator<(TR_AllocationKind)1, 12u, 28u> >::deallocate(void*, unsigned long, char const*). The crash is in codegen based on the vmstate... Now maybe it is some kind of bug about how the CS2 structure is being used?

@hzongaro could you have a look?

[2020-09-22 18:09] AlenBadel commented on #10588
To summarize:

**Running the test as-is (Without Overriding JVM Options) on a resource constraint system**
- The test will fail with the segmentation fault we're seeing. The core file is not saved on disk.
- An additional core file may be saved to disk with the `setNativeOutOfMemoryError`, this core is not a dump of the thread that encountered the segmentation fault. I'm unsure of the origins of t

[2020-09-22 18:20] gita-omr commented on #10588
Thanks for the summary. I would propose to focus on **Running the test with -Xjit:count=0 on a system with ample resources** but I am open to other suggestions.

[2020-09-22 18:26] gacholio commented on #10623
I am strongly against this - it's a hack which fixes exactly one place. Does this even have any real meaning in the specification? We had to do this in a few places in the interpreter to fix ZOS XLC, but the correct solution would have been to make the field volatile. It also results in the compiler doing very foolish things (even though it correctly read the field and stored it to the stack, it w

[2020-09-22 18:26] rpshukla commented on #10665
Haven't seen a failure yet. Here are a couple more grinders:

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3954/ 20/20 passed
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3955/

[2020-09-22 19:41] mpirvu commented on #10623
Is it possible for `j9method->extra` to move from "startPC" (i.e. last bit 0) to something else? If so, then with `volatile` we have the original problem: we do the test, find the method compiled, then read `extra` again to find the jitted body info, but this changed to something else and we crash.

[2020-09-22 19:44] gacholio commented on #10623
Yes, the field would need to be volatile and also read only once into a local.

[2020-09-22 19:44] dmitry-ten commented on #10663
I got `cmdLineTester_SCHelperCompatibilityTests_unix_1` to segfault on the server, inside `TR::SymbolValidationManager::isClassWorthRemembering`. One of the classes passed inside it to `_fej9->isSameOrSuperClass` seems to be invalid.
So #10664 is probably the culprit, as it's one of the few changes between passing and failing nightly builds, and the above method has been reworked in it.
I'm runnin

[2020-09-22 19:50] rpshukla commented on #10504
I reverted the GRA change and still saw the failure.

[2020-09-22 19:54] rpshukla commented on #10504
I did 10 runs with this memcpy change reverted and saw no failures:
https://github.com/eclipse/omr/pull/5492/commits/53e268901718ba11f03440febaeb64fed8ddf1c1

[2020-09-22 20:30] pshipton commented on #10629
I suspect we're having a problem with the resources available on the machines. The previous failure contains `Initialization error for library j9jit29(11): cannot initialize JIT`, similarly to https://github.com/eclipse/openj9/issues/10650

[2020-09-22 20:40] pshipton commented on #10663
@dmitry-ten #10664 isn't merged yet, is there a typo?

[2020-09-22 20:41] dmitry-ten commented on #10663
Oops, yeah, I mean #10644

[2020-09-22 20:56] dmitry-ten commented on #10663
Java 11 sanity tests also passed without the SVM change.

[2020-09-22 21:54] mpirvu commented on #10663
I think this line can create problems for JITServer:
`static SystemClassNotWorthRemembering _systemClassesNotWorthRemembering[];`
Being a static it will apply to all clients and a j9method for one client may be a bogus pointer for another client.

[2020-09-22 22:03] dmitry-ten commented on #10663
Oh, true. Yeah, then it has to be due to system class addresses persisting across multiple clients.

[2020-09-22 22:08] mpirvu commented on #10663
One possible fix could be to store `_systemClassesNotWorthRemembering[];` array into the client session and have a function that returns a pointer to this array. For non-jitserver it could return the address of the static field as defined by Irwin and for JITServer it could return a pointer to a per-client array stored in the session data.

[2020-09-22 22:21] dmitry-ten commented on #10663
Yeah, that's what I was thinking as well, I'll make a pr.

[2020-09-22 23:59] dmitry-ten commented on #10663
I think we could cache the classes not worth remembering in `VMInfo` safely, since they are all system classes, so I think they should be always loaded.

[2020-09-23 00:05] nbhuiyan commented on #8972
I have been trying to reproduce this on Grinder as well as locally with Xdump options I can use for my investigation. Unfortunately, after 100 iterations on Grinder and almost 200 iterations locally of running the failed test target, I could not reproduce this failure. Are there any other recent builds where this happened?

[2020-09-23 02:22] pshipton commented on #9549
Now that jextract has been updated to find the java and system libraries, can jdmpview be updated with similar changes?

[2020-09-23 02:29] pshipton commented on #8972
I haven't seen it, but will report here if it shows up again.

[2020-09-23 02:49] pshipton commented on #10528
@babsingh fyi

[2020-09-23 02:50] pshipton commented on #10528
This must have been fixed already, since jdk16 is building now.

[2020-09-23 02:50] #10528 closed

[2020-09-23 03:10] pshipton commented on #10512
@gaolibj OpenJ9 builds created with the correct options can use openssl to accelerate some crypto algorithms (see https://www.eclipse.org/openj9/docs/djdknativecrypto/). Builds created at AdoptOpenJDK.net and OpenJ9 load openssl from the system, first trying to load 1.1.1, then 1.1.0, then 1.0.2.
See https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/src/java.base/aix/native/li

[2020-09-23 03:24] pshipton commented on #10503
What version of Java are you trying?

[2020-09-23 12:42] siruslan commented on #2312
The interest to java elasticity is keep growing as more people get familiar with the recent related improvements introduced in OpenJDK. Is there any way to configure OpenJ9 and get the same (or at least similar) results without the need to change the simple test app mentioned earlier in this thread? There is an overview presentation: [State of Java Elasticity. Tuning Java Efficiency](https://www.s

[2020-09-23 13:02] pshipton opened #10671 "JIT assert RegDepCopyRemoval.cpp:441 VMState: 0x00055aff"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Personal/6
sun/util/resources/cldr/TimeZoneNamesTest.java
cent6-x64-5
[code]

[2020-09-23 13:05] keithc-ca commented on #9549
Yes, it could. However, it will need more care because `jdmpview` shouldn't be making the assumption (as `jextract` does) that the core file was produced by the same JDK on the same system.

[2020-09-23 13:26] Leonardo2718 commented on #10671
@andrewcraik @r30shah This is the assert we added in https://github.com/eclipse/omr/pull/5219.

[2020-09-23 13:35] r30shah commented on #10671
@pshipton This is the same failure as seen in https://github.com/eclipse/openj9/issues/10630 and also contains more useful dumps. In the jitdump I can see which node it complains about. Trees looks like following.

[code]

When RegDepCopyRemoval works with the GlRegDeps `n5n`, to minimize shuffling, it will create fresh copy of node `n3n` for PassThrough `n6n` where original node is already in r12

[2020-09-23 13:41] andrewcraik commented on #10671
Ah ok yeah the assert is just not handling the case of a copy of a register passed straight through the block.. so no functional issue just a bug in the assert logic.

[2020-09-23 14:09] tajila commented on #10541
@pwagland Its the fix is currently being reviewed then it has to be tested. Ill try to get it in for the 0.23 Milestone (deadline Oct 1) which should be released sometime late October. Otherwise, you can get a binary from adoptopenjdk nightlies as soon as the PR is merged.

[2020-09-23 14:24] pshipton commented on #10623
Another similar crash.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/496
[code]

[2020-09-23 14:34] dsouzai opened #10673 "Make J9method.extra volatile"
https://github.com/eclipse/openj9/issues/10623 exposed the issue that because the extra field of a J9Method is a global that can be modified by another thread (and accesses to it aren't locked), it is possible to read the value once, make a decision based on it, read it again and then be in an invalid state. In order to prevent the C++ compiler from privatizing reads of the extra field, the field

[2020-09-23 14:40] dsouzai commented on #139
Does this still need to be open?

[2020-09-23 14:41] dsouzai commented on #26
Does this still need to be open? I don't find `JITINLINE` anywhere in the codebase

[2020-09-23 14:41] pshipton commented on #10588
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/55
[code]

[2020-09-23 14:42] dsouzai commented on #156
Maybe this could be added as a feature for the perf-agent work over at https://github.com/amyhou/openj9-utils?

[2020-09-23 14:42] dnakamura commented on #9195
@jjohnst-us  At present there isnt a good cross compile story for openj9. There is something there for omr. Basically you run the build twice once with just the native compiler to build native tooling. (tracegen, hookgen etc). On the second pass you use the cross compiler and point cmake to the previously built tools.  However I'm not sure how well this will work with openj9/openjdk. I know llvm d

[2020-09-23 14:47] dsouzai commented on #501
Is this still needed given the dockerfile generator script?

[2020-09-23 14:52] dsouzai commented on #1105
I think this can be closed, given that portable AOT is the default when running in an container.

[2020-09-23 14:56] dsouzai commented on #2202
Does this still need to be open?

[2020-09-23 14:58] AdamBrousseau commented on #501
I vote close

[2020-09-23 15:04] keithc-ca commented on #10588
The latest crash is worse: the handler crashed:
[code]

[2020-09-23 15:05] #2810 closed

[2020-09-23 15:11] dsouzai commented on #3100
Does this still need to be open?

[2020-09-23 15:18] liqunl commented on #10665
Could be related to #10365, will update with my finding later.

[2020-09-23 15:25] dsouzai commented on #4888
Do we still need this open? I see some uses in OpenJ9 already.

[2020-09-23 15:30] hangshao0 commented on #10534
Working on a customer issue. Will come back to this issue after that.

[2020-09-23 15:31] babsingh commented on #10528
The compile failure was fixed in https://github.com/eclipse/openj9/pull/10530.

[2020-09-23 15:33] fjeremic commented on #139
I think so. I have no idea what the sequence looks like on JDK11 today. I'm not sure it is feasible to modify the String Builder Transformer in a way to capture the sequence on JDK11. Some investigation needs to be done.

[2020-09-23 15:38] mpirvu commented on #1105
Agreed

[2020-09-23 15:38] #1105 closed

[2020-09-23 15:52] SueChaplain commented on #3100
@dsouzai  - I'll create a docs item to update https://eclipse.github.io/openj9-docs/tool_jdmpview/#j9help.  with the. caveat Dan suggests. Otherwise, I think this can close.

https://github.com/eclipse/openj9-docs/issues/640

[2020-09-23 16:01] pshipton opened #10676 "Optional workaround for jextract RAS build id difference when processing core file"
There was a crash on plinux in the builds last night (https://github.com/eclipse/openj9/issues/10588#issuecomment-697467680), something we've been chasing. I want to jextract the core file and get the system libraries so we can look at it (the crashing machine doesn't have gdb installed). The builds last night don't contain the latest jextract fix https://github.com/eclipse/openj9/pull/10661, when

[2020-09-23 16:04] fjeremic commented on #10630
@r30shah yes this failure generated a useful jitdump showing a clear error:

[code]

[code]

You can find the jitdump in the Artifacts safed on the build:

[code]

[2020-09-23 16:04] fjeremic commented on #10630
By the way @r30shah we should use `TR_ASSERT_FATAL_WITH_NODE` for that assert you linked which gives a lot more context.

[2020-09-23 16:05] pshipton commented on #10676
It's also likely the buildID isn't as unique as we expect, or isn't working for versions after jdk8. I manually created a core file with an older jdk15 (9/18) build, and used newer builds with updated jextract to process it without any errors.

[2020-09-23 16:07] fjeremic commented on #9120
The changes delivered here are already starting to show their benefit, for example a 0/420 defect was able to produce a useful jitdump on first failure data capture over in #10630 which will aid in debugging the assert there.

[2020-09-23 16:08] pshipton commented on #10676
Related to the previous comment, if you want to look at the core and builds I used, they are in /home/jenkins/peter on cent7-ppcle-3.

[2020-09-23 16:26] r30shah commented on #10630
@fjeremic  Yes, checked it again with the context of https://github.com/eclipse/openj9/issues/10671 where I did see the ASSERT message as well which is missing from this failure. But I can verify that the node in question pointed by the `TREE VERIFICATION ERROR -- node [    0x3ffea5945ff0] ref count is 11 and should be 10` is the one that is used under one of the GlRegDeps where is is under PassTh

[2020-09-23 16:34] dmitry-ten commented on #10663
@dsouzai does SVM need to know if the class not worth remembering gets redefined? Because if a class gets redefined, its J9Class pointer might change, although I am not sure if this applies to system classes. Current implementation of `_systemClassesNotWorthRemembering` does not handle this case so I assume that's not an issue.

[2020-09-23 16:36] dsouzai commented on #10663
The class not worth remembering is a heuristic; if the class gets redefined, the `_systemClassesNotWorthRemembering` array could be updated, but I don't think it's worth the effort.

[2020-09-23 16:52] dsouzai commented on #8422
Closing based on inactivity; @AleksNo please reopen if you're still having this problem.

[2020-09-23 16:52] #8422 closed

[2020-09-23 16:57] AlenBadel commented on #10588
Right. We've been seeing that all along, which is why the core files never end up being saved to disk.

[2020-09-23 17:06] pshipton commented on #10588
There is a core file, what I assume you are saying is that the core file is for the writeCrashDataToConsole issue and not the original issue. @keithc-ca can you please help look at the writeCrashDataToConsole problem.

[2020-09-23 17:09] #4275 closed

[2020-09-23 17:27] pshipton commented on #9990
@keithc-ca I think this can move forward again. Is it ok to move it to the 0.25 milestone for the Java 16 release?

[2020-09-23 17:28] mpirvu commented on #10663
In the following code:
[code]
we call `_fej9->isSameOrSuperClass((J9Class *)systemClassNotWorthRemembering->_clazz, (J9Class *)clazz`
If there is a chance of `systemClassNotWorthRemembering->_clazz` becoming bogus due to redefinition things may blow up.

[2020-09-23 17:29] pshipton commented on #8641
I'll work on the suggestions in the draft PR for the next release.

[2020-09-23 18:03] #501 closed

[2020-09-23 18:05] keithc-ca commented on #10676
The way the buildID is formed differs in cmake and UMA builds.
* in cmake builds it is `yyyyMMddHHmmss` (see [build_tags.cmake](https://github.com/eclipse/openj9/blob/6fd34cb50272d9a1ff02611c349699b620ae8a4d/runtime/cmake/build_tags.cmake#L25))
* in UMA builds it is derived from the hash code of the build spec id and the build number (the value of the `-buildId` option) (see [BuildInfo.java](https

[2020-09-23 18:30] pshipton commented on #10676
The original jdk15 build that produced the core is from Adopt. The builds running jextract on the core are the PR builds from the pull requests, first jdk15 and then jdk8. None of these should be cmake builds since only jdk11 uses cmake.

[2020-09-23 18:41] tajila opened #10680 "Snapshot and Restore application state"
Persist Application state

This is a large PR and consists of many different changes, they are
described below:

Persist portlibrary in image file
-------------------------------------
Even with ASLR disabled shared libs files can be mapped into different
memory addresses from run to run. This can happen if there are
differences (difference from snapshot to restore run) in the way java
launcher (j

[2020-09-23 18:41] tajila commented on #10680
Just keeping this here until all the limitations are addressed

[2020-09-23 18:45] dsouzai commented on #10663
If there is a chance of systemClassNotWorthRemembering->_clazz becoming bogus due to redefinition things may blow up.

When classes are redefined, they get redefined in place. So even if `systemClassNotWorthRemembering->_clazz` is now a completely different class, it will still be a valid `J9Class *` pointer.

[2020-09-23 18:56] mpirvu commented on #10663
That's what I wanted to hear! I thought that might happen, but wasn't sure.

[2020-09-23 18:57] pshipton commented on #8809
Moving this to the backlog until there is resource to work on it and it becomes a priority. It may not be important to have jextract working when the signed builds can't produce core files on OSX anyway.

[2020-09-23 18:57] pshipton commented on #9535
Moving to the backlog.

[2020-09-23 18:58] pshipton commented on #7352
@DanHeidinga I don't expect this will be finished for the 0.23 release, moving out.

[2020-09-23 19:01] pshipton commented on #10513
Moving to the backlog.

[2020-09-23 19:05] pshipton commented on #10044
Moving to the backlog.

[2020-09-23 19:07] pshipton commented on #9788
The change has been documented, moving this to the backlog.

[2020-09-23 19:09] pshipton commented on #9912
@sharon-wang any update on this?

[2020-09-23 19:11] pshipton commented on #10071
@theresa-m is there anything left to do for this besides https://github.com/eclipse/openj9/pull/10279 ?

[2020-09-23 19:13] pshipton commented on #7354
@DanHeidinga @mikezhang1234567890 with the merges above, can this be closed?

[2020-09-23 19:15] DanHeidinga commented on #7354
not that I'm aware of.  @mikezhang1234567890 ?

[2020-09-23 19:17] DanHeidinga commented on #7352
Agreed.  I think the tentative target is JDK16

[2020-09-23 19:27] mikezhang1234567890 commented on #7354
Nothing else I'm aware of either.

[2020-09-23 19:27] pshipton commented on #10631
Another one
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/57
win2012-x86-6
[code]

`Failed to commit memory: address=00000007005F0000, size=3063152640`
as per https://github.com/eclipse/openj9/issues/10650#issuecomment-696333582 we now have 8G swap space on this machine. Not sure what is going on, we should be able to allocate 3G on a 8G machine, in part

[2020-09-23 19:38] sharon-wang commented on #9912
@pshipton Been chatting back and forth with @mreuvers in the OpenJ9 Slack.

I've tried looking at the sample app from #8454 (different problem than this one, but same classloader setup) to identify possible code paths leading to this failure. So far I have not been able to reproduce the current issue by tweaking the sample app.

Sent over a JDK with some changes (extra startingLudclObject checks),

[2020-09-23 19:40] #7354 closed

[2020-09-23 20:20] pshipton commented on #9912
I'll tentatively move this to the next milestone, but if a fix is ready by Oct 4 we should evaluate if it's low enough risk to put into the 0.23 release.

[2020-09-23 20:24] pshipton commented on #10591
I'll move this to the backlog since the test is questionable as it also fails on Hotspot.

[2020-09-23 20:24] harryyu1994 opened #10683 "Turn off cpu features which are not used by the compiler"
AOT cpu feature compatibility checks should only be performed on processor features that are used by the compiler.
There is no reason to fail the compatibility check just because one of the unused feature was not available on the host machine. We also need to design a mechanism to prevent us from unintentionally turning off used features and warn us when previous unused features become used.

## T

[2020-09-23 20:26] harryyu1994 commented on #10683
FYI @mpirvu

[2020-09-23 20:35] harryyu1994 commented on #10683
The mechanism to warn us when previous unexploited features become exploited:
- Maintain the list of exploited features
- When processor detection APIs are used, check first if the feature of interest is in the list of exploited features. If not in the list then we throw an assertion to inform developers that they need to add it to the list of exploited features before using the API on the feature

[2020-09-23 21:30] JasonFengJ9 commented on #10247
dup of https://github.com/eclipse/openj9/issues/10066

[2020-09-23 21:30] #10247 closed

[2020-09-23 21:33] #9018 closed

[2020-09-23 21:33] #9442 closed

[2020-09-23 21:37] JasonFengJ9 commented on #9186
Occurred in a JDK16 internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/232`:
[code]

[2020-09-23 22:12] JasonFengJ9 commented on #8972
@pshipton no, I haven't seen it for a while, also tried TRSS search in recent builds and no hits either.

[2020-09-24 10:05] andrew-m-leonard commented on #9797
Happened again: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_x86-64_windows/317/consoleFull

[2020-09-24 10:10] andrew-m-leonard opened #10684 "java/lang/invoke/InvokeDynamicPrintArgs.java: IncompatibleClassChangeError"
Failure link
------------
jdk8u272-b08_openj9-0.23.0-m1
Platform: aarch64
test case: sanity.openjdk : java/lang/invoke/InvokeDynamicPrintArgs.java
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/51/console

[code]

[2020-09-24 12:19] theresa-m commented on #10071
I don't believe so.

[2020-09-24 12:44] #10630 closed

[2020-09-24 12:47] pshipton commented on #10684
@knn-k

[2020-09-24 12:51] knn-k commented on #10684
Possibly related to Issue #10413, which is also failing in the Java method `com.sun.tools.javac.comp.Infer$InferenceContext.notifyChange()` in Java 8.

[2020-09-24 12:59] r30shah commented on #10630
@pshipton  Can we deliver this in 0.23 branch if possible?

[2020-09-24 13:01] #10535 closed

[2020-09-24 13:15] pshipton opened #10685 "openjdk LoggingDeadlock2 Child exited with status: 255"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_mac_Nightly/54
java/util/logging/LoggingDeadlock2.java
osx1014-x86-2
[code]

[2020-09-24 13:19] hzongaro commented on #10621
Tried reproducing the failure locally, on my laptop.  No luck so far.  Peter Shipton submitted a [grinder run](https://ci.eclipse.org/openj9/job/Grinder/1060/) of 20 iterations for me, but it didn't reproduce the failure either.

[2020-09-24 13:31] pshipton commented on #10630
@r30shah Pls cherry pick the change against https://github.com/eclipse/openj9-omr/tree/v0.23.0-release and let me know the #.

[2020-09-24 13:34] gita-omr commented on #10638
Ran grinder 30 times and it never failed.

[2020-09-24 13:36] r30shah commented on #10630
Thanks @pshipton , here is the PR https://github.com/eclipse/openj9-omr/pull/79

[2020-09-24 13:38] pshipton commented on #10071
I'll go ahead and close this, since we have #10279 open for the remaining work. I've added it to the next milestone so it's not forgotten.

[2020-09-24 13:38] #10071 closed

[2020-09-24 15:03] ajohnson1 commented on #10535
Thank you

[2020-09-24 15:18] andrewcraik commented on #9453
I am going to close this as no further diagnostics have been provided - we would love to get to a root cause so if the requested diagnostics can be provided please re-open.

[2020-09-24 15:18] #9453 closed

[2020-09-24 15:18] mnalam-p commented on #10489
Was not able to reproduce the crash on grinder (100 serial iterations). All 100 run passed.

[2020-09-24 15:20] andrewcraik commented on #9683
@fjeremic do we need to push this out again?

[2020-09-24 15:26] pshipton commented on #10621
Subsequently ran 160 more iterations without a reproduction.

[2020-09-24 15:50] AlenBadel commented on #10588
I was able to narrow the problem down to this simple test case.
[code]

I'm able to get a core file via GDB, however a normal invocation of this test cases the handler to hang attempting to create the core file.

[2020-09-24 16:03] jdekonin commented on #10631
@pshipton I had looked but the systems appears fine.  No extra processes.  Maybe checking closer to the time of the failure would give a different picture.

[2020-09-24 16:14] liqunl commented on #10665
It seems to be different than #10365, there are different problems show up in the core dump. It is a crash in populateVPicSlotCall, when we're trying to get j9method from vtable of a class. The object reference passed to the helper is bad, thus the j9class we got from it is also bad. Looking at its caller, there are the following problems

1. Object reference seemed to become stale in places witho

[2020-09-24 16:14] harryyu1994 opened #10689 "Portable SCC: Enable Portable AOT by default in containers for default gc policy"
We need to disable Portable AOT by default in containers if the user has explicitly specified a different gc policy.
The reason for this is that there is potential overhead for the JVM to be running in Portable AOT mode. When the gc policy is not the default, it's more likely that the Portable AOT will be invalidated so we are going to avoid the overhead by disabling it by default. The user would

[2020-09-24 16:27] gita-omr commented on #10588
What happens with -Xint?

[2020-09-24 16:33] AlenBadel commented on #10588
Test Passes with `-Xint`, and passes allocating smaller memory segments.

[2020-09-24 16:46] rpshukla commented on #10504
I was able to reproduce this issue on an internal grinder with `-Xint`. It appears this is not a jit problem.

[2020-09-24 17:58] andrewcraik commented on #10588
Is the `-Xint` pass because we run less allocations total or do we do the same allocation with the JIT it just isn't satisfied or something?

[2020-09-24 17:58] mnalam-p commented on #10489
Was not able to reproduce the crash on grinder after 200 iterations. All 200 run passed

[2020-09-24 18:01] pshipton commented on #10631
@jdekonin what about memory usage on the machine?

[2020-09-24 18:22] avermeer opened #10692 "GetStringRegion returns invalid unicode strings when running with –XX:+CompactStrings"
Hello,

We found the following OpenJ9 issue while debugging our application with German locale on Windows 10.

Here is a sample code:

[code]

when running this sample with `-XX:+CompactStrings`, the windows's title is garbled:
![image](https://user-images.githubusercontent.com/17863217/94183551-e0ece500-fea2-11ea-88af-3ea43a16db32.png)

whereas when running without `-XX:+CompactStrings`, the wind

[2020-09-24 18:23] pshipton commented on #10504
This is a system test, are you sure the JVM getting NPE is running with -Xint?

@tajila fyi the previous comment. Note this is set as a blocker for the release, and occurs frequently in the builds.

[2020-09-24 18:29] pshipton commented on #10692
Looks like a sign extension problem. @fjeremic

[2020-09-24 18:34] pshipton commented on #8972
Even though I'm not convinced the problem is resolved given https://github.com/eclipse/openj9/issues/8972#issuecomment-696829594, I'll close it. We can reopen if the problem is seen again.

[2020-09-24 18:41] andrewcraik commented on #10504
I would note the lack of JIT changes in the windows pointed out by @rpshukla - there isn't much different in the JIT so there is some reason to think it isn't the compiler. I suggested trying a compiler swap to see if we can recreate in the bad build with the good JIT to make sure the defect has the right home.

[2020-09-24 18:46] gacholio commented on #10692
Probable fix is here:

https://github.com/eclipse/openj9/blob/3ed57f5b52b46b36ab39f0e6ed3fa6eb8f2a4cb1/runtime/vm/jnimisc.cpp#L948

Adding a U_16 (or better yet U_8) cast before the cast to jchar will likely fix it. The problem is that the array load macro evaluates to an I_8, not a U_8.

I suspect there will be other occurrences of this problem.

[2020-09-24 18:50] gacholio commented on #10692
As suspected, searching for `(jchar)J9JAVAARRAYOFBYTE_LOAD` yields more results. The GC code is correct (if potentially inefficient) because it masks the result with `(jchar)0xFF` before the assignment. I'd be tempted to do it a single way (with the U_8 cast preferrably) all throughout.

@dmitripivkine

[2020-09-24 19:18] jdekonin commented on #10631
It was hovering around 1.2G in use when it was idle.  I did notice something odd though, the system has only been up for 17 hours, so its rebooted since that test ran.  I wasn't able to determine the cause for the reboot though.  It wasn't windows update as that is off and updates are performed manually.

[2020-09-24 19:35] DanHeidinga commented on #10659
First attempt at this: https://github.com/eclipse/openj9/pull/10695

[2020-09-24 19:38] DanHeidinga commented on #10659
And maybe some progress on contributor teams having triage rights which may make this less necessary https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071

[2020-09-24 20:51] megazone23 opened #10696 "AdoptOpenJDK 8 OpenJ9 crash when Oracle Java 15 is in the PATH on Windows"
Java -version output
--------------------

openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
Eclipse OpenJ9 VM (build openj9-0.21.0, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20200728_776 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - c82ff0c20f based on jdk8u265-b01)

Summary of problem
------------------

If Oracle Java 1

[2020-09-24 21:27] rpshukla commented on #10504
I'll try a compiler swap.

[2020-09-24 21:40] pshipton commented on #10504
The problem is intermittent, we don't know the build previous to the first failing build is the "good" build, so https://github.com/eclipse/openj9/issues/10504#issuecomment-693537179 may not be the right set of changes to look at.

[2020-09-24 21:42] pshipton commented on #10504
https://github.com/eclipse/openj9/issues/10504#issuecomment-696198224 is based on only 10 runs, which may not be enough to prove it's a "good" build.

[2020-09-24 21:49] pshipton commented on #10631
Likely there will be another occurrence, which I'll record here when it occurs so we can look.

[2020-09-24 21:57] rpshukla commented on #10504
I agree.

I was going to make "good" and "bad" builds using these changes but I guess we don't know if the previous build is "good".

@pshipton is there a reason that the JVM in a system test wouldn't pick up the -Xint flag?

[2020-09-25 00:13] #10692 closed

[2020-09-25 03:13] pshipton commented on #10504
If multiple JVMs are started, the -Xint flag may not be passed into the JVM which gets the NPE. Another way to check this is to set an -Xdump option to create a javacore file on NPE, and (a) see if the javacore is created (b) if there is a javacore created, confirm that -Xint is set.

[2020-09-25 06:33] avermeer commented on #10692
Hello,

Thank you very much, that was a fast one :)

May I ask on which AdoptOpenJDK nightly build this fix should be testable on my side ?

Kind regards,
Alexandre

[2020-09-25 13:50] keithc-ca opened #10699 "JVM functions renamed in jdk16"
Changes for '8253500: [REDO] JDK-8253208 Move CDS related code to a separate class' lead to build failures, e.g. https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/294/ :

[code]

[2020-09-25 14:36] keithc-ca commented on #8508
@jdekonin Is anything left to be done here?

[2020-09-25 15:11] AlenBadel commented on #10588
We're running the same test with the same number of allocations, both with and without -Xint.

Updating with the stack trace.
[code]

[2020-09-25 16:40] AlenBadel commented on #10588
Narrowing it further,

- This is reproduced by limiting compilation to `jdk/internal/foreign/NativeMemorySegmentImpl.makeNativeSegment` hence we don't need to worry about any callers being compiled.

- Crash only occurs when inlining is enabled. It's reproducible when inlining is the only optimization enabled.

- Further, allocating a Memory Segment larger than `Integer.MAX_VALUE` causes the failu

[2020-09-25 17:10] AlenBadel commented on #10588
Precisely, the crash is occurring in the following portion of the compiled method.

[code]

My assumption is that this loop is actively clearing memory allocated.

Specifically,
`r2` contains 0.
 `r3` starts off with the head of the memory to be allocated, and is incremented to subsequent segments as each segment is cleared.
The number of segments to be cleared is determined the value stored into

[2020-09-25 17:45] pshipton commented on #10294
@tajila this should get some investigation when someone has time.

[2020-09-25 17:59] pshipton commented on #10692
It's not in the Sept 24 build, so it should be in the next one.

[2020-09-25 18:02] pshipton commented on #10692
Actually the fix was merged late in the day, so we should either check if the next build contains it, or wait for the Sep 26 nightly.

[2020-09-25 18:09] pshipton commented on #7594
Haven't seen this issue again, closing.

[2020-09-25 18:09] #7594 closed

[2020-09-25 18:12] tajila commented on #10294
@JasonFengJ9 Can you please take a look at this

[2020-09-25 18:16] avermeer commented on #10692
@pshipton thanks for your answer, I'm going to check early next week (Monday 28th of Sep) with most recent nightly build

Kind regards,
Alexandre

[2020-09-25 18:17] JasonFengJ9 commented on #10294
@tajila sure, will look into it.

[2020-09-25 18:38] AlenBadel commented on #10588
The size of the segment inside the java stack is correct. This issue is stems from an instruction call srawi which only shifts the lower 32 bits.  I.e it sounds like somewhere we're assuming the generated size to be an integer.

[code]

[2020-09-25 18:38] dmitripivkine commented on #8621
Double mapping feature has been redesigned and free from this defect.

[2020-09-25 18:38] #8621 closed

[2020-09-25 18:42] dmitripivkine commented on #8789
This problem has been solved and item can be closed

[2020-09-25 18:42] #8789 closed

[2020-09-25 18:52] pshipton commented on #8948
This hasn't been seen in some time so closing. We can reopen if it's seen again.

[2020-09-25 18:52] #8948 closed

[2020-09-25 19:01] dmitripivkine commented on #9123
This problem has been solved and item can be closed

[2020-09-25 19:01] #9123 closed

[2020-09-25 19:03] dmitripivkine commented on #9170
This problem has been solved and item can be closed

[2020-09-25 19:03] #9170 closed

[2020-09-25 19:06] dmitripivkine commented on #9286
This problem has been solved and item can be closed

[2020-09-25 19:06] #9286 closed

[2020-09-25 20:03] pshipton opened #10706 "openjdk plinux/AIX abort creating jitdump"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/157
jdk/test/sun/misc/CopyMemory.java
ub18-ppcle-1
[code]

[2020-09-25 20:24] pshipton opened #10707 "openjdk jdk/internal/loader/ClassLoaderValue crash vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/182
test/jdk/jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java
ub16x64j94
[code]

[2020-09-25 20:30] pshipton opened #10708 "jdk15 reflect cache NoSuchFieldException: root"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64_aix_Nightly_testList_0/57
cmdLineTester_reflectCache_0
The failure is occurring across all platforms.
[code]

[2020-09-25 20:35] pshipton commented on #10708
Changes from the previous build which didn't have this failure.

https://github.com/eclipse/openj9/compare/7591bf3...d638000
https://github.com/eclipse/openj9-omr/compare/b5e3f10...79c250b

[2020-09-25 20:38] pshipton commented on #10708
@tajila the problem shows up because the test was added to OpenJ9, but it indicates the reflection cache isn't working for jdk15.

@llxia can you pls help exclude this test for jdk15 until the problem can be resolved.

[2020-09-25 20:43] pshipton commented on #10708
Sorry, actually I think it just means the test needs to be fixed for jdk15.

[2020-09-25 20:48] pshipton commented on #10708
The field still exists, but the module access rules are preventing access.

[2020-09-25 20:49] andrewcraik commented on #10706
@gita-omr this is on P so could someone have an initial look for a backtrace etc to see if it is an opt problem or a codegen problem?

[2020-09-25 20:51] pshipton commented on #10706
There is another one from a different test.
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/57
test/jdk/java/util/Iterator/IteratorDefaults.java
cent7-ppcle-3
[code]

[2020-09-25 20:57] dmitry-ten opened #10709 "JITServer tests on power segfault with vmState=0x00040000"
JITServer sanity testing on power hangs indefinitely because many tests are segfaulting which causes the failing test to hang for a long time.
All of the failing tests that I see segfaulting are jvmti related, i.e.:
[code]

Example of a backtrace:
[code]
It's unclear when exactly the failures started happening, since there are no nightly builds for power, but I see the last successful test build a

[2020-09-25 20:57] dmitry-ten commented on #10709
@mpirvu fyi

[2020-09-25 21:11] rpshukla commented on #10504
I did some runs with the options `-Xint -Xdump:java:events=throw+systhrow,filter=java/lang/NullPointerException#net/adoptopenjdk/test/hcrAgent/agent/StringTransformer.transform*,request=exclusive+preempt` and saw the same NPE in `StringTransformer.transform`.

I looked at one of the failed runs. There were six javacores created. I don't see the usual `UserArgs` section but they do say `JIT disable

[2020-09-25 21:35] JasonFengJ9 opened #10710 "JDK15 Windows cmdLineTester_decompilationTests_1_FAILED - decomp001"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.functional_x86-64_windows_Nightly_testList_1/49`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
06:14:17  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=functio

[2020-09-25 21:55] pshipton commented on #10504
@tajila Since it occurs with -Xint, please find someone to take a look.

[2020-09-25 22:04] pshipton commented on #10504
Before they disappear, here is the previous nightly build data.

#1016 - Nightly Aug 28, 2020 9:30 PMOpenJ9: dd041d8 OMR: 23ce7a1 OpenJDK8: 182efd2 - openj9-openjdk-jdk8
#1015 - Nightly Aug 27, 2020 9:30 PMOpenJ9: d5de935 OMR: 97452b4 OpenJDK8: 182efd2 - openj9-openjdk-jdk8
#1014 - Nightly Aug 26, 2020 9:30 PMOpenJ9: ab44069OMR: 97452b4OpenJDK8: 182efd2 - openj9-openjdk-jdk8

The first one is the

[2020-09-25 22:09] pshipton commented on #10504
Confirmed HCRLateAttachWorkload_0 is running in the 1014 build.

[2020-09-25 22:46] AlenBadel commented on #10588
Changing `srawi` to `sradi` looks to resolve the issue on Power.

https://github.com/AlenBadel/omr/commit/0b9653c23ba22247f66c11ad6df8a3b46c2c4738

I'll be taking a look on xLinuxXL to see if it's a similar story.

[2020-09-26 16:26] JasonFengJ9 opened #10712 "JDK11 : jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java - Segmentation error vmState=0x00000000"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/182/consoleFull
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
02:44:12  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&

[2020-09-26 16:34] JasonFengJ9 opened #10713 "JDK15 java/util/Iterator/IteratorDefaults.java : Agent communication error: java.io.EOFException with dump files"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/57/console
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
02:13:20  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64le_linux&TAR

[2020-09-26 16:38] JasonFengJ9 commented on #10713
A similar Agent communication error at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/157/console
[code]

[2020-09-27 12:20] gita-omr commented on #10588
I think we need to find out  which opcode (or some recognized method?) this instruction is coming from and check/document overall assumptions about the incoming length for that code.

[2020-09-28 00:49] #10699 closed

[2020-09-28 12:21] tajila commented on #10504
@mikezhang1234567890 Can you please take a look at this

[2020-09-28 12:53] DanHeidinga commented on #10586
@ymanton I've assigned this to you based on prior discussions, if that's wrong, please set it back to unassigned.  Thanks

[2020-09-28 13:14] DanHeidinga commented on #10712
@JasonFengJ9 this looks like a duplicate of https://github.com/eclipse/openj9/issues/10707

[2020-09-28 13:14] #10712 closed

[2020-09-28 14:24] IBMJimmyk commented on #10588
From what Alen showed me, it comes from `Unsafe.setMemory(Ljava/lang/Object;JJB)V`. The third parameter is the size of the data to write and it accepts a Long value. The generated code treating it like an int value is wrong.

[2020-09-28 14:40] mikezhang1234567890 commented on #10504
Will take a look.

[2020-09-28 14:43] pshipton commented on #10707
@tajila seems like a regression, it would be good for someone to look at this asap.

[2020-09-28 14:45] tajila commented on #10707
@ChengJin01 Can you please take a look at this

[2020-09-28 14:47] pshipton commented on #10713
Dup of https://github.com/eclipse/openj9/issues/10706

[2020-09-28 14:47] #10713 closed

[2020-09-28 14:51] fjeremic commented on #9683
Yeah we do. @VermaSh has been picking this item up in the background. Hopefully we can have an update in the next few weeks once he ramps up. We are committed to getting this fixed.

[2020-09-28 15:09] ChengJin01 commented on #10707
Will investigate to see what happened in there.

[2020-09-28 15:15] dchopra001 commented on #4391
As part of this work we should add AOT and remote compilation support for PC-relative instructions as well.

Right now, the story for relative instructions on Z is as follows:

1. If we are using a `BRASL` to branch to a method, then we can relocate that method call.
2. If we are trying to reach an address within the JITT'ed method, we don't need a relocation as the relocation as the offset remain

[2020-09-28 15:30] AlenBadel commented on #10588
Running the same test https://github.com/eclipse/openj9/issues/10588#issuecomment-698430817 on XLinuxXL does not produce a crash, or does it hang.

I will continue attempting to reproduce this on XLinuxXL, but I believe the reproduction rate was established to be less than 1 in 300. https://github.com/eclipse/openj9/issues/10580#issuecomment-694222270

[2020-09-28 15:34] dchopra001 opened #10719 "Recognize calls using helper implementation in the codegen"
See https://github.com/eclipse/openj9/pull/6908#issuecomment-671357778 for a background into the problem that surfaced this issue.

A proposed solution to the above problem is that we should look into having a common place in the codegen where calls such as `java/lang/invoke/ComputedCalls.dispatchJ9Method_L` are recognized, and handled accordingly (for remote and AOT compilations) so that relocati

[2020-09-28 15:56] hzongaro commented on #8872
Taking a look at #8872 and #9651

[2020-09-28 16:03] cedrichansen opened #10721 "Heapothesys benchmark findings for Balanced and Gencon GC's"
GC Benchmark [Heapothesys  ](https://github.com/corretto/heapothesys/tree/master/HyperAlloc) (now called HyperAlloc) was used to compare performance of OpenJ9's Gencon, and Balanced GC's, as well as Hotspot's G1 collector.

A series of tests were run on all 3 GC's, to compare performance, and to find areas where OpenJ9's GC's could improve.
There were 3 major issues/areas of improvement for OpenJ9

[2020-09-28 16:06] #10623 closed

[2020-09-28 16:06] #10673 closed

[2020-09-28 16:32] dchopra001 commented on #6914
JITServer should now be functional on Z. I have updated the final issue with build results here: https://github.com/eclipse/openj9/pull/10688#issuecomment-699039258.

If any new issues arise in the future, then they can be solved individually. Closing this issue.

[2020-09-28 16:33] dchopra001 commented on #9068
Since performance is no longer an issue for JITServer on Z, I am closing this issue.

[2020-09-28 16:34] #9068 closed

[2020-09-28 16:34] #6914 closed

[2020-09-28 16:34] harryyu1994 commented on #10689
@mpirvu @dmitripivkine FYI

[2020-09-28 16:48] #10294 closed

[2020-09-28 17:18] Thihup commented on #3370
Was there any progress?

[2020-09-28 17:19] michael-o commented on #3370
The FreeBSD issue was closed recently.

[2020-09-28 17:19] andrewcraik commented on #10588
@IBMJimmyk is a tree problem or a codegen problem just to be clear on the width issue at play here? I'm guessing codegen?

[2020-09-28 17:29] gita-omr commented on #10489
@JasonFengJ9 @pshipton considering the same build did not fail after 200 runs should we close this issue or at least declare a non-stop-ship?

[2020-09-28 17:31] jdekonin commented on #9806
@pshipton any comment on my previous question?

[2020-09-28 17:34] gita-omr commented on #10706
Yes, we'll take a look.

[2020-09-28 17:49] JasonFengJ9 commented on #10489
@gita-omr I feel we should keep this issue open to track potential future occurrence for a while. Considering the low failure rate and not reproducible in a grinder, it probably is not qualify for a stop ship defect unless @pshipton disagrees.

[2020-09-28 18:06] pshipton commented on #9806
I'd prefer to keep what we have for distributed testing. If where is some problem keeping the older machines let me know.

[2020-09-28 18:08] pshipton commented on #10489
This isn't assigned to the 0.23 milestone, so it was never a ship issue.

[2020-09-28 18:08] IBMJimmyk commented on #10588
At least the problem on Power was a codegen issue. The child for the size of the data to write was an `lload` which is expected. What was going on was the call to `Unsafe.setMemory` was being recognized as `sun_misc_Unsafe_setMemory`.  Part way into generating code for a recognized call to `Unsafe.setMemory` the wrong data size is used from an instruction which treated the data as if it was int an

[2020-09-28 18:20] andrewcraik commented on #10588
ok great thanks - just confirming there wasn't a trees/common issue - looks to be codegen - thanks!

[2020-09-28 18:50] AlenBadel commented on #10588
In regards to the crash on power, the following are the trees generated.
[code]

I'll be taking a second look at the generated sequence to see if there were any similar assumptions, otherwise we should be ready for a PR.

On the XlinuxXL front, I'm checking if there are similar assumptions taken (I.e size of data treated as an int), otherwise there's very little I can do without being able to repr

[2020-09-28 19:08] andrewcraik commented on #10588
so the trees do look correct so the issue would just be incorrect widths in the codegen - thanks for the great analysis @AlenBadel

[2020-09-28 19:10] gita-omr commented on #10588
I think we still need to understand the whole flow: which opcodes and evaluators are involved. For example, we might be reusing some code that normally accepts int length.

[2020-09-28 19:24] AlenBadel commented on #10588
I agree. I will have an update soon with the summary of the issue from a top-down approach.

[2020-09-28 19:38] keithc-ca commented on #10588
It occurs to me that this would have been avoided if we had some kind of 'compiler' to check uses like that, along the lines of the error you get in Java passing a long to a function that expects an int (e.g. `Integer.valueOf(42L)`). To make it concrete here, we would have a class whose job is to form an instruction stream, that class would have methods `srawi(Register32,Register32,int32_t)` and

[2020-09-28 19:45] dsouzai opened #10724 "Free translation artifacts on the restore run"
Currently, on the restore run, the translation artifacts (jitConfig->translationArtifacts) are not freed. This is necessary because on the restore run the translation artifacts will have a mix of data from the image as well as data that has been allocated using j9mem_allocate_memory. In order to free memory safely, code would need to be added to check which kind of free should be used.

[2020-09-28 19:45] dsouzai opened #10725 "Serialize/Deserialize Thunk Tables"
TR_J2IThunkTable is used for InvokeExact thunk; this is a non POD type so it needs to be serialized/deserialized in order to build up the thunk tables in there restore run for when ASLR is disabled.

We might also have to look at the j2i and other thunks.

[2020-09-28 19:46] dsouzai opened #10726 "Ensure vmthread fields used by JIT are reset"
The snapshot code currently assumes certain data that's dangled off the vmThread is not persistent. Therefore, when the vmthreads are stored into the image, these fields should be reset.

From what I can tell, the fields are:
profilingBufferEnd
profilingBufferCursor
jitExceptionHandlerCache
jitArtifactSearchCache
aotVMwithThreadInfo
jitVMwithThreadInfo
jitPrivateData

fyi @tajila

[2020-09-28 19:47] dsouzai opened #10727 "TR_PersistentClassLoaderTable will need to be supported for AOT"
If AOT is ever to be supported, we will have to add support for TR_PersistentClassLoaderTable. I'm opening this issue simple for the "FYI" purposes.

[2020-09-28 19:49] dsouzai opened #10728 "CH Table Subtleties around Recompilation"
Port of issue from the internal repo:

The Persistent CH Table consists of entries of type TR_PersistentClassInfo, there is a 1-1 mapping between a class info entry and a J9Class. The class info has some flags that are global.

getFieldInfo/setFieldInfo - The field info gets set if we perform the TR_ClassLookahead opt.
getTimeStamp - Only relevant if TR_IProfilerPerformTimestampCheck is set.
getUn

[2020-09-28 19:49] dsouzai commented on #10728
Comment by @vijaysun-omr:

Worst case, maybe you can track if any class was redefined in the JCL before the snapshot was taken via a single boolean that you persist in the snapshot somewhere and if not (as would likely be the common case) then it should not affect the recognized methods logic.

Another option is to track the list of redefined classes and write out in the snapshot and then set the

[2020-09-28 19:50] dsouzai opened #10729 "Use offsets for serialized runtime assumptions"
With the ability to serialize runtime assumptions. However, the serialized data contains pointers that should be converted to offsets, specifically, when serializing the following fields:

OMR::RuntimeAssumption::_key
TR_PatchJNICallSite::_pc
TR_UnloadedClassPicSite::_picLocation
OMR::SentinelRuntimeAssumption::_owningMetaData

[2020-09-28 20:21] gita-omr commented on #10588
Yeah, it's something to consider in the future. Basically, Power codegen's assumption is that a register containing an Int can have an undefined value in it's upper half. So Int and Long types need to be treated differently. However we only have Register class and not Register32 and Register64.

[2020-09-28 21:27] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_lambdaLoadTest/20
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-09-28 21:42] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/11

[2020-09-28 21:48] pshipton commented on #10631
Another one, on win2012-x86-6
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Release/6

[2020-09-28 21:55] pshipton commented on #8972
A bunch more here https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_Nightly/162
Caused 19 failures in the same test run.
java/lang/String/Supplementary.java.Supplementary
java/lang/String/ToLowerCase.java.ToLowerCase
java/lang/String/ToUpperCase.java.ToUpperCase
java/lang/String/UnicodeCasingTest.java.UnicodeCasingTest
java/lang/StringBuffer/AppendCharSequence.java

[2020-09-28 21:56] pshipton commented on #10343
Dup of https://github.com/eclipse/openj9/issues/8972

[2020-09-28 21:56] #10343 closed

[2020-09-28 22:02] nbhuiyan commented on #8972
Resuming my investigation into this failure again.

[2020-09-28 22:05] ChengJin01 commented on #10707
1) I manually ran the failing test case individually over 10 times with the specified build in the test job but everything works good without any crash detected [ClassLoaderValueTest.jtr.txt](https://github.com/eclipse/openj9/files/5295017/ClassLoaderValueTest.jtr.txt), which means the problem occurred intermittently.

2) Looking at dumps generated in the test job at https://140-211-168-230-openst

[2020-09-28 22:06] pshipton opened #10732 "testSoftMxDisclaimMemory Memory didn't release back to OS"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly_testList_0/57
testSoftMxDisclaimMemory_2
ub18-ppcle-1
[code]

[2020-09-28 22:06] pshipton commented on #10732
@dmitripivkine fyi

[2020-09-28 22:09] pshipton commented on #10732
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly_testList_0/58

[2020-09-28 22:12] pshipton commented on #10732
First occurrence:
OpenJ9: 150f183
OMR: 79c250b
OpenJDK: 39a43ea

Previous build:
OpenJ9: 150f183
OMR: 79c250b
OpenJDK: 39a43ea

[2020-09-29 02:34] pshipton opened #10737 "Boot jdk for jdknext must be jdk15 or 16"
With the latest jdknext build, the boot jdk must be jdk15 or 16. Pls update to jdk15.

[2020-09-29 02:34] pshipton commented on #10737
@jdekonin

[2020-09-29 04:11] pshipton commented on #10580
I think we'd better reopen this. #10588 has identified a ppc code gen problem, however this can't be causing the test failure on xlinux.
[code]

[2020-09-29 12:34] JasonFengJ9 opened #10738 "JDK16 build : Your Boot JDK version must be one of: 15 16"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/298/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-09-29 12:35] pshipton commented on #10738
Closing as dup of #10737

[2020-09-29 12:35] #10738 closed

[2020-09-29 14:54] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/120

[2020-09-29 14:57] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/62

[2020-09-29 15:26] DanHeidinga commented on #9443
I'm going to link to https://github.com/eclipse/openj9/pull/10606#issuecomment-700763909 and quote it here to ensure the conversation doesn't get lost:

Existing application is horizontally scaled so there are two instances running now. How does it connect to the JITServer
Existing application can scale to N instances. When does this require more JITServers?
Application is upgraded and has a new b

[2020-09-29 15:44] LongyuZhang opened #10741 "testSCCMLTests1_openj9_1 failed with openjdk11 Aarch64"
Failure link:
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/1

testSCCMLTests1_openj9_1 Test 26 failed with timeout issue for openjdk11 Aarch64.

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-09-29 15:45] pshipton commented on #10650
What looks like a related failure, which is a hang this time, on the updated win2012-x86-5
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/63
[code]

[2020-09-29 15:46] ChengJin01 commented on #10707
Launched two grinders (x50) to see whether the crash can be reproduced:
1) by default: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10835/
2) -Xint: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10836/

[2020-09-29 15:53] hangshao0 commented on #10741
Is this failure intermittent or consistent ? Does it fail on Java 8 ?

[2020-09-29 15:55] hangshao0 commented on #10741
FYI @knn-k

[2020-09-29 16:08] dmitry-ten commented on #10709
@harryyu1994 fyi.

[2020-09-29 16:41] LongyuZhang commented on #10741
The jdk11 Aarch64 pipeline was just enabled and only has a build so far. I tested with [personal build](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3993/) and it passed, so I think it is intermittent.
JDK 8 nightly has not been enabled due to machine resources.

[2020-09-29 17:16] ChengJin01 commented on #10707
Both grinders passed without any issue:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10835/tapTestReport/ (by default)
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10836/console (-Xint)

So launched another two grinders (x200) to see how it goes:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10839/ (by default)
h

[2020-09-29 17:22] liqunl commented on #10580
@pshipton Is this failure more reproducible on the internal build you're seeing? We haven't been able to reproduce in 300 jobs. And we can't figure out anything with just the output. If we can't reproduce it and there's no core dump from original failure, there's nothing we can do.

[2020-09-29 17:48] andrewcraik commented on #10628
@a7ehuo can you have a look?

[2020-09-29 17:56] llxia commented on #10741
@LongyuZhang Could you try using the same SDK as the test build (`OpenJDK Runtime Environment Openj9 (build 11.0.9+8-202009282343)`)? The Ginder runs that you have is an older version from Adopt API (`OpenJDK Runtime Environment Openj9 (build 11.0.9+8-202009252344)`)

[2020-09-29 18:06] pshipton commented on #10580
@liqunl pls take a look at the internal link I provided (job/Test_openjdknext_j9_sanity.openjdk_x86-64_linux_Personal/12). It failed in the last 2 builds, and perhaps others before that.

[2020-09-29 18:14] harryyu1994 commented on #10709
Had an offline discussion with Dmitry. Not very likely a processor detection issue and the segfault may have existed for a long time. Processor detection issues usually affect all platforms and all tests. We may want to go back even further to find the first offending build.

[2020-09-29 18:17] harryyu1994 commented on #10709
The "last successful build 2 weeks ago" was a false positive. A processor detection bug made JITServer throw an assertion and as a result of that JITClient runs locally and passes all the tests. Now the processor detection bug went away the issue got exposed.

[2020-09-29 18:24] dmitry-ten commented on #10709
Yeah, so the actual issue is most likely with OSR not working correctly for JITServer on power

[2020-09-29 19:08] dmitripivkine commented on #10732
looks like mentioned builds are the same

[2020-09-29 20:14] babsingh opened #10744 "JIT SIGTRAP Signal Handler Issue"
## Issue

**Incorrect behaviour:** OpenJ9 terminates abruptly or generates a core file for TRAP instructions when run in `RPM` package manager on RHEL8.2 ppc64le. This behaviour is not seen outside of `RPM` package manager. Similar behaviour is also seen on SLES15 ppc64le

The issue is introduced because of https://github.com/eclipse/omr/pull/4554, which impacts JIT's `SIGTRAP` signal handler.

Re

[2020-09-29 20:19] klangman commented on #10744
The problem also happens on SLES 15 for PPCle.

[2020-09-29 20:22] dmitripivkine commented on #10732
<img width="371" alt="Screen Shot 2020-09-29 at 4 20 22 PM" src="https://user-images.githubusercontent.com/18148831/94611597-f5006000-026f-11eb-95c9-386bd9b63a28.png">

[2020-09-29 20:29] dmitripivkine commented on #10732
Softmx option works: according GC verbose log heap contraction occur as expected
<img width="841" alt="Screen Shot 2020-09-29 at 4 26 22 PM" src="https://user-images.githubusercontent.com/18148831/94612334-f7af8500-0270-11eb-86ea-4de4e6aff9a5.png">

[2020-09-29 20:31] pshipton commented on #10732
Yup. Seems we just got unlucky a couple of times, this didn't re-occur last night.

[2020-09-29 20:38] LongyuZhang commented on #10741
@llxia Thanks for the reminder, I have updated the SDK to the same version as the nightly build and tested on multiple machines.
Only the same machine as nightly build (test-aws-ubuntu1804-armv8-1) also failed at [Test 26](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4007) (I manually cancelled after hanging for 1 hour) , other machines (test-packet-ubuntu1604-armv8-2, test-aws-rhel76

[2020-09-29 21:08] dmitripivkine commented on #10732
Test checks actual memory available in OS. It is sensitive to running environment. We use to have similar failures in the past.

[2020-09-29 21:15] dmitripivkine commented on #10732
Also there are OOM "heap memory" at the end of the test. Test instructed to contract heap to ~84m:
[code]
and this seems not enough for test + test framework itself

[2020-09-29 22:18] ChengJin01 commented on #10707
Still passed without any issue:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10839/tapResults/
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/10840/tapResults/

So it seems the problem can't be reproduced locally or via grinders.

[2020-09-29 22:24] pshipton opened #10747 "jcmd doesn't request system dumps with exclusive access"
jcmd requests system dumps without options, which means it defaults to without exclusive access. This can make the dumps unusable. The `Dump.system` option already takes a filename parameter. The command can be extended to take other parameters as well so the user can set any options. It may be worth making the default parameters `request=exclusive+prepwalk` if nothing is specified.

[2020-09-29 22:28] kgibm commented on #10747
Looking at this again, I'm not sure why I put `compact` in there. There are times when we might want to see trash in the tenured region, so perhaps `request=exclusive+prepwalk` might be a better default (I've also never fully understood whether `prepwalk` is important or not). I'm curious what you all decide if this is delivered and then I'll match Java Surgery, Liberty, and tWAS to that.

[2020-09-29 22:37] gita-omr commented on #10638
An update: the job is unfortunately gone by now. I took a look at the artifacts and all javacore files are empty, system core did not show anything. I guess let's wait until it fails again...

[2020-09-29 23:33] pshipton commented on #8972
Another one in an internal test
job_output.php?id=657892400 [Linux Hammer]

[2020-09-29 23:36] pshipton commented on #10747
You didn't put compact, you mentioned serial instead, which I don't think is needed with exclusive. I copied those options from the defaults for OOM. @dmitripivkine any comments?

[2020-09-29 23:41] pshipton commented on #10707
Ok, we can let it sit for a while and see if it happens again. If it's JIT related, it might be more reproducible somewhere else, or be fixed by a change for something else.

[2020-09-29 23:47] pshipton commented on #10638
@gita-omr Not sure why you are seeing empty javacore files, I can see content in them.

[2020-09-30 00:18] gita-omr commented on #10638
Oh, maybe I ran out of disk space! Thanks.

[2020-09-30 02:18] jdekonin commented on #8508
I never got an answer to my question about what we should be using for `data seg size`.  I started searching for documentation, and I found that IBM Java documentation details that -c, -n, -d, -f all need to be set to unlimited in order to enable full core dump generation.
https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/docs/j9_configure_ulimits.html

So i guess the

[2020-09-30 02:18] #8508 closed

[2020-09-30 02:24] liqunl commented on #10580
I'm able to reproduce the timeout consistently on internal machine, and with `-Xint`, but can't reproduce it on my own VM. The difference is that internal machine has only 3G free memory, and my VM has 9G. The test that hangs is
https://github.com/ibmruntimes/openj9-openjdk-jdk15/blob/openj9/test/jdk/java/foreign/TestMismatch.java#L113

It's allocating 2G native memory each segment, 4G in total.

[2020-09-30 02:43] pshipton commented on #10580
Great work. I hate to exclude the test, since it found a bug on plinux. I suppose we could just exclude it on xlinux. I'm not sure how often it fails on the OpenJ9 machines, if ever. Or how often on the Adopt machines. Or if the xlinux failures are always timeouts.

@jdekonin seems the internal machines are light on resources.

[2020-09-30 03:19] jdekonin commented on #10580
2 cpu, 4G ram system use to be standard test machine size.  Is this not the case any more?  Is there a different minimum that we should be using?

[2020-09-30 04:05] pshipton commented on #10580
Apparently so, obviously some of the openjdk tests require more.

[2020-09-30 08:54] paulcheeseman commented on #10747
I would vote for no `compact` option. As @kgibm says, sometimes it's very useful to be able to look at the garbage on the heap in system dumps, and it can easily be disregarded if you're not interested in it. The forced global GC associated with `compact` can also significantly increase the length of the pause after triggering the dump.

[2020-09-30 09:48] mpirvu opened #10749 "New hotFieldMarking code is incompatible with JITServer"
PR https://github.com/eclipse/openj9/pull/10124 has introduced new frontend routines:
`TR_J9VMBase::reportHotField(int32_t reducedCpuUtil, J9Class* clazz, uint8_t fieldOffset,  uint32_t reducedFrequency)`
`TR_J9VMBase::isHotReferenceFieldRequired()`
`J9::ObjectModel::isHotReferenceFieldRequired()`
that need to be overridden for JITServer to extract the desired information from the client JVM

More

[2020-09-30 13:00] pshipton commented on #10170
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/184
[code]
[code]

[2020-09-30 13:09] pshipton opened #10751 "openjdk ProcessBuilder/InheritIO/InheritIO.sh InheritIO$TestRedirectInherit failed with 255"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/168
java/lang/ProcessBuilder/InheritIO/InheritIO.sh
osx1011-x86-2
[code]

[2020-09-30 13:12] pshipton commented on #10706
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/161/
java/util/HashSet/Serialization.java
cent7-ppcle-2
[code]

[2020-09-30 13:16] pshipton commented on #8972
Another series of failures
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_xl_Nightly/169
java/lang/String/Supplementary.java.Supplementary
java/lang/String/ToUpperCase.java.ToUpperCase
java/lang/String/UnicodeCasingTest.java.UnicodeCasingTest
java/lang/StringBuffer/AppendCharSequence.java.AppendCharSequence
java/lang/StringBuffer/AppendSB.java.AppendSB
java/lang/Str

[2020-09-30 13:21] pshipton opened #10752 "openjdk System/finalization/FinThreads hang in runFinalizationImpl"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_xl_Nightly/169
Note this run also had other issues #8972
java/lang/System/finalization/FinThreads.java
ub18-390-2
[code]

[2020-09-30 13:21] pshipton commented on #10752
@dmitripivkine

[2020-09-30 13:26] dmitripivkine commented on #10747
I also vote for no `compact` option. This operation might ruin heap in cases of it's corruption. Also as mentioned already it takes extra time. `prepwalk` is essential and should be sufficient enough.

[2020-09-30 13:26] pshipton commented on #10650
More `cannot initialize JIT`.
Also `OutOfMemoryError: Failed to create a thread: retVal -1073741830, errno 22`
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/167
win2012-x86-6

[2020-09-30 13:27] pshipton commented on #10631
Another on win2012-x86-6
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/64

[2020-09-30 14:14] avermeer commented on #10692
Hello,

I confirm that this issue was fixed in recent AdoptOpenJDK 11 openJ9 nightly builds.
Thank you very much to OpenJ9 community for this very fast fix !

Kind regards,
Alexandre

[2020-09-30 15:10] liqunl commented on #10580
Checked the nodes in https://ci.adoptopenjdk.net/label/ci.role.test&&hw.arch.x86&&sw.os.linux/, all have 8G RAM. The timeout from adopt is likely different, but it's not reproducible in 300 jobs.

[2020-09-30 15:28] gita-omr commented on #10580
After investigating #10580 we know that the test is trying to allocate a lot of memory. Should we change it to either pass or give an OOM exception?

[2020-09-30 15:33] gita-omr commented on #10588
BTW : I think we need to remove the Intel  label and assume that this issue  will only take care of the Power failure.

[2020-09-30 15:47] pshipton commented on #10588
Removed the intrel label, this platform should be covered by https://github.com/eclipse/openj9/issues/10580

[2020-09-30 15:48] a7ehuo commented on #10628
I ran the test in [Grinder (10857) ](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/10857/tapResults/), so far ran 18 times, all passed. Meanwhile I'm trying to gain access to or set up a windows VM to look at the core files. There are 3 crashes shown in the console log: 2 from `OnExitTest.java` and 1 from `TreeTest.java`

Crash 1
[code]

Crash 2
[code]

Crash 3
[code]

[2020-09-30 16:01] gita-omr commented on #10638
Did it hang again on Windows? https://github.com/eclipse/openj9/issues/8214#issuecomment-700290562

[2020-09-30 16:03] AlenBadel commented on #10580
I'm not sure if it's the same issue, but JDK15 seems to hang while just doing a simple `java -Xint --version `. This has happened on non-XL PPC JDK15 builds, and was not reproducible with JDK15 XL builds, or JDK14.

This is easily reproducible by over-caching the system and pushing it into a bad state where it's starved of resources.

https://github.com/eclipse/openj9/issues/10588#issuecomment-693

[2020-09-30 16:11] a7ehuo commented on #10565
I have not been able to reproduce this issue with the latest code in value types. closing it.

[2020-09-30 16:11] #10565 closed

[2020-09-30 16:14] pshipton commented on #10638
Yes, although I suspect the Windows hang is a separate issue, related to the mode. It "regularly" hangs on Windows, but not that often.

[2020-09-30 17:01] #10541 closed

[2020-09-30 17:11] DanHeidinga opened #10753 "Test automation, take 2"
Does this get added to the project automatically?

[2020-09-30 17:18] AlenBadel commented on #10588
This description can certainly be added.

This is true, an ArraySet does normally allocate an array length of type int due to indexing limitations. The limitation is historical, and based off the class ArraySet inherits; ArrayList which itself is an implementation of List.

Looking through the remainder of the Unsafe methods, we can see that we tend use the underlying array evaluators. From what I

[2020-09-30 17:32] a7ehuo commented on #9692
This issue no longer occurs. Closed.

[2020-09-30 17:32] #9692 closed

[2020-09-30 17:39] a7ehuo commented on #8801
This issue is fixed. Close.

[2020-09-30 17:39] #8801 closed

[2020-09-30 17:40] a7ehuo commented on #6714
This issue no longer occurs. Close

[2020-09-30 17:40] #6714 closed

[2020-09-30 17:52] jdekonin commented on #10650
At the moment, there is 6.6G available, lots of space in the workspace. The build history on this machine the past day.
https://ci.eclipse.org/openj9/job/Node-Build-History/10/console

The unstable jobs
Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly (job ends 01:35:46)
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/167/consoleFull

Test_openjdk15

[2020-09-30 18:01] gita-omr commented on #10588
`The evaluator should support both long, or int length values.`

Do you mean we should be able to pass nodes with the length child being both Int and Long type?

[2020-09-30 18:10] AlenBadel commented on #10588
They can be either Long, or Int. We currently don't call `setMemoryEvaluator` for any other case other than `Unsafe.SetMemory()` which accepts a long a long length value.

However, it's better illustrated with the example of `arrayCopyEvaluator`.
Which is used by `Unsafe.CopyMemory` as it accepts a length value of long type, and at the same time is used with `System.arraycopy` which accepts a leng

[2020-09-30 18:39] keithc-ca commented on #10588
I had a look at how `writeCrashDataToConsole()` might fail, but didn't see anything obvious. Given that the current theory is that the generated code was clearing memory that should have been left alone, it's reasonable that some of the data examined by `writeCrashDataToConsole()` was corrupted and so a second fault should not be unexpected.

[2020-09-30 20:46] jdekonin commented on #10737
Linux x86
https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk-15%2B36_openj9-0.22.0/OpenJDK15U-jdk_x64_linux_openj9_15_36_openj9-0.22.0.tar.gz
- [ ] cent7-x64-1 -> cent7-x64-6

Linux PPCLE
https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk-15%2B36_openj9-0.22.0/OpenJDK15U-jdk_ppc64le_linux_openj9_15_36_openj9-0.22.0.tar.gz
- [ ] cent7-ppcle-1 -> cent7-ppc

[2020-09-30 21:43] jdekonin commented on #10737
I missed cent7-x64-4 as its offline.  I also didn't update Linux Aarch64 as there is nothing listed for 0.22.

[2020-09-30 22:34] mikezhang1234567890 commented on #10504
The problem is className being passed to the transformer is `null` here: https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/2d9430d2bfa085d0074d8ce23b22a6d46c5da1ca/openjdk.test.debugging/src/test.debugging/net/adoptopenjdk/test/hcrAgent/agent/StringTransformer.java#L67

Looks like it's caused by my change at https://github.com/eclipse/openj9/pull/10483. If a class is being defined after the

[2020-09-30 23:04] hzongaro commented on #9651
Here's what I've found so far.  I enabled the `verbose` option to check what optimization level was being reached for `FinalizeOverride.test`.  What I noticed was that in almost every case where the test passed, that method was not actually compiled.  In the cases where it failed, it was compiled uniformly at optLevel `warm` and then at `profiled very-hot`.  I'm guessing that the `profiled very-ho

[2020-10-01 00:04] pshipton commented on #10504
Same failure on Hotspot seen here https://trss.adoptopenjdk.net/output/test?id=5f73ff6211d26031c1bd2924

I assume you will create a PR to fix it.
https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.debugging/src/test.debugging/net/adoptopenjdk/test/hcrAgent/agent/StringTransformer.java#L67

[2020-10-01 12:44] hzongaro commented on #9651
Earlier I was unable to reproduce the failure with nightly builds, but I reran with `-Xjit:enableAggressiveLiveness,{*FinalizeOverride.test*}(count=5),disableAsyncCompilation` and `-Xjit:{*FinalizeOverride.test*}(count=5),disableAsyncCompilation`.  With `enableAggressiveLiveness`, there were 4/20 failures; without that option, there were 9/20 failures.

I'll check for any differences in the logs i

[2020-10-01 13:35] hzongaro commented on #9651
In every passing case, the verbose log indicated `FinalizeOverride.test` was compiled with OSR and in every failing case it had GCR.

[2020-10-01 14:05] llxia commented on #6361
We noticed the same issue in another cmdlinetest [cmdLineTester_EnableAssertionStatusTest on mac](https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Personal_testList_0/13/):

[code]

[2020-10-01 14:07] keithc-ca commented on #10676
The code that checks the buildID is currently only invoked if the basic lookup of the executable name fails and then only for ELF dumps. I propose the buildID check should always occur and on all platforms, given that we will add a way to (knowingly) ignore mismatches.

The buildID generated using cmake should be improved so it is more likely to actually be unique.

[2020-10-01 14:40] llxia commented on #3081
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Personal_testList_1/15/

[2020-10-01 15:04] llxia opened #10757 "extended.openjdk issue on JDK11 xlinux"
This is a general issue to track failure in Test_openjdk11_j9_extended.openjdk_x86-64_linux_Nightly (at internal Jenkins)

- jvm_native_sanity_0 //[changed to hotspot_native_sanity](https://github.com/adoptium/aqa-tests/pull/5367/files#diff-d2ae1ce824e94cb07603a5a77c2d8ab3c5b00617153e8d66e54a78a3ccfb4f1d)
- jvm_compiler_0 // [changed to hotspot_compiler](https://github.com/adoptium/aqa-tests/pull/

[2020-10-01 15:06] pshipton opened #10758 "jdk16 Support supplementary characters in String case insensitive operations"
From JDK16 release notes:

Support supplementary characters in String case insensitive operations (JDK-8248655)

Case insensitive operations in java.lang.String class now correctly do case insensitive comparisons for supplementary characters (characters which have code point values over U+FFFF). For details, see the updates to the methods:

   - compareToIgnoreCase(String other)
   - equalsIgnoreC

[2020-10-01 15:07] pshipton commented on #10758
@tajila  fyi

[2020-10-01 15:10] AlenBadel commented on #10588
OMR PR: https://github.com/eclipse/omr/pull/5590

[2020-10-01 15:16] mikezhang1234567890 commented on #10504
@pshipton test change is merged

[2020-10-01 15:53] pshipton opened #10759 "openjdk PlatformLoggerTest unexpected null"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/162
sun/util/logging/PlatformLoggerTest.java
cent7-ppcle-2
[code]

[2020-10-01 15:57] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/192
java/lang/System/Logger/Level/LoggerLevelTest.java.LoggerLevelTest
java/lang/System/LoggerFinder/internal/api/LoggerFinderAPITest.java.LoggerFinderAPITest

[2020-10-01 15:57] pshipton commented on #8972
I wonder if https://github.com/eclipse/openj9/issues/10759 is related.

[2020-10-01 15:59] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/64

[2020-10-01 16:05] pshipton commented on #10650
It's looking like the machines just don't have enough resources to run these tests. Also, the JIT doesn't always handle OOM well.
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/65
win2012-x86-2
[code]

[2020-10-01 16:08] pshipton opened #10760 "JIT crashing in what looks like an OOM condition"
We've been having issues with some jdk11, jdk15 openjdk tests on Windows, which look related to running out of native memory. In some cases the JIT crashes, which I expect is due to failing memory allocation. The JIT should handle it more gracefully. See https://github.com/eclipse/openj9/issues/10650#issuecomment-702237504 for the last occurrence. I expect there is a core in https://140-211-168-23

[2020-10-01 16:09] pshipton commented on #10760
@andrewcraik fyi

[2020-10-01 16:11] pshipton commented on #10504
Thanks, I'll go ahead and close this. The failure has been happening quite often in the nightly builds, looking forward to not seeing it any more.

[2020-10-01 16:11] #10504 closed

[2020-10-01 16:18] mikezhang1234567890 commented on #10484
Looking into it.

[2020-10-01 17:35] andrewcraik commented on #10760
@dsouzai have you been working on anything related to this?

[2020-10-01 17:35] andrewcraik commented on #10760
FYI @mpirvu

[2020-10-01 17:45] dsouzai commented on #10760
No, will have to take a look to see

[2020-10-01 18:03] mpirvu commented on #10760
The message `01:15:40  #INFO:  Failed to allocate 2048 Kb data cache` comes from the initialization code
[code]
so the JIT cannot start and we return error (-1) from `onLoadInternal`.
GC too has problems with memory allocation:
[code]
so it's not that the JIT erroneously thinks it's running out of memory.
As for the crashes, I am suspecting they happen during the shutdown sequence. This path of sh

[2020-10-01 19:23] dsouzai commented on #10760
The coredump in the link @pshipton provided above is 0 bytes for some reason; specifically it's the `jdk_lang_j9_0\work\java\lang\ProcessHandle\TreeTest` test according to the ouput in [1]. There are other coredumps, but because of ` "systhrow", detail "java/lang/OutOfMemoryError`, for example the `jdk_lang_j9_0\work\java\lang\ProcessHandle\OnExitTest` test.

If there's another job where there's a

[2020-10-01 20:21] keithc-ca opened #10764 "Remove support for `jextract -interactive`"
It is replaced by `jdmpview`.

[2020-10-01 20:36] aviansie-ben opened #10765 "Implement Unsafe.setMemory in terms of arrayset"
Currently, the Power codegen has code for inlining the `Unsafe.setMemory` method by using the `setmemoryEvaluator` function from OMR. However, this function seems to be practically identical to the behaviour of the `arrayset` opcode. Implementing a transformation as part of `J9RecognizedCallTransformer` to use `arrayset` to implement this method would not only allow this duplicate code to be remov

[2020-10-01 20:45] manqingl commented on #10676
@pshipton @keithc-ca : jextract not only gets the native libraries from OS, it also gets the native libraries from java itself.  Will this change messes up the native libraries from Java itself?

[2020-10-01 20:49] nbhuiyan commented on #8972
After at least 100 iterations of the failing target in each platform this failure surfaced in recently, I have been unable to reproduce it. I am not able to investigate further without being able to reproduce it and obtaining the core dumps. I will continue trying to reproduce this. I am not sure about how long it might take to achieve that.

[2020-10-01 20:50] keithc-ca commented on #10676
The proposed change should not affect the set of files collected by `jextract`.

[2020-10-01 21:21] pshipton commented on #8972
How about if we modify all the openjdk java/lang testing to have the -Xdump option you need, so the next time it occurs in the nightly builds there will be a core. file.

[2020-10-01 21:37] dmitripivkine commented on #10752
The source of the test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/System/finalization/FinThreads.java

Finalizer thread is sleeping at (FinThreads.java:73):
[code]
There are two `FinThreads$Foo` alive objects around, each of them can be associated with `Foo.create(true);`:
[code]
and `Foo.create(false);`:
[code]
Last object is a member of `finalizable` list

[2020-10-01 22:17] dmitry-ten commented on #10709
I narrowed down the issue to a few lines of assembly:
Non-JITServer code:
[code]

JITServer code:
[code]

The issue is that `gr12` is set to NULL on JITServer, which the callee `_prepareForOSR` requires to be non-NULL.
Right now I'm working to determine where in the codegen these instructions are generated, specificially the `li gr12, 0` one.
I thought it should be from https://github.com/eclipse/

[2020-10-01 22:29] nbhuiyan commented on #8972
That will be fantastic! Please add the Xdump option in [comment](https://github.com/eclipse/openj9/issues/8972#issuecomment-614232132) above for `jdk_lang_j9_0`.

[2020-10-01 23:12] mpirvu commented on #10709
Based on what you described this is the relevant instruction:
[code]
which for JITServer wants to load address 0 and the instruction becomes:
` 0x746c35ac0214 00000198 [    0x746c34b7e3c0] 39800000          0    li      gr12, 0000000000000000`
while for non-jitserver there is some big constant and Power needs a set of instructions to generate that constant (that's why TOC usually helps):
[code]
I

[2020-10-01 23:28] mpirvu commented on #10709
I wonder how we can handle cases like this where at the server you generate one instructions, but at the client, during the relocation, you need 4 instructions

[2020-10-01 23:29] mpirvu commented on #10709
Also, I wonder whether r12 has a special meaning on pLinuxLE

[2020-10-01 23:48] mpirvu commented on #10709
@ymanton, could you please offer some insight on why we need to load a big constant in the code above and how this is supposed to be handled on JITServer? Thanks

[2020-10-01 23:56] dmitry-ten commented on #10709
I actually asked him about it. r12 is supposed to have the address of the callee.

[2020-10-01 23:57] dmitry-ten commented on #10709
That's what I thought as well but I put an assert there checking that it's not 0, and it doesn't get triggered so it seems to me that something else is at play.

[2020-10-02 00:15] mpirvu commented on #10709
Aha. I was mislead by the fact that `bl      00007FFFF55453C8` already showed the target address, but that is not encoded in the instruction. Those 4 instructions actually compute the value 00007FFFF55453C8 into r12.
I still don't know how patching is supposed to happen at the client if we don't leave enough room for 4 instructions.

[2020-10-02 00:22] mpirvu commented on #10709
Actually, this seems to be the real address, not the relative address vs program counter, so we could fetch it from the client and generate the correct instruction, no patching required.

[2020-10-02 01:45] pshipton commented on #8972
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/1989

Does the option change the JIT behavior? It's interesting we haven't seen the problem again in the system testing since the option was added (although we might have missing something while I was on vacation).

[2020-10-02 01:59] nbhuiyan commented on #8972
I would be really surprised if that was the case. I did perform Grinder runs without the -Xdump option but could not reproduce the failure even then.

[2020-10-02 13:36] pshipton opened #10767 "openjdk String/Split timeout"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/66/
java/lang/String/Split.java
win2012-x86-2
[code]

[2020-10-02 13:38] pshipton commented on #10767
10x grinder https://ci.eclipse.org/openj9/job/Grinder/1088/

[2020-10-02 14:24] AlenBadel commented on #10588
The above PR has been merged.

Fix will be merged into R0.23 as well.
https://github.com/eclipse/openj9-omr/pull/81

[2020-10-02 14:40] llxia opened #10768 "ub16x64j96 takes long time to do checkout scm"
It took [ub16x64j96](https://ci.eclipse.org/openj9/computer/ub16x64j96/) ~19 mins to do `checkout scm` ([Grinder link](https://ci.eclipse.org/openj9/view/Test/job/Grinder/1090/)).The process usually takes <15secs (see [the example on s390](https://ci.eclipse.org/openj9/view/Test/job/Grinder/1091/)).

Below is the Jenkins console output. Unfortunately, Jenkins does not provide timestamp at this sta

[2020-10-02 14:59] pshipton commented on #10768
Many UNB machines seem to be having problems connecting with jenkins this morning, not sure if this is related.

[2020-10-02 15:01] pshipton commented on #10768
@jdekonin @AdamBrousseau fyi

[2020-10-02 15:02] pshipton opened #10769 "ub16-390-1 offline"
[code]

[2020-10-02 15:02] pshipton commented on #10769
@jdekonin @AdamBrousseau

[2020-10-02 15:18] jdekonin commented on #10769
Its not letting me manually delete the jenkins jar for connection.  There were a number of security updates that needed applying to I applied those before triggering a reboot.  Deleted the jenkins jar manually fine after that.  System is back online and performing jobs.

[2020-10-02 15:32] #10769 closed

[2020-10-02 15:35] tajila commented on #10752
Ill take a look

[2020-10-02 15:36] tajila commented on #10752
@dmitripivkine Is this easily reproduce-able?

[2020-10-02 15:48] jdekonin commented on #10768
If its more than 1 system that would imply its not likely a machine specific problem.  I'll see what information I can get from our UNB friends.

[2020-10-02 16:10] dmitripivkine commented on #10752
I did not try but I guess it is very intermittent (based it has been observed once only). I do have files loaded for original hang.

[2020-10-02 17:07] ChengJin01 commented on #10696
1) Tried with the nightly build AdoptOpenJDK8/OpenJ9 (https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-10-01-16-17/OpenJDK8U-jdk_x64_windows_openj9_2020-10-01-16-17.zip) and the nightly build AdoptOpenJDK15/Hotspot (https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk15u-2020-10-01-04-18/OpenJDK15U-jdk_x64_windows_hotspot_2020-10-01-04-18.zip) as f

[2020-10-02 17:08] ChengJin01 commented on #10696
Hi @megazone23, could you please try the latest release or nightly build to see whether the problem still occurs?

[2020-10-02 17:33] dmitry-ten commented on #10709
I think that we can just use AOT code for this.
https://github.com/eclipse/omr/blob/d405b96ece6beef491fd75e2fa039cae9c7bc140/compiler/p/codegen/OMRTreeEvaluator.cpp#L261-L264
This always uses 4 instructions to load the value and has relocations.
But I still don't see where 0  value is coming from.

[2020-10-02 17:52] pshipton commented on #10747
I'll work on this.

[2020-10-02 18:10] keithc-ca commented on #10747
I think I'm just about done. ;-) I think the essential change is to add `":request=exclusive+prepwalk"` to the request in `DiagnosticUtils::doDump`.

[2020-10-02 18:17] JasonFengJ9 commented on #10747
This is the trick part which made me thinking.

[2020-10-02 19:19] dmitry-ten commented on #10709
Ok, I found where 0 comes from:
https://github.com/eclipse/omr/blob/d405b96ece6beef491fd75e2fa039cae9c7bc140/compiler/p/codegen/PPCSystemLinkage.cpp#L1448
It's here where `runtimeHelperValue(55)` returns 0, with  55 corresponding to the helper number of `TR_prepareForOSR`.
Something strange is happening here, when I check `_helpers` array, I see that `TR_prepareForOSR` is not set there, despite it

[2020-10-02 19:19] keithc-ca opened #10772 "Not all properties returned by J9JavaVMHelper.getSystemProperties(J9JavaVMPointer)"
In particular, `java.runtime.name` and `java.runtime.version` appear to be missing.

[2020-10-02 19:22] dmitry-ten commented on #10709
On JITServer server:
[code]

Withouth JITServer:
[code]

[2020-10-02 19:33] dusanboskovic commented on #10772
This is output of `java -XshowSettings:properties` for OpenJ9 release 0.18.1, JRE 11
[code]

And this is the output when iterating through the `properties` hashtable in the core file for OpenJ9 release 0.18.1, JRE 11
[code]

As Keith mentioned above, `java.runtime.name` and `java.runtime.version` are both missing from the core file, in addition to other differences.

[2020-10-02 19:43] mikezhang1234567890 opened #10773 "Investigate the impact of slower PAUSE instruction on Skylake+"
## Background
In Skylake and later, the PAUSE instruction takes an order of magnitude more cycles than it did in previous architectures.
https://aloiskraus.wordpress.com/2018/06/16/why-skylakex-cpus-are-sometimes-50-slower-how-intel-has-broken-existing-code/ provides good background information on this.

## Potential Impact On Locking Code
Conceptually, the PAUSE instruction should allow other thr

[2020-10-02 19:43] mikezhang1234567890 commented on #10773
fyi @tajila @babsingh

[2020-10-02 19:44] keithc-ca commented on #10772
The latter says:
[code]
which doesn't look like it came from JDK 11.

[2020-10-02 19:52] dusanboskovic commented on #10772
This was for JDK8. Reran the command for JDK11 and updated the list above

[2020-10-02 19:55] pshipton commented on #10747
I haven't updated the help, and it's not tested yet, but this is what I'm thinking. https://github.com/eclipse/openj9/pull/10774

[2020-10-02 19:56] dmitry-ten commented on #10709
Oh, I see that we disabled helper initialization for JITServer server

https://github.com/eclipse/openj9/blob/a283be7889c67a4c72ee5925366b82e28eddcc1e/runtime/compiler/control/rossa.cpp#L1854-L1860

[2020-10-02 20:17] pshipton commented on #10747
@dmitripivkine @kgibm what about heap dumps? The default is `exclusive+compact+prepwalk`, should I set jcmd differently?

[2020-10-02 20:18] pshipton commented on #10747
Note a user can change the default settings via `-Xdump:<type>:defaults:...`, although only when starting the JVM.

[2020-10-02 20:23] kgibm commented on #10747
In my opinion, I think heapdumps should have a default without `compact` for the same reasons as core dumps. It might be related to some of the original tooling for heapdump analysis (e.g. HeapAnalyzer) not performing a virtual global GC upon loading a dump and therefore making it a bit more difficult to analyze heaps not under GC pressure, but this point seems to be moot now with Eclipse MAT.

[2020-10-02 20:43] mpirvu commented on #10709
Interesting. How is this working on other platforms then?

[2020-10-02 20:53] llxia commented on #10768
The machine ub16x64j96 seems back to normal now. https://ci.eclipse.org/openj9/view/Test/job/Grinder/1100/ (checkout scm took 56 secs)

[2020-10-03 01:41] DanHeidinga opened #10778 "test automation again"

[2020-10-03 01:42] DanHeidinga commented on #10778
Success!  Closing

[2020-10-03 01:42] #10778 closed

[2020-10-03 01:49] DanHeidinga commented on #10659
Working now https://github.com/eclipse/openj9/pull/10775

[2020-10-03 01:49] #10659 closed

[2020-10-03 01:53] #8641 closed

[2020-10-05 00:01] JasonFengJ9 commented on #10628
A similar error (as per stacktrace) occurred at JDK15 https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Personal/11/consoleFull
[code]

[2020-10-05 00:07] JasonFengJ9 commented on #10569
Another occurrence at JDK15 https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Release/7/consoleFull
[code]

[2020-10-05 00:32] JasonFengJ9 commented on #10629
Another occurrence at https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/66/consoleFull

@pshipton I agree a resource constrained machine might have caused the segmentation error, but does the repeating segmentation error warrant an investigation why a graceful exit didn't happen?

[2020-10-05 12:42] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Release_testList_1/9

[2020-10-05 14:27] liqunl commented on #9782
Rflag in javacore is 0x0000000000010646, same as the original crash. Java call stack is different
[code]

@pshipton How can I get the permission to run grinders? Where can I download the build?

[2020-10-05 14:35] tajila commented on #10773
FYI @vijaysun-omr

[2020-10-05 14:38] pshipton commented on #9782
You can run internal grinder. To run grinders at OpenJ9 you need to be a committer. Let me know what you want to run and I start the grinders.

To find the build, there is a link in the test console output, or see the `Started by upstream project` link and follow that to find the build.

The build is https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_mac_R

[2020-10-05 14:41] pshipton commented on #9782
Starting with 60 iterations across 3 machines, and see if that works.
https://ci.eclipse.org/openj9/job/Grinder/1101/

[2020-10-05 14:41] babsingh commented on #10773
FYI @andrewcraik
Q1. Would you know a benchmark from the BumbleBench suite, which will allow us to vary the size of (or time spent in) a critical section and number of concurrent threads accessing that critical section?
Q2. Are there any Skylake machines available in the open? Is there a preference for a non-Skylake machine?

[2020-10-05 14:48] andrewcraik commented on #10773
@babsingh
Q2 - I don't know what hardware is available in the open unfortunately, you will need to ask on the Slack channel to see who knows what boxes are available. If you need something at IBM we can discuss offline.

Q1 - There isn't a BumbleBench benchmark in the suite at present. I have written a simple one and will send it to you offline rather than cluttering the comments with code. It use

[2020-10-05 17:46] pshipton commented on #10629
Sure, just not sure it's a priority. If I'm correct, even if we fix all the places that don't handle OOM gracefully, the test would still fail.

[2020-10-05 17:48] dmitry-ten commented on #10709
Oh, I see. During relocation of helper addresses, the new address of the helper is patched directly from the client helper table, so it doesn't matter that it's 0.
With this code on Power though, I do not understand how relocation is supposed to work.
I think this is the correct code path for putting the address of `_prepareForOSR` helper in `r12` register and adding a relocation for it.
[code]
Ho

[2020-10-05 17:52] dmitry-ten commented on #10709
[code]
`00007FFFF55453B0` is the correct helper address, while `00007FFFD1E4A128` is what gets stored in `r12`
@ymanton would you know how this is supposed to work?

[2020-10-05 18:15] gacholio commented on #10480
Output after fix:
[code]

[2020-10-05 18:17] dmitry-ten commented on #10709
The relocations used in `addMetaDataForLoadAddressConstantFixed ` are created before binary encoding, so we don't have a cursor yet, so I don't think it's possible to add `TR_HelperAddress` relocation there. And looking at the history, this code is meant to add SVM specific relocations.
So far, the only solution I see here is fetching the helper address directly from the client, instead of using r

[2020-10-05 18:19] gacholio commented on #10476
I suggest adding a "non-null jobject" type since this needs to be checked in a lot of places.

[2020-10-05 18:23] JasonFengJ9 commented on #10476
Sure, will look into it.

[2020-10-05 18:33] JasonFengJ9 commented on #10629
If those places are fixed to handle error properly and the test fails with exception/error, it can be excluded.
Agreed this probably won't have the priority. In that case, should we tag it as `Backlog` or `prio:low` such that no further investigation until there is need to do so?

[2020-10-05 18:34] gacholio commented on #10476
This will also be needed for #10479 along with a further type check.

[2020-10-05 18:37] gacholio commented on #10477
Note the spec says the buffer can be NULL if the length is 0.

[2020-10-05 19:29] mpirvu commented on #10709
I am ok with fetching the helper address directly when it's not used in a relative manner.

[2020-10-05 19:59] keithc-ca commented on #4780
These messages can safely be ignored.

The first is triggered by line 7302 of `jdk/src/share/classes/javax/swing/plaf/nimbus/skin.laf`:
[code]
In Java 11 (and later versions) such messages are only emitted if the [`debug`](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/make/jdk/src/classes/build/tools/generatenimbus/PainterGenerator.java#L61) flag is true; e.g. see [PainterGenerat

[2020-10-05 19:59] #4780 closed

[2020-10-05 20:23] ymanton commented on #10709
I don't think that the `TR_HelperAddress` relocation on Power can deal with patching a materialization sequence. It only deals with patching a single relative call instruction. We do have other relocations that can deal with patching a sequence, but they're for data pointers of various kind.

If you don't want to teach the relocation code new tricks then I agree fetching the helper address from th

[2020-10-05 21:21] mpirvu commented on #10709
Maybe we have to teach: `inline void*                 runtimeHelperValue(TR_RuntimeHelper h) { return runtimeHelpers.getFunctionEntryPointOrConst(h); }`  how to fetch the correct helper value.

I would also want to understand:
1) Why we have this problem only for prepareForOsr helper and not for others.
2) Why X/Z are not affected

[2020-10-05 23:07] dmitry-ten commented on #10709
`runtimeHelperValue` is defined in OMR though, so I do not see how to make it use JITServer without going through methods that can be overridden for JITServer.
1. I guess OSR is the case that gets triggered most commonly, but it should be possible for other helpers to have the same problem.
https://github.com/eclipse/openj9/blob/21836949511dfd17a5d65b864f40d265f70fc2e1/runtime/compiler/p/codegen/P

[2020-10-05 23:45] JasonFengJ9 commented on #9032
Another occurrence is at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/169/consoleFull.

Since these failures are across platforms, the `arch` label and issue title should be updated.

[2020-10-05 23:55] mpirvu commented on #10709
I think that the definition of `runtimeHelperValue` leads us to: https://github.com/eclipse/openj9/blob/master/runtime/compiler/runtime/Runtime.cpp#L168
This needs verification, but if that is the case we can teach `getFunctionEntryPointOrConst()` how to get to the start address of the helper at the client.

[2020-10-05 23:56] mpirvu commented on #10709
If there are too many extra messages we can do this just on P.

[2020-10-05 23:58] pshipton commented on #9032
@JasonFengJ9 the list of failures isn't the same, and the aarch64 test is excluded, pls open another issue for the Windows failures.

[2020-10-05 23:59] #10676 closed

[2020-10-05 23:59] #7010 closed

[2020-10-06 00:14] JasonFengJ9 opened #10793 "JDK11 Windows : Failure in java_lang_ProcessBuilder_Basic/java_id0/Basic_id0"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/169/testReport/java_lang_ProcessBuilder_Basic/java_id0/Basic_id0/

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
01:53:15  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=op

[2020-10-06 00:15] JasonFengJ9 commented on #9032
@pshipton Sure, just created https://github.com/eclipse/openj9/issues/10793 for `JDK11 Windows`, and we can determine later if they are dups.

[2020-10-06 00:41] #10480 closed

[2020-10-06 00:47] pshipton commented on #10638
Another one https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_lambdaLoadTest/146
LambdaLoadTest_OpenJ9_NonLinux_special_27
variation: Mode612-OSRG
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_

[2020-10-06 00:48] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/125
cmdLineTester_CryptoTest_0

[2020-10-06 00:55] pshipton commented on #10650
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/170/
Not sure I've noticed this message before:
`JVMJ9VM011W Unable to load j9jit29: The paging file is too small for this operation to complete`
`CreateProcess error=1455, The paging file is too small for this operation to complete`

[2020-10-06 00:57] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/66

[2020-10-06 01:27] dmitry-ten commented on #10709
Right, I didn't know there were 2 definitions of `getFunctionEntryPointOrConst`. One in OMR and one in OpenJ9. The one in OpenJ9 actually gets called, so I agree that changing that is the simplest solution. I verified that fetching helper address every time results in a lot of messages, so I'll cache the results first, and if that still produces too many messages, make the code Power only.

[2020-10-06 14:01] andrewcraik commented on #8972
Given the lack of progress I am moving this to the next release - we aren't likely to have a fix in time for the release.

[2020-10-06 14:30] r30shah opened #10795 "Document Interface Call Dispatch on platforms using PIC slots"
I am opening up this issue to document the current implementation details for interface call dispatch in OpenJ9 which uses PIC slots (Polymerhic Inline Cache).

Basic idea is to cache the class address and corresponding method address for compiled jit code in the PIC slot and check it at the call-site in the JIT compiled code to quickly dispatch the calls.  With the minor implementation difference

[2020-10-06 14:33] JasonFengJ9 commented on #10479
Working on this.

[2020-10-06 14:52] gacholio commented on #10479
Suggest using the non-null object type and adding the class checks in the checking code itself, rather than adding a new type. FromReflectedField should be updated as well (instance of Field).

[2020-10-06 15:08] ymanton commented on #10709
The other helpers are not called this way, they are reached via direct calls or via a trampoline. The other helpers are also wrapped in hand written assembly that take care of the calling convention details before passing to the C implementation. This one is called indirectly from the code cache and it is written in C so it is unique in that regard.

On x86-64 the `prepareForOSR` calling sequence

[2020-10-06 15:26] gita-omr commented on #10588
@andrew-m-leonard  can this be closed?

[2020-10-06 15:40] gacholio commented on #10481
For some reason, this works fine for strong global references. The crash is in `jniIsGlobalRef` when checking to see if a global ref is actually one of the fake references we use to pass `jclass` for static natives.

[2020-10-06 15:48] smithwil commented on #284
This diagnostic problem is still being hit in real user cases. It would save people a lot of time in diagnosing deadlocks if the owner of the `J9VMInternals$ClassInitializationLock` was shown in the javacore.

[2020-10-06 16:07] lumpfish opened #10796 "openj9 jdk11 dumpAllThreads(boolean, boolean, int) java.lang.ArrayIndexOutOfBoundsException"
At jdk10 `dumpAllThreads(boolean, boolean, int)` was introduced: https://docs.oracle.com/en/java/javase/11/docs/api/java.management/java/lang/management/ThreadMXBean.html#dumpAllThreads(boolean,boolean,int), but if this is called in the openj9 jdk11 `java.lang.ArrayIndexOutOfBoundsException` is thrown.

The test case below demonstrates the issue - tested on
[code]

Test case code:
[code]

Output r

[2020-10-06 16:24] jdekonin commented on #10737
This can be closed.

[2020-10-06 16:43] #10579 closed

[2020-10-06 16:44] #10737 closed

[2020-10-06 16:48] jdekonin commented on #10650
These systems are at 8G ram & 8G swap, but paging file is only 1280M.  The dedicated 8G drive configuration dedicated for paging didn't carry over from the reimage of the original (if it was in use on those at all).

I made the change to enable the additional space for paging file and did a grinder on the failed job.  Looking good now on win2012-x86-6.  System now configured with 9270M paging spac

[2020-10-06 16:55] pshipton commented on #10588
I'll go ahead and close it since the fix has been merged, we can open a new issue if another problem is found.

[2020-10-06 16:55] #10588 closed

[2020-10-06 16:56] jdekonin commented on #10650
All the other systems have been updated to be the same.

[2020-10-06 17:44] dmitripivkine commented on #10689
I believe the current approach make early guess base on options provided it is way to nowhere and pure hack. Now because we don't know gc policy very early (and gc policy even not we want to guess barriers type) we are facing need to add extra parsing for gc policy (and variation of Concurrent Scavenger) etc.
I guess would it be better to try different strategy:
- add "signature" to Portable AOT i

[2020-10-06 17:45] JasonFengJ9 commented on #10476
This can be closed since #10794 has been merged (missed `closes` in the PR).

[2020-10-06 17:56] pshipton opened #10799 "OpenJ9 -Xlog is a different option than Hotspot -Xlog"
Hotspot introduced JEP 158 (see https://github.com/eclipse/openj9/issues/8195) which adds the -Xlog option. OpenJ9 already implements a -Xlog option for a different purpose https://www.eclipse.org/openj9/docs/xlog/.

When the Hotspot -Xlog is used with OpenJ9 it causes a `JVMJ9VM085W Malformed option:` error.

OpenJ9 now parses the JAVA_OPTIONS environment variable for compatibility, which may con

[2020-10-06 18:00] #10476 closed

[2020-10-06 20:16] liqunl commented on #9120
I found one problem in a crash. The original crash is in AOT compilation, but the replay is for JIT compilation which finishes without error.

[2020-10-06 20:52] keithc-ca opened #10803 "Improve Java preprocessor"
Some time back, I [proposed ](https://github.com/eclipse/openj9/pull/6397#discussion_r301703029) that the Java preprocessor should support numeric comparisons, in particular expressions like
[code]

That would reduce the number of configurations required in `jpp_configuration.xml`, and would eliminate the need to add a new configurations every six months (e.g. `JAVA16` was added recently and befor

[2020-10-06 21:29] mikezhang1234567890 commented on #10484
I've created a pull request, but Hotspot also doesn't care if the arguments are 0 under `-Xcheck:jni`

[2020-10-06 21:38] andrewcraik commented on #9416
So it looks like it can happen if we fail to compile-time resolve the defining class of a field. Now when the field is resolved how that compile-time resolve could fail is a bit of a mystery. Looking at the code though, I don't know that the fatal assert is necessary - there is a path through the code that could be crafted to avoid the problem I _think_. Will ponder this tonight and look again in

[2020-10-07 07:57] andrew-m-leonard opened #10807 "WIP: jdk8u272-b09_openj9-0.23.0-m2 Triage Report"
Binaries: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u272-b09_openj9-0.23.0-m2

**Test_openjdk8_j9_sanity.system_ppc64le_linux:**
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_ppc64le_linux/346/consoleFull
[code]
Similar issues before: https://github.com/eclipse/openj9/issues/10156

**Test_openjdk8_j9_sanity.system_ppc64le_linux:**
https://ci.adoptopenjdk.n

[2020-10-07 08:45] andrew-m-leonard opened #10808 "jdk-11.0.9+10_openj9-0.23.0-m2 Triage Report"
Binaries: https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.9+10_openj9-0.23.0-m2

**aarch64_linux:**
Failures see:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/8/console
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/8/
https://github.com/eclipse/openj9/issues/10843

**Test_openjdk11_j9_sanity.perf_aa

[2020-10-07 08:56] paulcheeseman commented on #284
Here's a reproducer:

[code]

Just compile and run `ClassInitLockBug`, then take a javacore. You will see the "unowned" `ClassInitializationLock`, but `Class Initialization Thread 2` is clearly blocked by `Class Initialization Thread 1`:

[code]

[code]

[code]

[2020-10-07 08:57] andrew-m-leonard opened #10809 "jdk-11.0.9+10_openj9-0.23.0-m2: java/util/ResourceBundle/modules/basic/BasicTest.java: Port Library failed to initialize"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/363/console
[code]

[2020-10-07 09:18] andrew-m-leonard opened #10810 "jdk-15+36_openj9-0.23.0-m2 Triage Report"
Binaries: https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk-15+36_openj9-0.23.0-m2

**All Platforms:**
Test_openjdk15_j9_sanity.perf
renaissance-naive-bayes_0
Existing: https://github.com/eclipse/openj9/issues/10591

**Test_openjdk15_j9_sanity.openjdk_aarch64_linux:**
java/util/StringJoiner/MergeTest.java.MergeTest
Reason unclear, see:
https://ci.adoptopenjdk.net/job/Test_openjdk

[2020-10-07 09:19] andrew-m-leonard opened #10811 "WIP: jdk-15+36_openj9-0.23.0-m2 Triage Report"
Binaries: https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk-15+36_openj9-0.23.0-m2

**All Platforms:**
Test_openjdk15_j9_sanity.perf
renaissance-naive-bayes_0
Existing: https://github.com/eclipse/openj9/issues/10591

**Test_openjdk15_j9_sanity.openjdk_aarch64_linux:**
java/util/StringJoiner/MergeTest.java.MergeTest
Reason unclear, see:
https://ci.adoptopenjdk.net/job/Test_openjdk

[2020-10-07 09:19] #10811 closed

[2020-10-07 09:33] andrew-m-leonard opened #10812 "jdk-15+36_openj9-0.23.0-m2: aarch64_linux: HCRLateAttachWorkload_previewEnabled_0 JVM crash"
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_extended.system_aarch64_linux/67/consoleFull
test-aws-rhel76-armv8-5
[code]

[2020-10-07 13:05] pshipton commented on #10809
Seems like the machine is out of resources, can't handle another invocation of java.

[2020-10-07 13:06] pshipton commented on #10812
@knn-k pls take a look.

[2020-10-07 13:21] AndiLeni opened #10813 "Minecraft error on start"
Java -version output
--------------------
[code]

Summary of problem
------------------

I was using openj9 for minecraft because of better performance.
Unfortunately, since the 1.16.2 version openj9 does not work anymore.
Are there any tips on how this could be solved or is this in mojangs hands to solve this?

[code]

[2020-10-07 13:25] jdekonin commented on #10650
openjdk.sanity testing ran without error in last nights JDK8, JDK11 and JDK15 builds, I think this issue can be closed.
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/1055/
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All-11/328/
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK15/72/

[2020-10-07 13:28] AndiLeni commented on #10813
I've see this has been reported already and should be solved in one of the latest builds.
Sorry for the inconvenience.

_https://github.com/eclipse/openj9/pull/10410
https://github.com/eclipse/openj9/issues/10356_

[2020-10-07 13:28] #10813 closed

[2020-10-07 13:28] jdekonin commented on #9806
There is no problem keeping the older machines that I am aware of.  So I guess this issue is complete and can be closed.

[2020-10-07 13:32] pshipton commented on #10650
Thanks Joe!

[2020-10-07 13:32] #10650 closed

[2020-10-07 13:33] pshipton commented on #10650
@JasonFengJ9 hopefully these Windows failures are resolved now. There are some other issues opened for them. If we don't see any recreate after a few days they can all be closed.

[2020-10-07 13:34] #9806 closed

[2020-10-07 13:42] pshipton commented on #10313
Closing as a dup of #9416.

There is another occurrence https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_mac_Nightly/71/, and a core file in https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK15_x86-64_mac_Nightly/71/Build_JDK15_x86-64_mac_Nightly-71-20201006-235858-diagnostics.tar.gz

[2020-10-07 13:43] pshipton commented on #9416
Another occurrence https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_mac_Nightly/71/
there are diagnostic files including a core in https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK15_x86-64_mac_Nightly/71/Build_JDK15_x86-64_mac_Nightly-71-20201006-235858-diagnostics.tar.gz

[code]

[2020-10-07 13:45] pshipton commented on #9291
Closing as a dup of #9416

[2020-10-07 13:46] #10313 closed

[2020-10-07 13:59] llxia commented on #10384
PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/1990 should fix this.

Close this issue for now. Please reopen if this issue still exists.

[2020-10-07 13:59] #10384 closed

[2020-10-07 14:02] pshipton commented on #10197
I haven't seen this again.

[2020-10-07 14:02] #10197 closed

[2020-10-07 14:09] pshipton commented on #9821
Haven't seen this again.

[2020-10-07 14:09] #9821 closed

[2020-10-07 15:15] #10484 closed

[2020-10-07 15:15] #10479 closed

[2020-10-07 15:40] keithc-ca opened #10815 "SEGV using new jcmd dump options"
Java -version output
--------------------
[code]
This is a build including a preview of #10774.

Summary of problem
------------------
The second request for a heap dump with `request=exclusive` encounters a SEGV
[code]
context from gdb:
[code]

[2020-10-07 15:52] dmitry-ten commented on #10749
I will work on this.

[2020-10-07 17:08] pshipton commented on #10815
On plinux I'm not getting the crash. I think `request=exclusive` is invalid for a heap dump since `prepwalk` is needed as well. I'm getting both an error and a dump created, every time.
[code]

[2020-10-07 17:11] pshipton commented on #10815
The crash could be related to what the target is doing. I'm using a target only running the following.
[code]

[2020-10-07 17:14] pshipton commented on #10815
Adding to the backlog since it's occurring with invalid options, and there is a workaround (use valid options).

[2020-10-07 17:33] keithc-ca commented on #10815
I used `jdmpview -append` as the target; it just sits at the command prompt.

I think this deserves more attention because there's no complaint about using invalid options:
[code]

[2020-10-07 17:43] pshipton commented on #10815
I agree it's not good, but I don't see it as a priority or needing to be fixed for some particular release. There are higher priority issues such as https://github.com/eclipse/openj9/issues/9549

[2020-10-07 18:12] keithc-ca commented on #284
I believe this is working as expected.

Threads can be waiting on an object even if not currently owned by any other thread. The `ClassInitializationLock` are only locked briefly to check, and where suitable advance, their state. Only when the state changes are other threads notified; the waiting threads immediately wait again if the state hasn't become satisfying to them.

The following sample co

[2020-10-07 18:20] #10747 closed

[2020-10-07 18:28] JasonFengJ9 opened #10820 "Use jcmd to change target vm existing dump options"
This won't be a priority unless there is a such feature request.

Changing the existing dump options is a different operation, which could also be added, but separately from this change.

_Originally posted by @pshipton in https://github.com/eclipse/openj9/pull/10774#discussion_r499665331_

[2020-10-07 18:52] 0xdaryl commented on #10795
Thanks for taking the time to write this up @r30shah .  I will go through this in greater detail shortly.

[2020-10-07 18:58] liqunl commented on #9120
It would be good if the trace log and jitdump tell us if it is an AOT compile. Another problem is that, if the crash is in ilgen, no trees will be printed out before replay. I guess if replay happens in the right context, that is not a problem, but it will still be good if we can print some information.

[2020-10-07 19:08] pshipton commented on #10793
Hopefully resolved by https://github.com/eclipse/openj9/issues/10650

[2020-10-07 20:05] dsouzai commented on #10764
Not that `trprint` is great, but can you run `trprint` from `jdmpview?

[2020-10-07 20:15] pshipton commented on #10764
@dsouzai no, it was never ported to DDR. I don't think trprint works any more. You can try `jextract -interactive` on a core file and see trprint help, but it doesn't seem functional.

[2020-10-07 20:21] dsouzai commented on #10764
I had cleaned it up years ago; last I heard it could still print out the IL but would run into issues dealing with trying to print out what the comp threads were currently compiling. From a compilation control pov, I can make do without trprint because of other debugging tools (jdmpview included), but I don't know if the IL printing functionality is still used; @liqunl might be able to speak more

[2020-10-07 20:33] pshipton commented on #9876
More internal illegal instruction failures running Java 8 testing, @VermaSh looked at these and associated them with this issue.
job_output.php?id=658370765 - fyrlx106 - cmdLineTester_decompilationTests_0
job_output.php?id=658370512 - fyrlx10u - decompileAtMethodResolve_0

[2020-10-07 20:43] sophia-guo opened #10828 "jdk14+: jdk_foreign testcases intermittent failures with openj9"
Testcases:

java/foreign/TestByteBuffer.java
java/foreign/TestLayoutConstants.java

JDK14+:
09:19:17 System.getProperty('java.fullversion')=14+36-202003272052
09:19:17 JRE 14 Linux amd64-64-Bit Compressed References 20200327_17 (JIT enabled, AOT enabled)
09:19:17 OpenJ9 - 76a961cb3
09:19:17 OMR - 2016086da
09:19:17 JCL - 77c5e421a5 based on jdk-14+36

Details: https://github.com/AdoptOpenJDK/openj

[2020-10-07 21:04] pshipton commented on #10828
@sophia-guo What suite do these run in? Do these tests still exist in Java 15 (Java 14 is obsolete)? I don't see them in sanity.openjdk.

[2020-10-07 21:49] sophia-guo commented on #10828
Yes, it's for jdk14+. Test should be run by target jdk_foreign under sanity. Though tests have been excluded.

https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk15-openj9.txt#L308

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk15_j9_sanity.openjdk_x86-64_linux/

[2020-10-07 22:02] pshipton commented on #10828
TestByteBuffer is an OOM, which is likely a machine problem. TestLayoutConstants doesn't have enough data.

Running these in a grinder.
https://ci.eclipse.org/openj9/job/Grinder/1104
https://ci.eclipse.org/openj9/job/Grinder/1105

[2020-10-07 22:38] alexey-anufriev commented on #9729
@0xdaryl, I have done a PR with requested changes, hopefully it meets the requirements.

[2020-10-07 22:47] mpirvu commented on #10689
Even this solution is brittle and can lead to errors down the line.
All this stems from the fact that the SCC dll is not loaded early enough, so at the time we need to take a decision about compressedrefs shift value we cannot access any SCC related functions.

In this new solution we need to use VM code (not code from SCC dll) to compute some AOT signature. This new code is decoupled from the cod

[2020-10-07 23:35] kgibm commented on #10747
Thank you very much!

[2020-10-08 00:07] a7ehuo commented on #10628
Got the backtrace for the original 3 crashes. Crash 1 & 3 look similar. The interesting one is crash 2 which  shows `TR_CISCNode n` is null in `TR_CISCGraph::addOpc2CISCNode` when compiling method=`"java/util/ImmutableCollections$SetN.probe(Ljava/lang/Object;)I"`at `warm`.

Crash 2 (java/lang/ProcessHandle/OnExitTest.java)
[code]

Crash 1 (java/lang/ProcessHandle/OnExitTest.java)
[code]

Crash 3 (

[2020-10-08 00:08] #10477 closed

[2020-10-08 00:50] pshipton commented on #10828
The grinders didn't work as the tests were not found, not sure what I'm doing wrong. Trying again with the exclude removed.

https://ci.eclipse.org/openj9/job/Grinder/1107

[2020-10-08 01:55] liqunl commented on #10764
I tried trprint this week on x86 linux jdk11, it doesn't work. But early last year when I tried it (probably on java8 IBM build), it worked.

It's good to have a tool to print a node or IL passing it the node address, especially in investigation of low failure rate crashes. There are times when the nodes causing the problem haven't been added to the trees, and times when we failed to generate a ji

[2020-10-08 02:39] sophia-guo commented on #10828
TARGET is jdk_custom instead of jck_custom.

[2020-10-08 02:45] smlambert commented on #10828
Grinder reruns with updated jdk_custom target:
test/jdk/java/foreign/TestByteBuffer.java -> https://ci.eclipse.org/openj9/job/Grinder/1109
test/jdk/java/foreign/TestLayoutConstants.java -> https://ci.eclipse.org/openj9/job/Grinder/1110

[2020-10-08 03:39] knn-k commented on #10812
The compiled method `org/objectweb/asm/ClassReader.readUTF8(I[C)Ljava/lang/String;` is called with `x0=NULL`, and it causes the SEGV.  The method is called by `org/objectweb/asm/ClassReader.accept(Lorg/objectweb/asm/ClassVisitor;[Lorg/objectweb/asm/Attribute;I)V`, according to the `jitm` information from the core file.

[2020-10-08 04:17] pshipton commented on #10764
@liqunl can you please give an IBM Java 8 build a try. I suspect it won't work either. Given that it doesn't work and nobody noticed until we raised this issue, it doesn't seem often used.

[2020-10-08 04:20] pshipton opened #10833 "Windows build failed to delete workspace"

[2020-10-08 04:20] pshipton opened #10834 "Windows build failed to delete workspace"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/878
[code]

[2020-10-08 04:21] pshipton commented on #10834
@jdekonin @AdamBrousseau

[2020-10-08 04:28] pshipton commented on #10828
Thanks. Both grinders passed. I'm not sure how intermittent the failures were. It's possible they were machine issues that only occur on certain machines at Adopt. Or there may have been problems which are now fixed. I suggest we include them and see how it goes.

https://github.com/AdoptOpenJDK/openjdk-tests/pull/2001

[2020-10-08 04:40] pshipton commented on #10706
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/181
jdk/test/sun/misc/CopyMemory.java
aix71-p8-9

[2020-10-08 12:25] pshipton commented on #10732
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_s390x_linux_Nightly/71/
testSoftMxDisclaimMemory_zlinux_64_2
ub16-390-2
[code]

[2020-10-08 12:28] pshipton commented on #10834
More, same machine https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/737

This one built the JVM but then `AccessDeniedException: F:\Users\jenkins\workspace\Build_JDK11_x86-64_windows_OMR`
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_OMR/742

Disabled win2012-x86-5

[2020-10-08 12:48] jdekonin commented on #10834
I went on the system but no such directory exists.  Nothing for OMR either.  I rebooted and removed everything in workspace directory manually.

These 2 failures are quite far apart with many passing jobs in between, so its not like the machine isn't working.  DeleteWs has always been questionable for windows, I wonder if we just need to adjust the timeout between retries?  What do you think @Adam

[2020-10-08 12:53] jdekonin commented on #10834
Here is another oddity.  We have a job that finds all the job a specific node was used in.  Neither of those failures show up in the listing.  I know it finds passing and unstable jobs, I had thought it listed machine failure type jobs as well.  @vsebe thoughts there??

https://ci.eclipse.org/openj9/job/Node-Build-History/11/console

[2020-10-08 12:53] jdekonin commented on #10834
I brought the machine back online btw.

[2020-10-08 12:57] pshipton commented on #10834
Closing until it's seen again.

[2020-10-08 13:00] pshipton commented on #10828
Tests are running again, closing this until we see a problem.

[2020-10-08 13:00] #10828 closed

[2020-10-08 13:31] vsebe commented on #10834
@jdekonin Node-Build-History relies on job description. The jobs fail before adding node to description, thus they do are not listed.

[2020-10-08 13:42] lumpfish commented on #1566
This is caused by overloaded mxbean operations (methods) being called with incorrect arguments.

The test first uses reflection to find the mxbean methods and generates arguments for them, then uses reflection again to find the method and execute it.  However, when the method is found the second time no check is made to see if it has the correct signature for the arguments which have been generate

[2020-10-08 14:02] lumpfish commented on #1566
PR to fix is https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/364.

The fix exposed a separate issue in openj9: https://github.com/eclipse/openj9/issues/10796.  PR https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/364 includes a check to avoid hitting https://github.com/eclipse/openj9/issues/10796 pending an openj9 fix.

The tests are currently excluded via the systemtest playlist.xml

[2020-10-08 14:37] mpirvu opened #10837 "Print JITServer version info in vlog"
In order to easily determine offline if a client is compatible with a server we should have an easy way to print version information. The vlog is probably the natural place for this information to be printed.

[2020-10-08 14:57] dmitripivkine commented on #10689
I agree the right solution is extract part of SCC initialization and execute it earlier. It requires refactoring of SCC code and I am not sure how much work it is. Some fundamental values like compressed refs shift can not be postponed in initialization. It is obvious that it should be initialized before first object allocation. However it is even more strict for CR/Full combo build where there ar

[2020-10-08 15:13] VermaSh commented on #9876
Unfortunately, I was unable to reproduce the issue locally on those machines. I believe it's because they have been restarted since the failures were reported. We'll have to wait until the failure resurfaces.

For future reference, here is a unit test to reproduce the failure locally (Thanks to @r30shah):
[code]

cmd:
`gdb --args  java -Xjit:count=0,disableAsyncCompilation,"limit={*putVal*}(traceC

[2020-10-08 15:38] #9729 closed

[2020-10-08 15:48] pshipton opened #10840 "HCRLateAttachWorkload_0 NPE from ClassReader.accept"
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_aarch64_linux/62 (0.23.0 M2 build)
HCRLateAttachWorkload_0
test-aws-rhel76-armv8-4
[code]

[2020-10-08 15:48] pshipton commented on #10840
@knn-k

[2020-10-08 15:53] pshipton opened #10841 "openjdk aarch64 jdk8 exception has occurred in the compiler"
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/62
java/lang/invoke/PermuteArgsTest.java
java/lang/reflect/Generics/getAnnotationTest.java
[code]

[2020-10-08 15:54] pshipton commented on #10841
@knn-k

[2020-10-08 15:57] pshipton opened #10842 "aarch64 openjdk ConcurrentHashMap/ConcurrentAssociateTest timeout"
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/62 (0.23.0 M2 build)
java/util/concurrent/ConcurrentHashMap/ConcurrentAssociateTest.java
test-packet-ubuntu1604-armv8-2
[code]

[2020-10-08 15:57] pshipton commented on #10842
@knn-k

[2020-10-08 15:59] #10807 closed

[2020-10-08 16:03] pshipton opened #10843 "aarch64 pltest j9vmem_test_reserveExecutableMemory crash"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/8/
cmdLineTester_pltest_j9sig_ext_0
test-aws-rhel76-armv8-2

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/8 (0.23.0 M2 build)
cmdLineTester_pltest_0
test-aws-rhel76-armv8-6
[code]

[2020-10-08 16:05] pshipton commented on #10843
@knn-k

[2020-10-08 16:09] pshipton opened #10844 "aarch64 openjdk ClassCastException running javac"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/226 (0.23.0 M2 build)
java/util/stream/boottest/java.base/java/util/stream/StreamOpFlagsTest.java
build-packet-ubuntu1804-armv8l-1
[code]

[2020-10-08 16:10] pshipton opened #10845 "aarch64 openjdk ClassCastException running javac"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/226 (0.23.0 M2 build)
java/util/stream/boottest/java.base/java/util/stream/StreamOpFlagsTest.java
build-packet-ubuntu1804-armv8l-1
[code]

[2020-10-08 16:10] pshipton commented on #10845
@knn-k

[2020-10-08 16:13] pshipton opened #10846 "aarch64 HCRLateAttachWorkload_previewEnabled_0 crash compiling method"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux_xl/225 (0.23.0 M2 build)
HCRLateAttachWorkload_previewEnabled_0
test-aws-rhel76-armv8-6
[code]

[2020-10-08 16:13] pshipton commented on #10846
@knn-k

[2020-10-08 16:14] #10808 closed

[2020-10-08 16:19] pshipton opened #10847 "aarch64 StringJoiner/MergeTest Unexpected exit from test [exit code: 137]"
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_aarch64_linux/67 (0.23.0 M2 build)
java/util/StringJoiner/MergeTest.java
test-aws-rhel76-armv8-3
[code]

[2020-10-08 16:19] pshipton commented on #10847
@knn-k

[2020-10-08 16:20] pshipton commented on #10846
Dup of https://github.com/eclipse/openj9/issues/10812

[2020-10-08 16:20] #10846 closed

[2020-10-08 16:21] pshipton commented on #10812
Also on jdk11 https://github.com/eclipse/openj9/issues/10846#issue-717482217

[2020-10-08 16:22] #10810 closed

[2020-10-08 16:26] pshipton commented on #10845
Dup of https://github.com/eclipse/openj9/issues/10844

[2020-10-08 16:26] #10845 closed

[2020-10-08 16:27] pshipton commented on #10833
Dup of https://github.com/eclipse/openj9/issues/10834

[2020-10-08 16:27] #10833 closed

[2020-10-08 16:27] hangshao0 commented on #10689
Compared with (2), (1) looks slightly better to me. Both for us and for the users, it is very likely to cause problems to have 2 files with some dependency. One file is always easier to manage than 2 files.

[2020-10-08 16:35] ChengJin01 commented on #10312
I tried with the latest nightly builds on Java 8, 11, 14 & 15 and the problem still occurred on 11, 14 & 15:
[code]
Will further investigate to see what happened to our code.

[2020-10-08 16:41] Mesbah-Alam commented on #1566
Hi Simon, Thanks for cleaning up the test bug.

Do we need to remove this check from the test once https://github.com/eclipse/openj9/issues/10796 is resolved?

@lumpfish

[2020-10-08 17:10] pshipton commented on #10689
It should be possible to split up opening the shared cache and reading the entire content, allowing header information to be read earlier, and the rest of the content to be read later.

All the dlls need to be loaded before objects are allocated or classes are created. Looking at the stages, the SCC library is already loaded quite early, I wouldn't expect any object or classes before ABOUT_TO_BOOT

[2020-10-08 17:26] andrewcraik commented on #9651
Seems to only fail with GCR, failures are intermittent and the failure has existed since at least 0.17 based on the analysis from @hzongaro . We are still not certain there is an actual JIT problem here - will continue investigation, but will not have a fix for 0.23 so moving out to 0.24

[2020-10-08 17:27] andrewcraik commented on #8872
The failure appears to have existed since at least 0.17 based on the analysis from @hzongaro . We are still not certain there is an actual JIT problem here - will continue investigation, but will not have a fix for 0.23 so moving out to 0.24

[2020-10-08 17:29] Mesbah-Alam commented on #1566
Please ignore my question above. Your [comment](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/e87fff6998bfcb77c59b893ab8b31adde6ddc820/openjdk.test.jlm/src/test.jlm/net/adoptopenjdk/test/jlm/resources/ThreadData.java#L1084) in the PR answers it.

[2020-10-08 17:32] andrewcraik commented on #9416
Analysis of the core has shown that we have a resolved filed defined on the class of the current method that is being compiled. Given that we could get the flags of the field and determine its accessibility etc we should be able to get a resolved defining class. Some how the API is giving NULL. This doesn't make much sense - the answers should be consistent. That being said, this code does need to

[2020-10-08 17:56] harryyu1994 commented on #10689
I believe compressed refs shift is calculated in `gcInitializeDefaults(vm)` at `ALL_LIBRARIES_LOADED`.
[code]

[2020-10-08 18:02] #9291 closed

[2020-10-08 18:08] harryyu1994 commented on #10689
Loading libraries at load stage LOAD_BY_DEFAULT:

- Loaded library j9jit29
- Loaded library j9gc29
- Loaded library j9shr29. Init sharedCacheAPI and parse options.
<<<<<<<<<<<<< we need access to Shared Class Cache here.
Running initialization stage ALL_LIBRARIES_LOADED

[2020-10-08 18:09] hangshao0 commented on #10689
Not sure if this has been thought about, info can be stored inside the cache file or in its name. We are already storing info in the cache file name, like JCL version, address mode (64b it vs 32 bit), compressrefs or non-compressrefs in the cache file name.

[2020-10-08 18:23] mpirvu commented on #10689
That's an interesting idea. So, we need a function/hash that transforms a few VM/GC properties into a (small) string of ASCII characters and a function that parses the cache name to extract these characters. These functions need to stay outside the SCC library.

[2020-10-08 18:31] hangshao0 commented on #10689
See shchelp.h and j9shchelp.c

[2020-10-08 18:52] harryyu1994 commented on #10683
Addressed by https://github.com/eclipse/openj9/pull/10697. Closing.

[2020-10-08 18:52] #10683 closed

[2020-10-08 19:31] RSalman commented on #7303
An existing issue related to this is when the first file gets reused again during rotation, the contents are wiped and as a result '<initialized' stanza is lost.

[2020-10-08 19:33] RSalman commented on #7303
This is being addressed by @gza060625

[2020-10-08 20:35] #10749 closed

[2020-10-08 21:14] #10473 closed

[2020-10-08 21:52] dsouzai commented on #9120
Opened https://github.com/eclipse/openj9/pull/10852

[2020-10-08 22:11] JasonFengJ9 commented on #10793
It seems resolved in latest nightly builds, closing.

[2020-10-08 22:11] #10793 closed

[2020-10-08 22:16] JasonFengJ9 commented on #9024
Another occurrence at JDK8 JITServer `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Nightly/203`:
[code]

[2020-10-08 22:34] JasonFengJ9 opened #10854 "JDK16 JlinkTest_AddModLimitMod_0_FAILED Error: Module java.transaction.xa not found, required by java.sql"
Failure link
------------

From an internal build `Test_openjdkNext_j9_sanity.system_ppc64_aix_Nightly/240`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
03:43:17  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64_ai

[2020-10-08 22:58] dmitry-ten commented on #10663
This issue has been resolved and should be closed.

[2020-10-08 22:59] dmitry-ten commented on #10709
This issue has been resolved by #10786 and should be closed.

[2020-10-08 23:15] #10709 closed

[2020-10-08 23:15] mpirvu commented on #10663
Fixed by #10682

[2020-10-08 23:15] #10663 closed

[2020-10-09 01:13] knn-k commented on #10840
Possibly related to #10812.

[2020-10-09 02:19] pshipton commented on #10854
Does this fail across all platforms, or is it just a one time failure?

[2020-10-09 02:32] JasonFengJ9 commented on #10854
It is across platforms, also occurred at `Test_openjdkNext_j9_sanity.system_ppc64le_linux_Nightly/308`, and `Test_openjdkNext_j9_sanity.system_s390x_linux_Nightly/277`.
It seems new though, not in last nightly build, will see if it occurs in next build.

[2020-10-09 03:52] pshipton commented on #10854
Nothing obvious in the changes from the previous build. The java.transaction.xa module does still exist.
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/3c980f5...50b8e2d

There was another level in between 4b45b77 https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/347/

[2020-10-09 06:59] knn-k commented on #10843
Reproduced the crash with `j9vmem_test_reserveExecutableMemory` locally.

[2020-10-09 09:26] knn-k commented on #10843
I believe this is a test case error.

The test case calls `function()` after calling `memcpy(memPtr, ...)` without flushing the CPU cache.
https://github.com/eclipse/openj9/blob/971cc381889b44651f9cf9f1949281f1a7023acc/runtime/tests/port/j9vmemTest.c#L1705-L1711

There is no function available for flushing the CPU cache in the port library, as far as I know.

[2020-10-09 11:52] pshipton commented on #10834
Another problem with win2012-x86-5 last night.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_Nightly/533
`22:12:21  Cannot contact win2012-x86-5: java.lang.InterruptedException`

[2020-10-09 12:08] pshipton opened #10857 "openjdk CustomizedLambdaFormTest Unexpected exit from test [exit code: 1]"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/176
java/lang/invoke/CustomizedLambdaFormTest.java
All platforms, Java 11 and 15
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All-11/330/
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK15/74/
[code]

Changes:

https://github.com/eclipse/openj9/compare/f22936e...971cc38
https://github.com/eclipse

[2020-10-09 12:14] pshipton commented on #10706
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/169/
java/util/HashSet/Serialization.java
cent7-ppcle-1

[2020-10-09 12:44] #10086 closed

[2020-10-09 12:46] Leonardo2718 commented on #9416
#10848 provides a temporary fix for the 0.23 release. Since we still need to figure what's really going in, this issue should pushed back to the next release.

[2020-10-09 13:01] JasonFengJ9 commented on #10854
Occurred again at `Test_openjdkNext_j9_sanity.system_ppc64le_linux_Nightly/309` and `Test_openjdkNext_j9_sanity.system_s390x_linux_Nightly/278`. (There was an infra issue with AIX build)

[2020-10-09 13:02] DanHeidinga commented on #10857
Test is using a class called `java.lang.invoke.MethodHandleHelper` which we've now stolen the name of:
https://github.com/ibmruntimes/openj9-openjdk-jdk15/blob/2e947ea2025890e846beb37130ecd63960120c09/test/jdk/java/lang/invoke/CustomizedLambdaFormTest.java#L42

in PR https://github.com/eclipse/openj9/pull/10096

[2020-10-09 13:39] pshipton commented on #10854
It could be a test issue. If I try a simple test `bin/jlink --output test --module-path jmods --add-modules java.sql` it works, and the `java.transaction.xa` modules is part of the result. I used the OpenJDKnext: 2f94143 sha, which is the same as the last nightly build.

@Mesbah-Alam can you pls take a look at the failure.

[2020-10-09 13:49] tajila commented on #10758
@mikezhang1234567890 can you take a look at this

[2020-10-09 14:15] mikezhang1234567890 commented on #10758
Looking into this.

[2020-10-09 14:16] knn-k commented on #10847
I ran the test on cent7-aarch64-1 using the 0.23 m2 binary more than 20 times, but I could not reproduce it.

[2020-10-09 16:04] ChengJin01 commented on #10312
Looking at the printing messages (added to the source) without Chinese & with Chinese in the module path:
[1] without Chinese in the module path
[code]
[2] with Chinese in the module path
[code]
It turns out the problem came from `initializeModulesPath()` in dealing with the module path as follows:
[code]
So,  It looks like we need to convert the module path containing Chinese to Unicode on Window

[2020-10-09 16:27] pshipton commented on #10834
I don't think win2012-x86-5 is health, I've disabled it.

[2020-10-09 16:28] pshipton commented on #10834
See https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/883/console, it's just hanging on this machine.

[2020-10-09 16:28] Mesbah-Alam commented on #10854
The test expects a specific string ("not found, required by java.sql") to appear only `once` in a log file. However, in case of JDK16, it appears twice. This is the cause of this failure.

Here's the content of the log file in JDK16 [grinder run](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11177/console):

[code]

Clearly the string "not found, required by java.sql" appears twice.

* *

[2020-10-09 16:29] llxia opened #10860 "openjdk HttpURLConWithProxy intermittent failure"
jdk_net (HttpURLConWithProxy test) failed with error `java.lang.RuntimeException: Connection not retried with proxy` in Test_openjdk11_j9_extended.openjdk_x86-64_linux_Nightly/4 (internal Jenkins). The failure is intermittent. Failure rate is 9/10. (Grinder_iteration_0/185/)

[code]

It looks like this is related to https://bugs.openjdk.java.net/browse/JDK-8251361
This fix was in on Aug 10, 2020,

[2020-10-09 16:31] #10857 closed

[2020-10-09 16:36] #10837 closed

[2020-10-09 16:42] pshipton commented on #10860
The referenced bug is fixed for Java 16, and there hasn't been any backport request, so it won't be fixed for Java 11 unless a backport occurs.

[2020-10-09 16:52] pshipton commented on #10854
It's an explicit change to print the stack trace.
https://bugs.openjdk.java.net/browse/JDK-8204256
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/58e9680331b45aeff3cb6b93f6b6d0c630297b50

[2020-10-09 17:08] Mesbah-Alam commented on #10854
I have created a test [issue](https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/366) to fix this.

[2020-10-09 17:41] pshipton commented on #10854
Close this since it's not an OpenJ9 problema and we have a systemtest issue open.

[2020-10-09 17:41] #10854 closed

[2020-10-09 21:41] dsouzai opened #10864 "Crash freeing memory in omrheap_free"
The JVM crashes during shutdown on the snapshot run with the following back trace; happens even with -Xint
[code]

[2020-10-11 10:44] knn-k commented on #10847
I ran the test 30 more times, and I saw no failures.

[2020-10-12 01:51] megazone23 commented on #10696
I tried to use the version you used 272 but that caused a problem and eclipse is having problems recognizing it.  I uninstalled 272 and reinstalled 265 but now I cannot run programs it is failing with an error.

An internal error occurred during: "Launching HelloWorld".
null argument:

Does eclipse 2020-09 work correctly with AdoptOpenJDK 8 openJ9?  Both Oracle Java 8 and AdoptOpenJDK 8 hotspot wo

[2020-10-12 04:53] ChengJin01 commented on #10696
@megazone23,  if eclipse 2020-09 is a installing package that includes Java8/hotspot (JRE), then it's no wonder that it works fine with Oracle or OpenJDK/hotspot as it should be OK when Hotspot looks for to the Java path from either of them to locate the required libraries (both of them are pretty much identical in terms of the directory of libraries)

So the question is whether Openj9 correctly p

[2020-10-12 07:48] andrew-m-leonard opened #10867 "aarch64: extended.functional: Test 207: Create a non-persistent cache, "hung""
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/14/console
[code]
Hang:
[code]

[2020-10-12 23:24] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Release_testList_0/10
cmdLineTester_EnableAssertionStatusTest_0
[code]

[2020-10-12 23:40] pshipton commented on #10867
@knn-k

[2020-10-13 01:47] zdlgv5 commented on #5058
@ChengJin01  Hi Cheng Jin,
Thanks a lot for your [Build_Instructions_V11.md on riscv64](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#riscv64), I am doing something about porting java (including openjdk and openj9) to riscv. I am setting baseline now, learning and evaluating how hard and time needed to get things done.

By following your instruction

[2020-10-13 02:44] smlambert commented on #10591
Given this is occurring in both hotspot and openj9 builds at AdoptOpenJDK, and not reproducible against builds from OpenJ9, will close this and track under https://github.com/AdoptOpenJDK/openjdk-tests/issues/1932

[2020-10-13 02:44] #10591 closed

[2020-10-13 06:16] ChengJin01 commented on #5058
Hi @zdlgv5,

Many thanks for your support on the OpenJ9/RISC-V project!  As for the OpenJ9 JIT on RISC-V, it is already on our priority list but we have not yet get started for now coz there are some details we need to figure out as to what is best way to move forward. Please stay tuned!

FY: @0xdaryl

[2020-10-13 08:31] Akira1Saitoh commented on #10842
The failure is almost always reproducible on `cent-arm8-1`.
The test seems to be failing in CI when run on `test-packet-ubuntu1604-armv8-1 `or `test-packet-ubuntu1604-armv8-2`.

[2020-10-13 08:38] Akira1Saitoh commented on #10842
1 of worker threads of ForkJoinPool is waiting forever at `Unsafe.park()` .

[code]

[2020-10-13 08:39] Akira1Saitoh commented on #10842
The thread is waiting at `pthread_cond_wait`.

[code]

[2020-10-13 13:09] hzongaro opened #10869 "Intermittent crashes or hangs in JIT compiled code using ConcurrentHashMap with -XX:+EnableValhalla"
The following test displays intermittent crashes or hangs running with the option `-XX:+EnableValhalla`.  The problem appears to be some sort of interaction between `monitorenter`/`monitorexit` and `acmp` expansion in lower trees in JIT-compiled trees for `ConcurrentHashMap.putVal`.

[code]

Run with `-Xjit:count=1,disableAsyncCompilation`

[2020-10-13 14:29] #10534 closed

[2020-10-13 15:00] #10022 closed

[2020-10-13 16:17] hangshao0 commented on #10867
See infran issue: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579

[2020-10-13 16:56] llxia commented on #10860
The fix is in [16 repo](https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/6d8894b3066c4fd78861f3a43210d740c0f9f060/test/jdk/java/net/HttpURLConnection/HttpURLConWithProxy.java#L49)

Grinder 10x using JDK16 and the test passed 100%. (Grinder/11207/)
Going to exclude `test/jdk/java/net/HttpURLConnection/HttpURLConWithProxy.java` on JDK11.

[2020-10-13 16:58] dmitry-ten commented on #9852
Now that JITServer tests on power pass, `testJITServer` tests should also be enabled for both `ppc64le_linux_jit` and `ppc64le_linux` builds to match the behavior of `x86` tests.

[2020-10-13 16:58] dmitry-ten commented on #9852
@mpirvu fyi.

[2020-10-13 17:02] pshipton commented on #10867
Also seems a dup of https://github.com/eclipse/openj9/issues/10741

FYI https://openj9.slack.com/archives/C8312LCV9/p1602551615048900

[2020-10-13 17:04] pshipton commented on #10741
FYI https://openj9.slack.com/archives/C8312LCV9/p1602551615048900

[2020-10-13 17:59] harryyu1994 commented on #9135
@mpirvu Please let me know if you have any idea on how to move forward with this.

[2020-10-13 18:01] hzongaro commented on #10869
No.  Sorry, I should have been more explicit that this is a JIT problem.

[2020-10-13 18:05] babsingh opened #10872 "Implement JVM_LogLambdaFormInvoker if needed"
- `JVM_LogLambdaFormInvoker` was introduced in JDK16: https://github.com/eclipse/openj9/pull/10868.
- Investigate if `JVM_LogLambdaFormInvoker` is needed to support OpenJDK MethodHandles.
- If needed, implement `JVM_LogLambdaFormInvoker`.

Related: #7352

project:MH

[2020-10-13 18:06] babsingh commented on #10872
fyi @fengxue-IS @DanHeidinga @tajila

[2020-10-13 18:11] harryyu1994 commented on #10689
Correct me if I'm wrong, if we do it this way then we are basically giving each compressed shift a separate Shared Class Cache. (like how we have two separate caches for compressrefs and non-compressrefs.). And I'm guessing other than AOT code the other information like classes information will be duplicated? And if we add gc policy into the equation, then it's a separate SCC for each gc policy.

[2020-10-13 18:26] hangshao0 commented on #10689
Yes, it will result in duplication. If we plan to add more info (like GC policy) in the file name in the future, we will end up with more files. It may not be an optimal solution.

[2020-10-13 19:04] #10803 closed

[2020-10-13 19:50] keithc-ca commented on #10799
What's the motivation for `-XOSLog` or `-XOSlog`? What's `OS` in this context? Why uppercase?

[2020-10-13 19:56] pshipton commented on #10799
It is my suggestion for a better name, OpenJ9 shouldn't use `-Xlog` as it conflicts with the Hotspot `-Xlog` option. The OpenJ9 legacy -Xlog option controls which messages of various severity are logged to the Operation System (OS) log.

[2020-10-13 20:12] keithc-ca commented on #10799
`OS` doesn't seem so inappropriate now that I'm aware that it controls system logging (e.g. use of `syslog(3)` on Linux).
I'm not a fan of using upper-case here; my preference would be for `-Xsyslog`, or `-Xoslog`.

[2020-10-13 20:13] pshipton commented on #10799
Both seem fine to me. If you have a preference I can wait a day in case anybody else has an opinion, and then update the PR.

[2020-10-13 20:16] keithc-ca commented on #10799
My preference is `-Xsyslog`. Even on Windows, it makes sense to me, given that the environment variable `IBM_JAVA_SYSLOG_NAME` can influence the event source name.

[2020-10-13 22:15] avermeer opened #10878 "Incomplete dumps since openj9-0.21.0"
Hello,

We found that OpenJ9 is generating incomplete dumps since openj9-0.21.0 release.

To reproduce this issue, here is a sample code:

[code]

This sample allocates some objects and then it generates a dump, which we then analyze using Eclipse MAT (with the IBM plug-in needed to read OpenJ9 dumps).

With openj9-0.20.0, we get the expected results, for example we have a count of 10,000 IBMDump$

[2020-10-13 22:53] pshipton commented on #10878
Pls try setting the option `-Xdump:system:defaults:request=exclusive+prepwalk` to see if this fixes the problem. If this is the solution this can be done programmatically as well. The default is `request=serial` which does not guarantee the heap is in a walkable state, you may just have been getting lucky.

@dmitripivkine fyi

[2020-10-13 23:00] pshipton commented on #10878
The other possibility is the IBM plugin is out of date. I don't expect it to get updated, but there is a way to update it manually, see https://github.com/eclipse/openj9/issues/7091#issuecomment-532323843. Someone is looking at updating Eclipse MAT to use the running JVM instead of depending on an out of date IBM plugin. Not sure when MAT would get this update however.

[2020-10-13 23:09] pshipton commented on #10799
I went ahead and updated the PR.

[2020-10-14 02:04] #10481 closed

[2020-10-14 02:57] pshipton opened #10881 "JDK16 build failures CleanerShutdown"
[code]

[2020-10-14 03:01] pshipton commented on #10881
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/2fca7049a72b11486efcd4585a06dbe675bd79b8
`8251861: Remove unused jdk.internal.ref.SoftCleanable and WeakCleanable`

[2020-10-14 03:05] pshipton commented on #10881
CleanShutdown merge comment:

Force Common-Cleaner thread to shutdown

This is a temporary workaround to force the common-cleaner thread to
shutdown. This should unblock the tests that require an orderly
shutdown. In the future we will need a more general solution as there
may be multiple cleaner threads that need to be shutdown.

This patch manually empties the cleaner's queues and interrupts it

[2020-10-14 03:10] pshipton commented on #10881
The mentioned test is VM_Sanity.memleaks, which I see is running in sanity.functional testing.

[2020-10-14 08:51] avermeer commented on #10878
Hello @pshipton,

Thank you very much for your answers: the use of `-Xdump:system:defaults:request=exclusive+prepwalk` option indeed solves the issue for us !

Kind regards,
Alexandre

[2020-10-14 13:02] #1566 closed

[2020-10-14 13:31] #10878 closed

[2020-10-14 13:42] mpirvu commented on #9135
To summarize previous experiments with -Xnoaot and no recompilation:
1) For just warm compilations we see a 4.2% throughput gap, 7.2% more CPU and 375 more methods being compiled with Java11
2) For just cold compilations we see a 5% gap, 2% more CPU and 278 more methods being compiled
3) For just noOpt compilations we see a 3.3% gap, 3.5% more CPU and 450 more methods being compiled

One avenue of

[2020-10-14 13:49] pshipton commented on #10878
In order to do it programmatically without changing the defaults, the API is com.ibm.jvm.Dump.triggerDump(). Changing the defaults to include exclusive for `events=gpf+abort+traceassert+corruptcache` according to the docs: "acquiring locks during a crash can be problematic".

Also note that dumps requested via jcmd are modified in the next release to default to `request=exclusive+prepwalk`, and yo

[2020-10-14 14:53] keithc-ca commented on #10799
@pshipton Please also create a docs issue.

[2020-10-14 15:20] DanHeidinga commented on #10412
Based on the feedback so far - and the dearth of individuals signing up to maintain the arm32 port - I'm in favour of proceeding with the removal.  This was also the general consensus on today's community call.

@0xdaryl you're clear to proceed with the arm32 removal

[2020-10-14 15:21] tajila commented on #10620
@hangshao0 please take a look at this, this will be required for JDK16

[2020-10-14 15:21] tajila commented on #10620
FYI @andrewcraik

[2020-10-14 15:24] AdamBrousseau commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/883/
[code]
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_Nightly/533/console
[code]
Since Joe already rebooted, not sure that would help. Although I see at the moment it is trying to reconnect to Jenkins and it is taking a very long time.
Looking at the cleanWs() steps. Currently we do
[code]
We should see how ofte

[2020-10-14 15:43] hangshao0 commented on #10620
Yes, I will look at this.

[2020-10-14 15:47] AdamBrousseau commented on #10834
Discussed on our infra call. Since this has only happened in compile, for the time being we'll remove the build label and leave it as a test machine and see if it reproduces.

[2020-10-14 16:12] pshipton commented on #10799
Created https://github.com/eclipse/openj9-docs/issues/658

[2020-10-14 16:15] ChengJin01 commented on #10312
Further investigation shows the problem was triggered by calling :`:open()` in ` osSupport::openReadOnly` at `/openj9-openjdk-jdk11/src/java.base/windows/native/libjimage/osSupport_windows.cpp`
[code]
against the printing messages:
[code]

Looking at the calling path as follows:
[code]
It means OpenJ9 has to call in this way to get the jimage file descriptor, in which case the conversion from UTF8

[2020-10-14 16:49] ChengJin01 commented on #10312
I am not too sure about that as there is no code change in osSupport::openReadOnly at `https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/master/src/java.base/windows/native/libjimage/osSupport_windows.cpp`
[code]

I also tried with OpenJDK11/Hotspot from https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-10-12-08-13/OpenJDK11U-jdk_x64_windows_hotspot_2020-10-12

[2020-10-14 16:55] fjeremic commented on #9135
This would be very difficult. The Java 11 String class is built on top of a `byte[]` while the Java 8 version is backed by a `char[]`. Moreover the Java 11 class introduces the notion of a "coder" which is used with the StringCoding classes and other classes in `java.lang` package.

`decompressedArrayCopy` in particular is a recognized method. We should generally never see that in a profile becaus

[2020-10-14 17:18] vitorpavanelli opened #10885 "AdoptOpenJDK + OpenJ9 11 to 15 java process hanging on mac os catalina"
Java -version output
--------------------

openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.2+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 14 Mac OS X amd64-64-Bit Compressed References 20200715_143 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - 1d231bd6a2 based on jdk-14.0.2+12)

Summary of problem
----------

[2020-10-14 17:18] pshipton commented on #10312
I wonder if it's related to the Windows _MBCS setting. Perhaps Hotspot sets this and passes in appropriate data to open().

[2020-10-14 17:21] pshipton commented on #10312
Another possibility is that Hotspot opens the file using a relative path.

[2020-10-14 17:25] tajila commented on #10864
@dsouzai Do I need you patches to re-create the crash? I dont have any issues with the last snapshot changes

[2020-10-14 17:29] andrewcraik commented on #10620
Any particular reason to put the flag in the RAM class rather than the ROM class? It will take an extra de-ref to get the flag and check it if it is in the RAM class which will likely increase the overhead...

[2020-10-14 17:34] tajila commented on #10620
The ROMclass is an extra hop assuming you are starting from the object.

[code]

[2020-10-14 17:38] janvrany commented on #5058
Hi, @zdlgv5,

I'm currently doing some preparatory work to start working on OpenJ9 part of the JIT and hoping to start doing some real JIT work soon (TM)

[2020-10-14 17:46] mpirvu commented on #9135
The profiles above are from runs with noOpt, so inlining and VP are not performed.
@harryyu1994 Let's collect a pair of profiles with `initialOptLevel=cold,inhibitRecompilation`, though I do expect the differences to move to `TR::arraycopy` in this case.
I actually found `String.decompressedArrayCopy` in Java8 and it takes 802 ticks:
`  SYM    802  0.02      java/lang/String.decompressedArrayCopy(

[2020-10-14 17:59] pshipton commented on #10885
@tajila @babsingh fyi

[2020-10-14 18:43] ChengJin01 commented on #10312
The _MBCS is used for Windows specificAPIs something like xxxA(). I don't think it is accepted by open() according to the description parameter of ::open() (standard API in fcntl.h) according to https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/open-wopen?view=vs-2019

I need to double-check this to see whether it works in this way. If so, then it means we shouldn't reply on an abso

[2020-10-14 19:38] andrewcraik commented on #10620
Ok my bad - had that the wrong way around then - as long as we can get direct form the pointer in the object header that is the main. This can probably be done with a trees change in the lowering to avoid platform work.

[2020-10-14 20:43] pshipton commented on #10834
Hanging on win2012-x86-5, disabled it again.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Personal/555/console

[2020-10-14 20:50] alexey-anufriev commented on #9963
hi @DanHeidinga, could you please assign this issue to me?

[2020-10-14 20:54] #10881 closed

[2020-10-14 22:01] AdamBrousseau commented on #10834
Unfortunately no timestamps on that test build. But build overall took just under 4 hours. Hang appears to be on the checkout step as soon as it grabs the node. So we either have multiple issues, a one off, or a larger problem with this machine. I would lean towards the larger machine problem.

I will follow up with @jdekonin about having the machine rebuilt.

[2020-10-14 23:49] pshipton commented on #10834
We'd seen this before https://github.com/eclipse/openj9/issues/10834#issuecomment-706279082

+1 to rebuilding the machine.

[2020-10-14 23:51] pshipton commented on #10834
Although no timestamps on the job, there is a timestamp when it was started.
`12:45:36  Starting building: Test_openjdk11_j9_sanity.functional_x86-64_windows_Personal #555`
and I stopped it at ~4:40pm.

[2020-10-15 00:56] smlambert commented on #10847
Seeing it in last 2 Adopt nightly builds:

**Test Info**
Test Name: jdk_util_j9_0
Test Duration: 44 min 58 sec
Machine: test-aws-rhel76-armv8-3
TRSS link for the test output: https://trss.adoptopenjdk.net/output/test?id=5f86f7e111d26031c10c6c74

**Build Info**
Build Name: Test_openjdk15_j9_sanity.openjdk_aarch64_linux_xl
Jenkins Build start time: Oct 14 2020, 05:23 am
Jenkins Build URL: https://ci

[2020-10-15 01:00] jdekonin commented on #10834
I don't see how cloning the machine is going to make a difference.  This system was recently recreated based on an image of a previous system. win2012-x86-1 -> win2012-x86-4 and win2012-x86-6 were created with this same image and they don't have this same problem.  There were 6 cl.exe and 14 bash.exe processes running on the system, I had to forcibly reboot the machine.

[2020-10-15 01:21] zdlgv5 commented on #5058
Hi, @ChengJin01 and @janvrany ,
Thank you for your prompt reply!
I worked  on JavaWEB for two years and I'm new here.
I'm learning more about porting and compiling and looking forward to working together with you in the near future!

[2020-10-15 01:48] harryyu1994 commented on #9135
## initialOptLevel=cold,inhibitRecompilation

java11
[code]

[code]

I'm going to get a brand new build and redo the experiment again. This was done with the previous script I had and the previous build I had. Things may have changed.

[2020-10-15 01:48] anjanitsip opened #10895 "Not able to create SCC using OPENJ9_JAVA_OPTIONS"
I am using docker image

adoptopenjdk/openjdk11-openj9:jdk-11.0.8_10_openj9-0.21.0-debian

and passing JVM arguments using ENV variable OPENJ9_JAVA_OPTIONS '

 OPENJ9_JAVA_OPTIONS: "-XX:MaxRAMPercentage=75.0 -XX:+UseContainerSupport -Xshareclasses:cacheDir=/cache,verbose,checkURLTimestamps,persistent -Xscmx300M"

But it is not creating SCC

 java -Xshareclasses:listAllCaches
JVMSHRC005I No shared

[2020-10-15 02:40] mpirvu commented on #9135
@harryyu1994
The profiles above show very close number of ticks between Java8 and Java11. When you do the next experiments please record and report the throughput from the profiled runs. I am guessing you profile for a fixed duration of time which is the same for both Java8 and Java11.

[2020-10-15 03:25] pshipton commented on #10895
You need to run `java -Xshareclasses:cacheDir=/cache,listAllCaches`

[2020-10-15 03:26] pshipton commented on #10895
@hangshao0

[2020-10-15 03:30] pshipton commented on #10895
For a multi layer SCC, create each layer with the `createLayer` -Xshareclasses option.  Alternatively, you can create each layer by specifying `layer=<number>`  starting from 0, and incrementing each time.
https://www.eclipse.org/openj9/docs/xshareclasses/#layer

[2020-10-15 03:35] pshipton commented on #10834
Just seems strange we are consistently seeing problems on this machine. Perhaps something got messed up, making it different from the others.

[2020-10-15 04:08] knn-k commented on #10812
JDK 15 aarch64 0.23.0-m1 build generated the following failure on my quad-core device, only once out of 20 runs:

[code]
[code]

[2020-10-15 05:31] ChengJin01 commented on #10312
Directly changing `modulesPath` in  `initializeModulesPath` from `C:\JCHAU\娴嬭瘯java\jdk11_openj9_win_v3\lib\modules` to `jdk11_openj9_win_v3\lib\modules` doesn't work because `j9file_attr` is called in initializeClassPathEntry (which is called by `initializeModulesPath`) as follows:
[code]
in which case it calls `GetFileAttributesW` which requires the absolute path to get this work (detected at htt

[2020-10-15 05:37] harryyu1994 commented on #9135
- Java8, Run 0 Throughput=2119.2 WS=517448 CPU=21722 Errors=0

[code]

- java 11, Run 0 Throughput=1988.5 WS=547368 CPU=22529 Errors=0

[code]

[2020-10-15 05:40] anjanitsip commented on #10895
Thank you.
One more doubt , I have - docker image also create shared cache. How it is useful for microservices?
And we can add class path resource (jars) into the cache. It is it right thing do ?

[INFO] Container entrypoint set to [java, -XX:MaxRAMPercentage=75.0, -XX:InitialRAMPercentage=20.0, -Xquickstart, -Xtune:virtualized, -Xscmx512M, -Xshareclasses:cacheDir=/cache,name=conductor,verbose,che