[2022-05-16 16:20] pshipton commented on #15067
This is using IBM Java 8, pls report this problem to IBM.

[2022-05-16 16:27] wlargou commented on #15067
Hi,

Just wanted to know if it's a known issue on 2_90_20220104_19630 ?

Thank you

[2022-05-16 16:28] pshipton commented on #15066
Failed 2/30 in the grinder. Trying another without the `-Xjit:count=0`, https://openj9-jenkins.osuosl.org/job/Grinder/812/

[2022-05-16 16:41] pshipton commented on #15067
That is a question for IBM service that I don't know the answer.

[2022-05-16 16:42] pshipton commented on #15067
I can tell you it's not an OpenJ9 problem.

[2022-05-16 16:45] ChengJin01 opened #15068 "Design and Implementation of Foreign Linker API: Upcall"
**Description:**

The upcall of JEP389/412/419/424 which is built on top of our downcall implementation (please see https://github.com/eclipse-openj9/openj9/pull/12413 in details) aims to offer a solution from native to java to inter-operate with the java code by invoking the target method handle (based on the OpenJDK MH implementation in OpenJ9) via the thunk/dispatcher calls in native.

The foll

[2022-05-16 17:05] ymanton commented on #14974
Yes, it's likely that the required PIDs are occupied. Hard to know if the PIDs are just being recycled, or if other processes managed to acquire them, but since both can happen regularly it's probably best to assume that sleeping for a short time won't solve the problem permanently.

Instead we can use `criu-ns` to do the restore. It will try to restore the process in a new PID namespace. Try repl

[2022-05-16 18:52] tajila commented on #14470
@mikezhang1234567890 You can ask @AdamBrousseau to give you access to the external machines, seems to fail pretty frequently there

[2022-05-16 18:54] tajila commented on #15011
@pshipton since there is a workaround, can the blocker tag be removed?

[2022-05-16 18:55] zl-wang commented on #15068
FYI:  @dchopra001 @joransiu @knn-k

[2022-05-16 19:09] pshipton commented on #15066
Failed 1/40 with the addition of `-Xjit`. Trying with gencon, https://openj9-jenkins.osuosl.org/job/Grinder/813/

[2022-05-16 19:13] pshipton commented on #15011
@tajila I think we need to make a change, in particular for https://github.com/eclipse-openj9/openj9/pull/14632, such as double the default stack size like we did for Power at https://github.com/eclipse-openj9/openj9/blob/master/runtime/oti/j9cfg_builder.h#L108-L109.

[2022-05-16 19:43] dmitripivkine commented on #15063
The crash occur due bad O-slot in JIT frame. O-slot points to mid-object:
[code]
This failure looks similar to https://github.com/eclipse-openj9/openj9/issues/15017
@0xdaryl FYI

[2022-05-16 20:54] pshipton commented on #15066
0/50 failed with gencon.

[2022-05-16 21:21] pshipton commented on #15066
javacore shows:
[code]
Native stack
[code]

@tajila can someone take a look, I've marked this as a blocker for the next release.

[2022-05-16 21:23] pshipton commented on #15066
Sorry, I just noticed this looks like JIT after all.
@0xdaryl @hzongaro can someone take a look, I've marked this as a blocker for the next release.

[2022-05-16 23:47] pshipton commented on #15011
@quijote are you able to try https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK17_x86-64_windows_Personal/201/OpenJ9-JDK17-x86-64_windows-20220516-171336.tar.gz to see if it resolves the problem without having to set the `-Xmso`? We increased the default stack size, but this is a newer version that also needs more stack so I'm not sure if it will.

[2022-05-17 01:43] pshipton commented on #15064
Should be fixed now, closing.

[2022-05-17 01:43] #15064 closed

[2022-05-17 02:13] #14792 closed

[2022-05-17 03:02] knn-k commented on #15059
I ran the testcase in the debugger, and got the following call stack:

[code]

[2022-05-17 04:20] knn-k commented on #15059
#13096 is an old AArch64 issue that failed in `methodHandle_thunkableSignature()` -> `getReferenceField()` -> `getReferenceFieldAt()`.
But the old issue failed in `getReferenceFieldAt()` for the `thunks` field, instead of the `thunkableSignature` field in this issue.

[2022-05-17 04:42] #15011 closed

[2022-05-17 13:12] pshipton opened #15074 "Assertion failed OMRILOps.hpp:198: isVectorOpCode() - getVectorResultDataType() can only be called on vector opcode"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_OMR/115
No diagnostic artifacts for this one, see the other occurrences below.
[code]

Also:
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_0/221
- diagnostics https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.functional_ppc64_a

[2022-05-17 13:28] pshipton opened #15075 "cmdLineTester_loopReduction_0 failed in OMR acceptance"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_1/224/ - [osx1013-x86-3](https://openj9-jenkins.osuosl.org/computer/osx1013-x86-3)
cmdLineTester_loopReduction_0
[code]

This is in OMR acceptance. Not sure if the failure is caused by one of the changes (https://github.com/eclipse/omr/pull/6509 ?)
https://github.com/eclipse-openj9/openj9-omr/compare/c

[2022-05-17 13:42] llxia commented on #10757
@LongyuZhang could you take a look at jdk_security3 again? Thanks

[2022-05-17 13:45] pshipton commented on #15075
All the tests failed in the grinder, the failure is not intermittent.

[2022-05-17 14:08] hzongaro commented on #13596
Sorry - I had put this on the backburner and never made it back to continue investigation.  No further updates yet.

[2022-05-17 15:01] DanHeidinga commented on #14115
fyi @0xdaryl @hzongaro

[2022-05-17 15:14] babsingh commented on #14190
Task 6 for cgroup v2 is complete (reference: https://github.com/eclipse/omr/issues/1281#issuecomment-1072796875). This means that cgroup v2 has the same functionality as cgroup v1. We should be able to verify if customer issues are fixed.

re https://github.com/eclipse-openj9/openj9/issues/14190#issuecomment-1068441339: @mpirvu Can you please confirm if the `not be able to use AOT and experience a

[2022-05-17 15:34] babsingh commented on #14190
For the original issue, @EricYangIBM had verified that https://github.com/ibmruntimes/ci.docker/issues/124 was resolved in https://github.com/eclipse/omr/pull/6432#issuecomment-1096810188. So, it should also have been resolved by Tasks 1 and 2.

fyi @lgrateau

[2022-05-17 15:51] mpirvu commented on #14190
I verified on a Ubuntu 22.04 machine that the latest nightly build of OpenJ9 correctly determines that is running in container and sees the correct CPU and memory limits (on the same machine, the existing OpenJ9 0.32.0 does not read these limits correctly)

[2022-05-17 16:01] pshipton commented on #15075
Occurs on Windows as well.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR_testList_0/223/

[2022-05-17 16:02] pshipton commented on #15075
and xlinux https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_0/219/

[2022-05-17 16:05] midronij commented on #15074
Looks like this was just caused by dumb mistake that occurred while I was resolving some merge conflicts. The fix is here: https://github.com/eclipse/omr/pull/6519

[2022-05-17 16:24] midronij commented on #15074
@knn-k @jdmpapin when you have a chance could you please review and merge? Thanks!

[2022-05-17 18:44] taoliult opened #15078 "RuntimePermission getClassLoader issue when creating the cleaner thread in SunPKCS11 if security manager is enabled"
When running the cleaner thread creation in the security provider "SunPKCS11" of module "jdk.crypto.cryptoki", and meanwhile the security manager is enabled. The access denied error "Caused by: java.security.AccessControlException: Access denied ("java.lang.RuntimePermission" "getClassLoader")" happens.

[2022-05-17 19:50] cjjdespres commented on #15052
Since `Listener.cpp` already creates an SSL context for the JITServer, that context could be shared with the metrics thread. That would require that the SSL keys be the same between the metrics and JITServer threads, though.

[2022-05-17 20:09] hangshao0 opened #15081 "Update the value of access flag ACC_VALUE"
There is an update to the value object [JEP](https://openjdk.java.net/jeps/8277163) yesterday that class access flag `ACC_VALUE` is changed from `0x0100` to `0x0040`.

Once the corresponding code change is made by OpenJDK and merged into https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes, OpenJ9 needs to change
https://github.com/eclipse-openj9/openj9/blob/e9e305a509717a53025048f4f87b73c

[2022-05-17 20:52] mpirvu commented on #15052
That's ok if it works from Prometheus point of view. A JVM client connecting securely to JITServer needs `-XX:JITServerSSLRootCerts=cert.pem `. Will this work the same for Prometheus?

[2022-05-17 21:20] cjjdespres commented on #15052
I'm not that familiar with Prometheus, but [the FAQ](https://prometheus.io/docs/introduction/faq/#why-dont-the-prometheus-server-components-support-tls-or-authentication-can-i-add-those) and the [linked documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config) seems to suggest that it would, if I understand it correctly - the Prometheus server would be

[2022-05-17 21:29] mpirvu commented on #15052
The key is that scrape_config which has a field:
[code]

That link leads to:
[code]

which I am hoping to play the same role as `JITServerSSLRootCerts` for a JVM client, but I cannot guarantee it.

[2022-05-17 22:51] pshipton commented on #15075
I created a build without https://github.com/eclipse/omr/pull/6509 and the test passes.
https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/112

I also tried with the head of omr, and the test still failed.
https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/111

[2022-05-18 02:22] pshipton commented on #15075
The omr change was reverted so I'm closing this.

[2022-05-18 02:22] #15075 closed

[2022-05-18 06:35] knn-k commented on #15059
I reverted the change from PR #15037 locally, and it seems to resolve the crash on AArch64 macOS.  No failure in 50x runs.
I have no idea how #15037 relates to the crash in looking up the `thunkableSignature` field.
I also wonder why we see failures only on AArch64 macOS as #15037 looks like a platform-independent change.

FYI. @dsouzai

[2022-05-18 11:24] pshipton commented on #15074
@midronij this is not fixed. See the failures in https://openj9-jenkins.osuosl.org/job/Pipeline-OMR-Acceptance/276/
Example https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_0/223/

[2022-05-18 12:55] hzongaro commented on #15066
I was able to reproduce this 1/50 in a Grinder run with the nightly build from April 21 https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK18_x86-64_windows_Nightly/56/OpenJ9-JDK18-x86-64_windows-20220421-202221.tar.gz - which was deleted from Artifactory within the past 24 hours.  Continuing to look at it. . . .

[2022-05-18 13:02] cjjdespres commented on #14706
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/957/, `test_JITServer_1`. This time it was `testServerUnreachableForAWhile`.

[2022-05-18 14:00] dsouzai commented on #15059
@knn-k  I don't think reverting the change is the right approach. If the test is only failing in the AOT builds, it's not unprecedented that we disable the test until the fix is added (see https://github.com/eclipse-openj9/openj9/issues/6057). The change in https://github.com/eclipse-openj9/openj9/pull/15037 does not impact the semantics of the `rememberClass` API; it is allowed to return NULL at

[2022-05-18 14:20] jdekonin opened #15085 "Compile failure on Mac x86 with Xcode 12.4"
Failure in openj9.dtfj-gensrc-src when compiling with xcode 12.4 which is the desired version for JDK17.

[code]

[2022-05-18 14:40] dsouzai commented on #15059
Because the crashing compile seems to be dealing with method handles, it must not be an AOT compile (though it would be good to confirm this). As such, I don't know what the change in https://github.com/eclipse-openj9/openj9/pull/15037 (an AOT compile specific change) has to do with a non-AOT compilation.

The test is running with `-XX:RecreateClassfileOnload`, so that sounds like the kind of thin

[2022-05-18 14:54] midronij commented on #15074
My bad, looks like I missed part of the problem. https://github.com/eclipse/omr/pull/6522 should fully fix it.

[2022-05-18 15:29] #15074 closed

[2022-05-18 21:41] pshipton opened #15088 "core_pattern problem"
on ub18-390-2
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_s390x_linux_OMR_testList_0/230/tapResults/
[code]

[2022-05-19 11:24] keithc-ca commented on #15085
Earlier in the build log I see this:
[code]
I expect that https://github.com/eclipse/omr/pull/5800 will fix this because it will avoid using the failing `dwarfdump-classic`.

[2022-05-19 12:15] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly_testList_0/274
TestIBMJlmRemoteClassNoAuth_0

[2022-05-19 12:21] pshipton commented on #13875
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/277

[2022-05-19 12:27] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/58
ConcurrentLoadTest_5m_1
[code]

[2022-05-19 12:34] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_x86-64_windows_Nightly_testList_2/63
ConcurrentLoadTest_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_x86-64_windows_Nightly_testList_2/63/system_test_output.tar.gz

[2022-05-19 12:35] jdekonin commented on #15085
I'll keep an eye on that PR and retest once its merged.  Thanks @keithc-ca!

[2022-05-19 12:43] pshipton commented on #15059
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_aot_Personal_testList_1/14
JCL_Test_SM_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.functional_aarch64_mac_aot_Personal_testList_1/14/functional_test_output.tar.gz
[code]

[2022-05-19 12:46] pshipton commented on #15059
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_aot_Personal_testList_0/13
jsr292_InDynTest_1
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_aarch64_mac_aot_Personal_testList_0/13/functional_test_output.tar.gz

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_aot_P

[2022-05-19 15:36] pshipton commented on #15051
The change is promoted in jdk8u342-b02

[2022-05-19 15:39] #14799 closed

[2022-05-19 18:21] keithc-ca commented on #15078
@taoliult This should be resolved by #15090: could you please confirm by closing this.

[2022-05-19 18:26] pshipton commented on #15051
I tried a build with VS2019 but it failed
[code]

[2022-05-19 19:40] JamesKingdon commented on #14489
I'm looking at a Java8 crash with a null 'this' passed to intersect() that looks like it came from the return value of a prior call to applyGlobalConstraints. I don't know if I can track back to the constraint that was passed to applyGlobalConstraints to see if it was also null, but I'll give it a go.

[2022-05-20 07:54] quijote commented on #15011
@pshipton: I tried the build you provided without `-Xmso` and did not experience `StackOverflowError` with it anymore.

[2022-05-20 11:51] pshipton commented on #15011
Great news. The change is in the next release coming July.

[2022-05-20 12:26] JasonFengJ9 opened #15098 "JDK19 build failure at openj9-staging branch"
[code]

[2022-05-20 13:04] 0xdaryl commented on #14753
@joransiu : could you assign this for investigation please?

[2022-05-20 14:10] thimo-seitz commented on #14328
In recent release it seems that this issue is fixed. Hotspot needs 6 seconds, OpenJ9 8 seconds.
[code]

[2022-05-20 14:49] taoliult commented on #15078
@keithc-ca Let me run the FIPS tests to see if it fix the issue, will update once the tests done.

[2022-05-20 15:46] #15098 closed

[2022-05-20 15:57] JamesKingdon commented on #14489
I located the constraint instance passed as a parameter to applyGlobalConstraints and it appears to be a VPNullObject, which matches up with Brad's comments in https://github.com/eclipse-openj9/openj9/issues/14489#issuecomment-1043428614

[2022-05-20 16:17] joransiu commented on #14753
@Spencer-Comin , can you please take a look?  Thanks!

@tajila : Any chance you still have the diagnostic output from: https://github.com/eclipse-openj9/openj9/issues/14753#issuecomment-1075645879?

[2022-05-20 20:04] cjjdespres commented on #15052
I noticed in the [OpenSSL documentation](https://www.openssl.org/docs/manmaster/man3/BIO_read_ex.html) that `BIO_read` can still block even if `poll` has been used. That might be an issue given the current `poll`/`read` structure of the server. That page does say that non-blocking IO can be used with `poll` instead.

I was also curious about where a good place to free the `SSL_CTX` would be. Right

[2022-05-20 20:23] babsingh commented on #14190
@tajila Why did we move this issue from the 0.33 to 0.34 release? As of now, cgroup v2 support is identical to cgroup v1 support. So, this issue can be closed once the end users verify the fix.

[2022-05-20 20:25] hangshao0 commented on #15081
A bit more updates I noticed:

`ACC_PERMITS_VALUE` is removed and `ACC_IDENTITY (0x0020)` is added.
The `java/lang/IdentityObject` interface is removed.
The unnamed factory method `<new>` is renamed to `<vnew>`

[2022-05-20 20:34] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/223/

[2022-05-20 21:09] tajila commented on #14190
Keeping it to track the tests changes. If you have another item for that we can close this.

[2022-05-20 21:30] taoliult commented on #15078
Run the FIPS tests with both personal build and nightly build, reports links as follow. Both works. No such access denied "getClassLoader" error. So, close this.

Tests reports:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24066/testReport/
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24052/testReport/

[2022-05-20 21:30] #15078 closed

[2022-05-21 14:03] tajila commented on #14753
@joransiu Unfortunately I no longer have the diagnostic output

[2022-05-23 09:49] PowerUser1234 opened #15101 "Version Number?"
What version of the Java OpenJDK is eclipse-openj9 up to, and compatible with?  OpenJDK is on version 18, preparing for version 19 at the time of this message.  By reckoning of OpenJDK version numbers, and in order for us to know for sure, which such version number does the latest stable version of eclipse-openj9 possess?

[https://openjdk.java.net/](https://openjdk.java.net/)

[2022-05-23 14:11] DanHeidinga commented on #15101
Does that address your question?  If there's something that needs more explanation, please let us know

[2022-05-23 16:14] 1a2s3d4f1 commented on #14204
@amicic
I want to get less pasue with balanced gc. Set a lower region age can slove some long-pause problem. Use option  -XXgc:tarokDisableDynamicCollectionSetSelection can imporve pause time. It improve average pause time.
![VGC_pause](https://user-images.githubusercontent.com/40121560/169861525-633a29e6-5e9c-41f8-a705-83711af7d526.png)
Eden size:
![VGCLabelsedensize_74](https://user-images.githu

[2022-05-24 07:23] PowerUser1234 opened #15102 "Java Floating Point Arithmetic and StrictMath Methods Correction?"
To eclipse-openj9,

Java floating point errors occur by means of a representation issue to do with using the IEEE 754 floating point binary equation for floating point decimal types in Java, namely, float and double.

Since floating point errors in Java do occur in the decimal unit in the last place and the hexadecimal unit in the last place, and that any such spurious results break the contiguous

[2022-05-24 10:59] knn-k commented on #15059
The native call stack following `estimateCodeSize()` looks like this.  It is not an AOT compilation.

[code]

[2022-05-24 14:21] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_2/170
MiniMix_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_2/170/system_test_output.tar.gz

[2022-05-24 14:29] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_aarch64_linux_Personal_testList_2/46
DaaLoadTest_daa1_special_5m_8 `-Xgcpolicy:gencon -Xshareclasses -Xjit -Xnocompressedrefs`

[code]

[2022-05-24 14:56] babsingh commented on #14190
Those tests are OMR specific. In addition to those tests, all pending cgroup related OMR work is being tracked in https://github.com/eclipse/omr/issues/1281#issuecomment-1072796875.

This OpenJ9 issue was primarily opened to address cgroup related user issues. Since those issues have been resolved, we should close this issue.

[2022-05-24 14:56] pshipton commented on #14590
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_aarch64_mac_Personal_testList_2/7/
DaaLoadTest_all_special_5m_3 `-Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_aarch64_mac_Person

[2022-05-24 15:07] pshipton commented on #15066
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_aarch64_mac_Personal_testList_0/6/
DaaLoadTest_all_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedref`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_aarch64_mac_Personal_testList_0/6/system_test_output.tar.gz
[code]

[2022-05-24 15:09] pshipton commented on #15066
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_x86-64_linux_Personal_testList_3/6
DaaLoadTest_daa2_special_5m_6

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_x86-64_linux_Personal_testList_3/6/system_test_output.tar.gz
[code]

[2022-05-24 17:42] mpirvu commented on #15052
`BIO_read` being sometimes blocking is not an issue for the compilation requests. Before the poll was added, we had blocking operations. poll was added to be able to shutdown nicely, so the only thing that can happen is to delay the shutdown until the data comes.
For the metrics exporter this could sometimes be problematic. We say that we allow 4 concurrent requests through poll. If, for whatever

[2022-05-24 19:36] pshipton opened #15104 "DDR related failures in OMR acceptance on mac with https://github.com/eclipse/omr/pull/5800"
See https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_0/229
and https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_1/229

Example cmdLineTester_callsitedbgddrext_openj9_0:
[code]

[2022-05-24 19:42] pshipton commented on #15059
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_aot_Personal_testList_1/15
JCL_Test_SM_1

[2022-05-24 19:46] cjjdespres commented on #15052
Yes, I was planning on reusing the SSL_CTX. I thought it could be stored in the `CompilationInfo` and initialized just before the listener and metrics threads were spawned. The OpenSSL documentation describes it as a

which prompted me to look at sharing it between the two threads, but I haven't seen anything that recommends against creating two with the same keys.

As for the blocking issue, the

[2022-05-24 20:21] JasonFengJ9 opened #15105 "JDK11 jdk_nio_0_FAILED Compilation failed cannot find symbol: class ExType"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.openjdk_s390x_linux/71/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_B

[2022-05-24 20:26] JasonFengJ9 opened #15106 "JDK11 jdk_security3_0_FAILED Unexpected exception: sun.security.validator.ValidatorException: No trusted certificate found"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.openjdk_aarch64_linux/46/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security3_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG

[2022-05-24 20:35] JasonFengJ9 opened #15107 "JDK11 jdk_lang_1_FAILED NPE at java.base/java.security.SecureRandom.getDefaultPRNG(SecureRandom.java:277) & Unexpected provider count. Expected: 12. Actual: 4"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_fips_testList_0/1/`(`rhel8x64-fips4-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=FIPS&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.openjdk_x86-64_linux_fips&amp;DOCKER_REQUIRED=fal

[2022-05-24 20:41] pshipton commented on #15102
OpenJ9 relies on the OpenJDK class libraries. Any change in this area needs to occur in OpenJDK. The example Java program and C program both compute the same results, the difference is in how they are printed. Perhaps in java you want to use printf and limit the precision.

[2022-05-24 20:41] #15102 closed

[2022-05-24 20:42] JasonFengJ9 opened #15108 "JDK11 jdk_util_1_FAILED fips related failures"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_fips_testList_0/1/`(`rhel8x64-fips4-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_util_1&amp;TEST_FLAG=FIPS&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.openjdk_x86-64_linux_fips&amp;DOCKER_REQUIRED=fal

[2022-05-24 20:46] pshipton commented on #15108
This is related to https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/520

[2022-05-24 20:53] pshipton commented on #15107
@alon-sh @taoliult

[2022-05-24 20:57] pshipton commented on #15106
Is this failing across platform or just on this one?

[2022-05-24 21:01] keithc-ca commented on #15104
I opened a PR to revert that change (see https://github.com/eclipse/omr/pull/6526). It seems the version of `dwarfdump` in use produces output that isn't being interpreted properly resulting in lots of (incorrect) zero offsets, for example:
[code]

[2022-05-24 21:11] pshipton commented on #15106
@LongyuZhang fyi. Does this fail on Temurin as well?

[2022-05-24 21:12] pshipton commented on #15105
ExType is defined later in the same file.
`    record ExType(String extension, List<String> expectedTypes) { }`

[2022-05-24 21:19] pshipton commented on #15105
`record` is only applicable to jdk17+, not sure why this test exists in this form in jdk11. It must not have been there last week.

[2022-05-24 21:22] pshipton commented on #15105
There was a change in the test https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/33f59394fd7 that added this, but it's been there since 11.0.16+1

[2022-05-24 21:26] pshipton commented on #15105
Oh I see, "last weekly run" from April 27 was quite some time ago, 11.0.16+1 was promoted after May 4. https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/516

[2022-05-24 21:52] pshipton commented on #15105
Seems we should patch the test until OpenJDK decides to fix it. Created https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/530

[2022-05-24 21:56] #15101 closed

[2022-05-25 00:08] #15105 closed

[2022-05-25 00:38] #14190 closed

[2022-05-25 01:08] knn-k commented on #14243
DDR on AArch64 macOS will be available soon when #14420 is merged.  I am waiting for https://github.com/eclipse/omr/pull/5800 to promote.

[2022-05-25 01:15] knn-k commented on #15059
I found I was able to reproduce the crash with jsr292Test_1 on AArch64 Linux by running with `TEST_FLAG=AOT`.
Now I assume this is not a macOS-specific problem.

[2022-05-25 01:46] pshipton commented on #15059
We are short on aarch64 linux machine so we don't run the AOT tests on this platform. We test amac, plinux, xlinux, zlinux.

[2022-05-25 01:47] pshipton commented on #14243
https://github.com/eclipse/omr/pull/5800 is being reverted, see https://github.com/eclipse-openj9/openj9/issues/15104#issuecomment-1136427732

[2022-05-25 02:02] knn-k commented on #15104
I had run extended.functional on x86-64 macOS with OMR 5800 as https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Personal/12/ .  I should have tried sanity.functional at the same time.

[2022-05-25 02:09] pshipton commented on #15104
I would expect DDR testing in extended.functional to have uncovered the same problem. I wonder if the `dwarfdump` you have is working, and not the same as the one on the OpenJ9 build machines.

[2022-05-25 02:13] pshipton commented on #15104
[code]

[2022-05-25 02:19] knn-k commented on #15104
Output from my AArch64 macOS environment:
[code]

I ran all the DDR tests that will be enabled by PR #14961 on AArch64 macOS, and they all passed in my environment.

[2022-05-25 02:31] knn-k commented on #15104
The failures in the OMR acceptance test was on x86-64 macOS.
AArch64 macOS passed the acceptance test because DDR tests are not enabled yet.
https://openj9-jenkins.osuosl.org/job/Pipeline-OMR-Acceptance/279/

[2022-05-25 03:26] LongyuZhang commented on #15106
@pshipton  Yes, these two tests are failing on all platforms for Tenurin ([Issue here](https://github.com/adoptium/aqa-tests/issues/2123#issue-769213757)), but I did not see them fail before when testing with Openj9. I have created PR to exclude these two tests.

[2022-05-25 03:44] knn-k commented on #15059
`TR_ResolvedRelocatableJ9Method::storeValidationRecordIfNecessary()` calls `fej9->sharedCache()->rememberClass()`, and it returns a NULL for the `ThunkTuple` class.
https://github.com/eclipse-openj9/openj9/blob/18b0f7891874f134d83b3294b679804b3388a365/runtime/compiler/env/j9method.cpp#L1384

I guess PR #15037 may have changed the result from `fej9->sharedCache()->rememberClass()`.  @dsouzai

[2022-05-25 04:30] knn-k commented on #15059
`TR_J9VMBase::getInstanceFieldOffset()` and `TR_J9SharedCacheVM::getInstanceFieldOffset()` can return `~0` as the error code when it failed to find the field offset.
On the other hand, `TR_J9VMBase::getReferenceField()` does not handle the error case, and it resulted in the crash in this PR.
https://github.com/eclipse-openj9/openj9/blob/18b0f7891874f134d83b3294b679804b3388a365/runtime/compiler/env

[2022-05-25 06:48] PowerUser1234 opened #15109 "Java Floating Point Error Repair Clarification"
(Please Delete this one post, it is a mistake)

[2022-05-25 07:06] Akira1Saitoh commented on #15059
I think it is an AOT compilation because the VM instance is `TR_J9SharedCacheVM`. Am I right? But there are method handles in the compiled method?

[2022-05-25 07:11] PowerUser1234 opened #15110 "Floating Point Correction Clarification."
This is a reply to the last statement at the end of
[https://github.com/eclipse-openj9/openj9/issues/15102](https://github.com/eclipse-openj9/openj9/issues/15102)
from **pshipton**

Yes, but the problem is that the OpenJDK and JCP have abjectly turned down fixing these errors.  Therfore, if the nominated matter is an important change, even a bug to be fixed, despite what Oracle has ruled, the only

[2022-05-25 08:31] knn-k commented on #15059
Correction: Yesterday I wrote that it was not an AOT compilation in my comment https://github.com/eclipse-openj9/openj9/issues/15059#issuecomment-1135768551 .  That was wrong.

I made sure the crash is caused by an AOT compilation by using `-Xjit:verbose={compileStart}`.  The JIT verbose log shows the following line at the end, and the method name appears in the sighandler output as `Method_being_

[2022-05-25 11:24] keithc-ca commented on #15104
The failures occur with earlier versions of llvm-dwarfdump (e.g. version 1001).
I may have a fix ready before the revert is merged.

[2022-05-25 11:47] #15106 closed

[2022-05-25 13:05] pshipton commented on #15104
Right, sorry, I looked at the wrong machine.
[code]

[2022-05-25 13:08] #15109 closed

[2022-05-25 13:10] pshipton commented on #15110
Then you can expect the same answer here. Like I said, OpenJ9 depends on OpenJDK.

[2022-05-25 13:10] #15110 closed

[2022-05-25 14:43] dsouzai commented on #15059
I guess the confusing thing here is how we got to the point where we're running the InterpreterEmulator. Normally in Walker.cpp there's a bunch of exceptions for when the ILGenerator comes across MH related bytecodes. However, here we're not using the ILGenerator, but the Interpreter Emulator.

@hzongaro do we always use the IntEmulator when estimating the code size? If so, how do we ensure that w

[2022-05-25 17:06] pshipton opened #15114 "OpenJDK util/stream/ReduceTest crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/62
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/ReduceTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_aarch6

[2022-05-25 17:09] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_aarch64_mac_Nightly_testList_1/58

[2022-05-25 18:09] keithc-ca opened #15115 "JIT compile error with OpenJDK method handles"
See https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_windows_ojdk292_Personal/1/ for this:
[code]

[2022-05-25 18:42] keithc-ca commented on #14882
Fixed via #14963.

[2022-05-25 19:21] hzongaro commented on #15059
Sorry, Irwin - I haven't looked at the `InterpreterEmulator` before, so I'm not able to quickly answer your questions.  Perhaps Nazim @nbhuiyan would be better able to answer?

[2022-05-25 20:08] dsouzai opened #15117 "Podman and Docker options for running the CRIU restore image"
Running a restore image with Podman and Docker involves a few options on the run command, namely:

1. `--security-opt systempaths=unconfined`; needed to mount `/proc/sys/kernel/ns_last_pid` as RW
2. `--security-opt seccomp=unconfined`; needed to run blocked system calls
3. `--security-opt apparmor=unconfined`; (Docker only); needed to write to `/proc/sys/kernel/ns_last_pid`

To avoid running with

[2022-05-25 20:08] #15117 closed

[2022-05-25 20:15] pshipton commented on #15088
Fixed it, I hope. At least for the moment.
https://askubuntu.com/questions/420410/how-to-permanently-edit-the-core-pattern-file
https://github.com/eclipse-openj9/openj9/issues/14940#issuecomment-1106669956

[2022-05-25 20:49] nbhuiyan commented on #15059
@dsouzai

Yes

For the OpenJDK MH implementation at least, we do have checks in place to abort during AOT for both [invokehandle](https://github.com/eclipse-openj9/openj9/blob/afc8574686c7e85b24a8463c8e45e4842592c608/runtime/compiler/optimizer/InterpreterEmulator.cpp#L1302) and [invokedynamic](https://github.com/eclipse-openj9/openj9/blob/afc8574686c7e85b24a8463c8e45e4842592c608/runtime/compiler/o

[2022-05-25 21:40] smlambert opened #15119 "cmdLineTester_libpathTestRtfChild_0 fails against headless platforms"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.functional_x86-64_alpine-linux_testList_0/2/
https://trss.adoptium.net/output/test?id=628e442372761a4c5c55ae49

The test tries to load a library that won't be present for a headless build.

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  not a regression, always failed

F

[2022-05-25 21:51] pshipton commented on #15119
What is expected here? Are we going to create a new test bucket like sanity.headless that don't include this test?

[2022-05-25 22:00] jdmpapin commented on #15059
`visitInvokedynamic()` only calls `createMethodHandleArchetypeSpecimen()` when a known object table exists. I was under the impression that AOT compilations would not have a known object table. It looks like the `TR_DisableKnownObjectTable` option is what prevents it from being created:
https://github.com/eclipse-openj9/openj9/blob/e929d6b4244562b86e3a555cc3053a79765aa603/runtime/compiler/compile/

[2022-05-26 00:47] knn-k commented on #15059
SVM is not enabled on AArch64.  This is the reason why `TR_J9SharedCacheVM::getInstanceFieldOffset()` takes the non-SVM path.

https://github.com/eclipse-openj9/openj9/blob/e929d6b4244562b86e3a555cc3053a79765aa603/runtime/compiler/control/J9Options.cpp#L2345-L2347

[2022-05-26 01:53] knn-k commented on #15059
I opened PR #15121 for enabling SVM on AArch64.
I applied it locally and ran jsr292Test_1 more than 30 times.  It seems to work at least for the testcase.

[2022-05-26 02:18] gaoyn-cn commented on #6499
i have got the same issue.
my os is AIX

jdk version is 1.8.0_301
SR6 FP36  OpenJ9 7bb9176 20210824_12036

[2022-05-26 02:19] gaoyn-cn commented on #6499
it there any work around?

[2022-05-26 05:24] PowerUser1234 opened #15123 "Clarification/Inquiry about Floating Point Behaviour Correction?"
This message is a reply to the statement towards the bottom of
[https://github.com/eclipse-openj9/openj9/issues/15110](https://github.com/eclipse-openj9/openj9/issues/15110)
from **pshipton**.

What I have said is that the corrections that I have tried to propose can be implemented with full, previous compatability.
Either from a patch program installer, or from within the JRE or JDK themselves.

[2022-05-26 05:25] tonycody commented on #15060
https://sdkman.io/jdks#sem
nice.

[2022-05-26 05:25] tonycody commented on #15060
https://sdkman.io/jdks#sem
nice.

[2022-05-26 05:26] tonycody commented on #15060
@AdamBrousseau
https://sdkman.io/jdks#sem
nice.

[2022-05-26 12:04] gaoyn-cn commented on #6499
page of the link is missing.

[2022-05-26 12:28] DanHeidinga commented on #15123
@PowerUser1234 One way to gain traction for a change like this is to implement it as a library with a liberal license and share it on github / maven / etc so that it's easy to get access to.

Adoption by a broad section of the Java community will first fix the behaviour for users of the library and second show that there is a strong desire for your correct floating point behaviour.

Once there's b

[2022-05-26 12:28] #15123 closed

[2022-05-26 13:20] jdmpapin commented on #15059
We should probably also set this option in non-SVM AOT. Do you agree, @dsouzai?

[2022-05-26 14:13] doveye commented on #6499
@pshipton looks like that info was removed from v8 docs when most of the GC content was ported to OpenJ9 early last year. We believed the info related to hard real time and shouldn't have been in the docs anyway. I also found that the info was copied from WebSphere Real Time docs to Java 7.1 docs in 2014. If these config steps do make a difference then I guess the info *is* still valid for v8.

[2022-05-26 15:44] pshipton commented on #9969
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Nightly_testList_1/287
J9vmTest_4 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.functional_s390x_linux_Nightly_testList_1/287/functional_test_output.tar.gz
[code]

[2022-05-26 15:46] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_1/285
cmdLineTest_sigabrtHandlingTest_0
[code]

[2022-05-26 15:48] pshipton commented on #14695
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/232/
jdk_util_1
java/util/DoubleStreamSums/CompensatedSums.java
[code]

[2022-05-26 15:52] pshipton commented on #14943
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly_testList_1/279/ - [p8-java1-ibm08](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm08)
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_ppc64_aix_Nightly_testList_0/74/  - [p8-java1-ibm12](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm12)

[2022-05-26 15:53] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_2/69
TestIBMJlmRemoteClassAuth_1

[2022-05-26 15:55] pshipton commented on #10759
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_OpenJDK11/27
[code]

[2022-05-26 16:04] cjjdespres commented on #15052
Looking at the threading issue a little more, I see the following in the OpenSSL FAQ:

The library initialization function itself must be called only once as well. (This is distinct from the context initialization, which can happen multiple times). They also say that (for 1.1.0 and up)

It may also be the case that the system OpenSSL was built without threading support, but I believe that can be d

[2022-05-26 16:25] pshipton opened #15125 "extensions PR build with depends not working"
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/533#issuecomment-1138734273
Is there something wrong with
`jenkins compile amac jdk11 depends eclipse-openj9/openj9#v0.33.0-release eclipse-openj9/openj9-omr#v0.33.0-release`?

https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_mac_Personal/96/console
[code]

@AdamBrousseau

[2022-05-26 16:28] cjjdespres commented on #15052
Is there a cross-platform function to set a socket to be non-blocking? I see the internal `setNonBlocking` in `port/unix/j9process.c`, at least. Though, isn't JITServer is only supported on Linux and Z?

[2022-05-26 17:03] #15115 closed

[2022-05-26 18:05] hangshao0 commented on #15081
OpenJDK has added `ACC_IDENTITY`, but its asm code is not updated yet. Currently it does not allow `ACC_IDENTITY` to be set, which is causing some of our tests to fail:

[code]

We need to exclude these tests in vt standard build until OpenJDK update asm to include `ACC_IDENTITY`.

[2022-05-26 18:58] fengxue-IS opened #15128 "New DDR command `constantpool`"
Add a new DDR command for use in jdmpview that would print out the constantpool structure (ROM and RAM) for a given J9Class address.
format should be:
`constantpool        <ramclass>`
[code]

For each parameter:
Index = index of the constantpool entry (this should start at 1 and up to romConstantpoolCount)
ROM = pointer to the object/struct address from `J9ROMConstantPoolItem` at index (obtained t

[2022-05-26 18:58] fengxue-IS commented on #15128
@thallium You can start with this draft format
@tajila FYI

[2022-05-26 19:13] mpirvu commented on #15052
That `setNonBlocking` function is marked `static` so you cannot use outside that file
https://stackoverflow.com/questions/1150635/unix-nonblocking-i-o-o-nonblock-vs-fionbio is a good read and it seems to recommend
[code]
There is also our portlib for socket operations in omrsock.c
[code]

on Unix it has this implementation
[code]

Ideally, you would use this port library, but then you have to chan

[2022-05-26 19:23] mpirvu commented on #15052
What exactly can cause multithreading issues? For the metrics exporter there is exactly one thread that handles all the reading  and writing.
For the compilation request/response dialog there are multiple threads, but each thread works on its own socket (meaning that a socket is not shared by different threads). Is that a problem?

[2022-05-26 19:29] pshipton opened #15129 "OpenJDK java/lang/System/PropertyTest stdout.encoding expected to not be null"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_x86-64_windows_Personal/1/
java/lang/System/PropertyTest.java
[code]

[2022-05-26 19:39] cjjdespres commented on #15052
According to the documentation (for one of the callbacks that needs to be implemented in 1.0.2)

In later versions there is still some global state that needs to be guarded with locks, but the locking is all implemented automatically, assuming that the library has been compiled with threading support (which it usually is).

Based on a brief internet search, I haven't seen other mention of the "not

[2022-05-26 19:40] cjjdespres commented on #15052
Otherwise I don't think there's a problem with multi-threading, as long as the SSL connections themselves are not shared between threads, and we wouldn't be doing that.

[2022-05-26 19:44] jdmpapin commented on #15061
Opened eclipse/omr#6531 with a fix

[2022-05-26 19:45] pshipton commented on #15061
Keep in mind it will need to be double delivered, if we think this is appropriate, to get into the 0.33 release.

[2022-05-26 19:47] AdamBrousseau commented on #15125
I think I broke this in #14995. It only allows numbers now and not branch names. It should be a simple fix.

[2022-05-26 19:59] cjjdespres commented on #15052
It's interesting that this hasn't come up before, since as you mentioned there can be multiple threads all using OpenSSL at once even now.

[2022-05-26 20:35] mpirvu commented on #15052
What would those shared data structures be? I see the context being shared, but BIO is per thread.

[2022-05-26 20:56] tajila commented on #15128
Made some minor updates

[2022-05-26 21:01] tajila commented on #15128
I ruined the table a bit, but something like that with proper tabbing

[2022-05-26 21:16] hangshao0 commented on #12878
`java.lang.IdentityObject` is removed, Test_PackageAnnotation and Test_PackageAnnotation2 are re-enabled by #15130.

[2022-05-26 21:18] cjjdespres commented on #15052
I think it's the internal, global data structures that OpenSSL initializes when `SSL_library_init` is called that they're referring to, not the context or the BIOs. The documentation doesn't really go into detail about what the global data structures are, only that they're implicitly shared between threads. This only affects 1.0.2, according to the documentation, and only when those couple of call

[2022-05-26 21:18] hangshao0 commented on #12878
See https://github.com/eclipse-openj9/openj9/issues/15081#issuecomment-1138866830

`org.openj9.test.javaagenttest.GCRetransformTest.testGCRetransform` and
`org.openj9.test.javaagenttest.RefreshGCCache_ExtendedHCR_Test.test_EXTENDED_HCR` are excluded.

[2022-05-26 21:35] cjjdespres commented on #15052
It's possible that the functions we call don't actually use the implicit global state in a way that would cause a crash. The documentation is not very detailed on this point; it only insists that these callbacks need to be set when OpenSSL is used in a multithreaded application.

[2022-05-27 06:38] knn-k commented on #15059
I opened PR #15131 for disabling known object table in AOT compilation, and started test jobs.
The fix works fine for jsr292Test_1 in my local testing.

[2022-05-27 10:53] knn-k commented on #15059
Test jobs on AArch64 Linux/macOS in #15131 finished successfully.

[2022-05-27 12:20] pshipton commented on #15088
[code]
[code]

[2022-05-27 12:28] pshipton commented on #9894
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/279
SC_Softmx_JitAot_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/279/system_test_output.tar.gz

16.jvm4.stderr
[code]

[2022-05-27 12:33] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_0/287
MiniMix_aot_5m_0
[code]

[2022-05-27 12:40] pshipton commented on #14753
New 10x x 8 grinder
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/826/

[2022-05-27 12:52] pshipton commented on #14243
amac DDR is now enabled in future builds.

[2022-05-27 12:56] pshipton commented on #14387
Afaik this is completed now that https://github.com/eclipse-openj9/openj9/pull/14420 is merged.

[2022-05-27 12:56] #14387 closed

[2022-05-27 13:05] pshipton commented on #14636
amac DDR is now enabled in future builds.

[2022-05-27 13:55] pshipton commented on #10759
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Nightly/176
jdk_util_1
sun/util/logging/PlatformLoggerTest.java
[code]

[2022-05-27 13:59] pshipton commented on #14753
There is a crash in https://openj9-jenkins.osuosl.org/job/Grinder_iteration_2/60

[2022-05-27 19:02] keithc-ca opened #15134 "Tidy up FFI downcall tests"
FYI @ChengJin01

See https://github.com/eclipse-openj9/openj9/pull/15133#discussion_r883904147.

[2022-05-27 19:07] pshipton commented on #15129
From build +20:
"New system properties for System.out and System.err ([JDK-8283620](https://bugs.openjdk.java.net/browse/JDK-8283620))
core-libs/java.lang

Two new system properties, stdout.encoding and stderr.encoding, have been added. The value of these system properties is the encoding used by the standard output and standard error streams (System.out and System.err).

The default values of the

[2022-05-27 19:15] pshipton opened #15135 "Support for PAC-RET Protection on Linux/AArch64"
@0xdaryl @knn-k fyi the following is in the Java 19 release notes.

"Support for PAC-RET Protection on Linux/AArch64 ([JDK-8277204](https://bugs.openjdk.java.net/browse/JDK-8277204))

Support for PAC-RET protection on the Linux/AArch64 platform has been introduced.

When enabled, OpenJDK will use hardware features from the ARMv8.3 Pointer Authentication Code (PAC) extension to protect against Retu

[2022-05-27 19:20] pshipton commented on #15059
Re-opening and assigning to the 0.33 milestone as per https://github.com/eclipse-openj9/openj9/pull/15131#issuecomment-1139649416

[2022-05-27 20:25] #15125 closed

[2022-05-27 20:41] fengxue-IS commented on #15128
fixed table format, added some additional notes on expected values for ROM and RAM

[2022-05-27 23:25] knn-k commented on #15059
I opened #15138 for v0.33.

[2022-05-28 02:53] PowerUser1234 commented on #15123
I have already considered this, however we involved are not C, C++ or Assembly language programmers.  We do not know about the bindings involved, we do not know enough about CPU or RAM hardware either.  We aren't software engineers of systems engineers. **As will follow here, these things should really have to be a problem, either.**

[code]
BigInteger and BigDecimal work arounds are slower, and a

[2022-05-30 00:10] knn-k commented on #14635
This failure is still reproducible.

[2022-05-30 13:09] cjjdespres commented on #14538
From `/job/Test_openjdk11_j9_extended.system_ppc64le_linux_jit_Personal/357/`, failure in `MiniMix_5m_1`. The process hangs. Console log:

[code]

I believe this is tracked by #11868.

[2022-05-30 14:18] pshipton opened #15140 "DDR not working on alinux64 cent8 -Xnocompressedrefs"
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/834
Tested on the latest nightly build.
Re-run link:
https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?TARGET=testList+TESTLIST=cmdLineTester_GCCheck_0,testDDRExtJunit_MonitorsAndDeadlock3_0,testDDRExtJunit_MonitorsAndDeadlock4_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&VENDOR_TEST_DIRS=&TKG_OWN

[2022-05-30 14:44] pshipton commented on #15140
The problem doesn't show up in the nightly builds, although they also run on cent8 machines.
I didn't duplicate the problem with jdk11 either, https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/835/

[2022-05-30 14:46] DanHeidinga commented on #15123
The Java ecosystem benefits from standardization.  Changes to how floating point works would violate the standard and make OpenJ9 incompatible.  This isn't something we're willing to do.

The path forward is as I explained above - to produce a library that offers the semantics you want and drive community adoption of it.  That will help convince the broader java community of the necessity of your

[2022-05-30 14:47] pshipton commented on #14590
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_aarch64_mac_Personal_testList_0/8
DaaLoadTest_all_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_aarch64_mac_Personal_testList_0/8/system_test_output.tar.gz
[code]

[2022-05-30 14:48] dsouzai commented on #15059
Closing as I just merged https://github.com/eclipse-openj9/openj9/pull/15138

[2022-05-30 14:48] #15059 closed

[2022-05-30 14:55] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Personal_testList_2/22
DaaLoadTest_daa1_special_5m_9 `-Xaggressive -Xgcpolicy:gencon -Xjit -Xnocompressedrefs`
[code]

[2022-05-30 15:30] ChengJin01 commented on #15134
I will update the code against the suggestion and verify to see whether it works well.

[2022-05-30 16:30] itsTyrion opened #15142 "Incorrect native method return type causes a segfault that doesn't occur with HotSpot"
I noticed that, if the return type of a native (JNI) method is specified incorrectly, e.g. `byte[]` for a `void` method, a HotSpot VM throws a NPE with stacktrace, while an OpenJ9 VM segfaults.
![image](https://user-images.githubusercontent.com/17730120/171032081-35c71baf-34c5-445b-8e33-6f02cda232d0.png)
![image](https://user-images.githubusercontent.com/17730120/171032114-6ee4fe3a-becb-4204-9983-

[2022-05-30 19:16] dnakamura commented on #9912
I'm currently looking at optimizations limiting the ammount of stack we need to walk, since in a recursive situation we only really need to walk back as far as any previous calls where we already checked for ludcl. Currently we do have functionality in the vm for a truncated stack walk as part of the ORB code. I'm currently experimenting with it to see if it can be reused here without breaking any

[2022-05-30 22:24] keithc-ca commented on #15134
jenkins compile alinux64 jdk17

[2022-05-30 22:44] AlexeyKhrabrov opened #15146 "Segfaults in JITServer-compiled code with disableDelayRelocationForAOTCompilations"
Using JITServer with the `-Xjit:disableDelayRelocationForAOTCompilations` option can rarely (less than 1 in 100 runs) lead to segfaults in JIT-compiled code.

The issue is reproducible with AcmeAir and (less frequently) DayTrader7. Affected methods (extracted from stack traces in javacore files) include `java/nio/DirectByteBuffer.put([BII)Ljava/nio/ByteBuffer;` and `com/ibm/ws/bytebuffer/internal/

[2022-05-30 23:22] #15134 closed

[2022-05-31 05:17] AlexeyKhrabrov commented on #15146
One possible simple workaround fix for this issue is to always delay relocation of remote AOT methods until at least the next invocation of the method. This is how relocation is already handled for JITServer AOT cache methods that use SVM (for a different reason), which has negligible impact on performance. PR #15148 implements this fix.

[2022-05-31 05:17] AlexeyKhrabrov commented on #15146
@mpirvu FYI

[2022-05-31 05:30] knn-k commented on #13429
The GCC version in the Dockerfile may also need to be updated.

[2022-05-31 06:27] PowerUser1234 commented on #15123
The IEEE 754 standard doesn't say anything about floating point denormal and pronormal values, or how to deal with them or not.  This is why C++ has allowed for SSE and SSE2 use.   Therefore removing floating point errors from representation, arithmetic, and StrictMath methods to another result and its representation, doesn't violate any particular standard.

The change involved needn't be an inco

[2022-05-31 12:13] 0xdaryl commented on #15017
@a7ehuo : could you investigate this issue please?

[2022-05-31 13:23] pshipton commented on #9894
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/281
SC_Softmx_JitAot_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/281/system_test_output.tar.gz

16.jvm4.stderr
[code]

[2022-05-31 13:29] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly_testList_2/283
TestIBMJlmRemoteClassAuth_1

[2022-05-31 13:50] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_mac_Nightly/66/
jdk_lang_VarHandleTest_j9_1 `-Xjit:enableAggressiveLiveness -XX:-JITServerTechPreviewMessage -Xjit:scratchSpaceFactorWhenJSR292Workload=1 -XX:-UseCompressedOops`
[code]

[2022-05-31 14:14] pshipton opened #15151 "JEP 428: Structured Concurrency (Incubator)"
https://openjdk.java.net/jeps/428
review ends - 2022/06/02

[2022-05-31 14:14] pshipton commented on #15151
@tajila @0xdaryl fyi

[2022-05-31 14:30] DanHeidinga commented on #15123
@PowerUser1234 You're asking a lot of people to do a tremendous amount of work to maintain compatibility while providing an additional mode for floating point that you prefer.

If you want this to move forward, you need to build the consensus around it.  I've already explained a path to do that.

We're not going to implement this proposal without seeing that broad demand.

[2022-05-31 14:38] DanHeidinga commented on #14115
@0xdaryl indicated he'll give this look by the end of the week

[2022-05-31 14:58] tajila opened #15152 "JDK19: Test failures related to OpenJDK Thread and Loom"

[2022-05-31 14:58] tajila commented on #15152
@fengxue-IS @pshipton Lets put all the Test failures here

[2022-05-31 15:05] tajila commented on #15152
Note: any test that relies on Loom support will need to add the --enable-preview support flag. We can disable these tests for the time being

[2022-05-31 15:09] JasonFengJ9 commented on #15152
I can look at the test failure(s) if needed.

[2022-05-31 15:13] tajila commented on #15152
@JasonFengJ9 Since Jack is running sanity.functional can you run sanity.openjdk?

[2022-05-31 15:13] tajila commented on #15152
Just add links to failing tests here

[2022-05-31 15:15] hzongaro commented on #15066
Further update regarding the core file from the x86 Linux failure.  The crash happens in [`getInlinedMethod`](https://github.com/eclipse-openj9/openj9/blob/799203e93bdfba0814e9b9b8594958a397d9d3c6/runtime/compiler/runtime/MethodMetaData.c#L2010-L2013) because `inlinedCallSite` is NULL.

It looks like in this case it holds a pointer to the `J9JITExceptionTable` for `net/openj9/test/binaryData/TestB

[2022-05-31 15:19] fengxue-IS commented on #15152
List of known failed testing in sanity.functional
[code]

[2022-05-31 15:51] JasonFengJ9 commented on #15152
Launched a personal build `view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/13083` w/ `sanity.openjdk` at `ppc64_aix,x86-64_linux,ppc64le_linux,s390x_linux,aarch64_linux,aarch64_mac,x86-64_windows`.

[2022-05-31 16:32] keithc-ca commented on #15140
The problem is that when the executable is available, its sections are included as part of the virtual address space of the process image and may conflict with virtual addresses defined by the core file.

[2022-05-31 16:52] gacholio commented on #15142
This is not a VM error. If Hotspot survives this, it's purely by chance.

[2022-05-31 20:58] pshipton commented on #15051
The VS2017 build all passed.

[2022-05-31 21:36] #15140 closed

[2022-06-01 00:31] babsingh commented on #15152
**sanity.openjdk results** w/ https://github.com/eclipse-openj9/openj9/pull/15073:
- https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdknext_j9_sanity.openjdk_x86-64_linux_Personal/143/consoleFull

**56/70 failures** happen because of
[code]

The above failures should be resolved with **`JVM_IsPreviewEnabled`'s implementation:**
[code]

@fengxue-IS Would you like to include the above code

[2022-06-01 00:58] babsingh commented on #15152
**sanity.system results** w/ https://github.com/eclipse-openj9/openj9/pull/15073:
- https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdkNext_j9_sanity.system_x86-64_linux_Personal/144/tapResults/

### Failing sanity.system Test Targets
[code]

[2022-06-01 01:07] babsingh commented on #15152
**extended.system results** w/ https://github.com/eclipse-openj9/openj9/pull/15073:
- https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdkNext_j9_extended.system_x86-64_linux_Personal/138/tapResults/

### Failing extended.system Test Targets
[code]

### Errors

Some of the below errors may get fixed with https://github.com/fengxue-IS/openj9/commit/8d19a4fa7879f7ac86481e2413e283e8079a6a2e.

[2022-06-01 01:28] babsingh commented on #15152
**extended.functional results** w/ https://github.com/eclipse-openj9/openj9/pull/15073:
- https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdkNext_j9_extended.functional_x86-64_linux_Personal/194/tapResults/

### Failing extended.functional Test Targets

[code]

[2022-06-01 01:37] babsingh commented on #15152
**extended.openjdk results** w/ https://github.com/eclipse-openj9/openj9/pull/15073:
- https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdknext_j9_extended.openjdk_x86-64_linux_Personal/1/consoleFull

### Failing extended.openjdk Tests

[code]

[2022-06-01 01:42] babsingh commented on #15152
### Summary
- `sanity.functional`: https://github.com/eclipse-openj9/openj9/issues/15152#issuecomment-1142275103
- `extended.functional`: https://github.com/eclipse-openj9/openj9/issues/15152#issuecomment-1142996246
- `sanity.openjdk`: https://github.com/eclipse-openj9/openj9/issues/15152#issuecomment-1142865822
- `extended.openjdk`:  https://github.com/eclipse-openj9/openj9/issues/15152#issuecomm

[2022-06-01 02:00] JasonFengJ9 opened #15160 "JDK19 java/util/concurrent/tck/JSR166TestCase.java AssertionFailedError - Output overflow"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 02:10] JasonFengJ9 opened #15162 "JDK19 Loom : jdk_foreign_1_FAILED - failed to get JDK properties"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 02:18] JasonFengJ9 opened #15163 "JDK19 Loom : jdk_lang_1_FAILED Compilation failed - ContinuationScope cannot be converted to Option"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 02:34] JasonFengJ9 opened #15164 "jdk17+ jdk_util_0_FAILED java/util/stream/test/org/openjdk/tests/java/util/stream/CountLargeTest.java - java timed out"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 02:35] JasonFengJ9 commented on #15152
Adding a few issues created from `sanity.openjdk` failures:
[JDK19 Loom : java/util/concurrent/tck/JSR166TestCase.java AssertionFailedError - Output overflow](https://github.com/eclipse-openj9/openj9/issues/15160)
[JDK19 Loom : jdk_foreign_1_FAILED - failed to get JDK properties](https://github.com/eclipse-openj9/openj9/issues/15162)
[JDK19 Loom : jdk_lang_1_FAILED Compilation failed - Continuatio

[2022-06-01 03:04] knn-k commented on #14717
DDR is enabled in the nightly build at https://openj9-jenkins.osuosl.org/job/Build_JDK17_aarch64_mac_Nightly/68/, but core file is unavailable for this case.

[2022-06-01 11:19] knn-k opened #15165 ""-Xdump:none" generates core files"
When OpenJ9 is running with `-Xdump:none`, it generates a system dump file (core file on Linux) if the VM crashes.
It is explained in https://www.eclipse.org/openj9/docs/xdump/ as:

However, it is counterintuitive.
Specifying `-Xdump:system:none` turns off system dumps, then it is natural to expect `-Xdump:none` to turn off all the dumps (java, heap, jit, snap, system).

You can use the environmen

[2022-06-01 11:37] JavaTailor opened #15166 "J9 seems to be missing some reports when facing definclass"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at Attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

[code]

## Problem summary

The decompiled code of the test case is shown below. For this same test case, Hotspot reports `LinkageError` , but O

[2022-06-01 12:05] JasonFengJ9 opened #15167 "JDK19 java/lang/Class/ArrayType.java - IllegalArgumentException"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 12:11] JasonFengJ9 opened #15168 "JDK19 jni/nullCaller/NullCallerTest.java - ERROR: Didn't get the expected IllegalCallerException"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-01 12:45] JasonFengJ9 commented on #15152
Excluding following `sanity.openjdk` tests:
[code]

[2022-06-01 13:09] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/286
    java/util/Calendar/CalendarRegression.java.CalendarRegression
    java/util/Calendar/JulianTest.java.JulianTest
    java/util/Calendar/NonLenientTest.java.NonLenientTest
    java/util/Formatter/Constructors.java.Constructors
    java/util/Formatter/NullArg.java.NullArg
    java/util/HashMap/NullKeyAtR

[2022-06-01 13:22] jdekonin opened #15169 "Install XCode / clang 12.4 to support Java 17+"
As per https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms 11.2 with XCode / clang 12.4 is the supported compiler for Java 17+. OpenJ9 is currently documented as using 10.14 with xcode 10.3 and clang 10.0.1 for all versions.

I have 12.4 working with my internal systems after https://github.com/eclipse/omr/pull/5800 was merged.

As discovered working though this on my internal sy

[2022-06-01 13:44] jdekonin commented on #15169
Listing of Macs
https://openj9-jenkins.osuosl.org/label/sw.os.mac&&hw.arch.x86/

10.11.6
 - [ ] osx1011-x86-1
 - [ ] osx1011-x86-2
10.13.6
 - [ ] osx1013-x86-3
 - [ ] osx1013-x86-4
10.14.6
 - [ ] osx1014-x86-1
 - [ ] osx1014-x86-2
 - [ ] osx1014-x86-3
10.15.7
 - [ ] mac10-x86-1
 - [ ] mac10-x86-2

@pshipton what do you think would be the ideal version coverage?  I imagine we should likely also hav

[2022-06-01 13:48] pshipton opened #15170 "aarch64 linux LambdaLoadTest_J9_5m_0 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_aarch64_linux_Nightly_testList_2/72 - [ub20-aarch64-1](https://openj9-jenkins.osuosl.org/computer/ub20-aarch64-1)
LambdaLoadTest_J9_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs `

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.system_aarch64_linux_Nightly_testList_2/72/system_test_o

[2022-06-01 13:48] tajila commented on #15152
Thanks @babsingh for doing the test runs. Ive updated the description above.

@JasonFengJ9 Anything that fails due to `--enable-preview` can be excluded for now. Any other other failure that we have a fix in hand for can also be excluded, we can re-enable after https://github.com/eclipse-openj9/openj9/pull/15073 is merged.

[2022-06-01 13:52] pshipton commented on #15170
Perhaps related to
https://github.com/eclipse-openj9/openj9/issues/15063
https://github.com/eclipse-openj9/openj9/issues/14818
https://github.com/eclipse-openj9/openj9/issues/14130

[2022-06-01 13:54] babsingh commented on #15152
Not sure how close we are to fully passing sanity.functional for https://github.com/eclipse-openj9/openj9/pull/15073. If not very close, can we disable all failing tests (with trackers/issues open)? This will at-least allow builds to promote and changes to move from the `openj9-staging` to `openj9` in the extensions repo. Without latest changes from the extension repo, all other JEP related work w

[2022-06-01 13:54] pshipton commented on #14470
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_ppc64_aix_Nightly_testList_0/72/
[code]

[2022-06-01 13:56] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_0/73/
TestIBMJlmRemoteClassNoAuth_0

[2022-06-01 14:01] JasonFengJ9 opened #15171 "JDK11 jdk_security3_1_FAILED AIOOBE at java.base/java.lang.CharacterDataLatin1.getProperties(CharacterDataLatin1.java:74)"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.openjdk_x86-64_linux/71/`(`ub18x64rt1-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security3_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKE

[2022-06-01 14:01] tajila opened #15172 "Loom: Initial VM and Core JCL structures"
Depends on https://github.com/eclipse-openj9/openj9/pull/15073

[code]

[code]

[code]

[code]

[2022-06-01 14:08] JasonFengJ9 commented on #15152
Yeah, that's what https://github.com/eclipse-openj9/openj9/issues/15152#issuecomment-1143564328 aims for a green `sanity.openjdk`.
Just echo @babsingh https://github.com/eclipse-openj9/openj9/issues/15152#issuecomment-1143644021, a green `sanity.functional` w/ excludes can promote `openj9-staging` content, and help discovering other breakages earlier.

[2022-06-01 14:09] tajila commented on #15172
@fengxue-IS This is the first thing we need after https://github.com/eclipse-openj9/openj9/pull/15073 is merged

[2022-06-01 14:14] tajila opened #15174 "Loom: VM Pinning support"
Depends on https://github.com/eclipse-openj9/openj9/issues/15172

When a Virtual thread enters a synch block (or method) it is pinned until it exits. Likewise for native functions and Object.wait().

Part 1: Basic Pinning support
- JNI callout increment counter, decrement when callout frame is popped
- monenter increment counter, vice versa on monexit (same for sync methods)
- Object.wait inc coun

[2022-06-01 14:19] tajila opened #15175 "Loom: JIT Pinning support"
See https://github.com/eclipse-openj9/openj9/issues/15174

Depends on https://github.com/eclipse-openj9/openj9/issues/15172

Part 1: Basic Pinning support
- JNI callout increment counter, decrement when callout frame is popped
    - Only need to worry about direct JNI transitions from JIT, if it goes through interpreter VM will handle it
- monenter increment counter, vice versa on monexit (same fo

[2022-06-01 14:20] tajila commented on #15175
FYI @0xdaryl

[2022-06-01 14:26] tajila opened #15176 "Loom: j.l.Thread native support"
Add implementations and tests for:

Java_java_lang_Thread_currentCarrierThread
- this will need a new field on j9vmthread which will have to be added to the GC list of objects to track

Java_java_lang_Thread_setCurrentThread
- this sets vmthread->threadObject
- this may need a cINL and fastJNI since its called frequently

Java_java_lang_Thread_extentLocalCache
- this will need a new field on j9vmt

[2022-06-01 14:31] tajila opened #15177 "Loom: Basic continuation entry and yield support"
Depends on https://github.com/eclipse-openj9/openj9/issues/15172 and https://github.com/eclipse-openj9/openj9/issues/15176

Create a J9VMContinuation
- allocate J9VMContinuation, perhaps out of pool
     - optionally add deadContinuationThreadList and use recycled ones 
- allocate java stack for J9VMContinuation
    - optionally allocate from pool as well
- add to continuation continuationlist
- a

[2022-06-01 14:34] JasonFengJ9 commented on #15176
I already have following:
[code]
will add `Java_java_lang_Thread_currentCarrierThread`.

[2022-06-01 14:35] tajila opened #15178 "Loom: GC Contiuation Scan type"
Depends on https://github.com/eclipse-openj9/openj9/issues/15177

All jdk.internal.vm.Continuation instances will be handled specially by the GC
- Add new scan type GC_ObjectModel::SCAN_CONTINUATION
- Update scanners to detect this type
- GC will need to scan the stacks of these types
    - for stackwalking, stack allocate j9vmthread, copy fields from j9vmcontinuation

[2022-06-01 14:45] tajila opened #15179 "Loom: GC Thread scanning"
Depends on https://github.com/eclipse-openj9/openj9/issues/15178

Threads should be scanned as they normally would. If a thread is mounted with a VirtualThread, then the virtual thread stack will be scanned, the carrier thread stack will be stored in a continuation instance.

All continuation objects will have a stack that can be found with the vmref field. These stacks should be scanned just as a

[2022-06-01 14:45] tajila commented on #15179
FYI @dmitripivkine @gacholio @amicic

[2022-06-01 14:58] tajila commented on #15166
@dnakamura Can you please take a look at this

[2022-06-01 15:02] tajila opened #15180 "Loom: GC collection of Continuations"
Depends on https://github.com/eclipse-openj9/openj9/issues/15179

Virtual threads are not part of the root set. They are only alive if they are mounted on a carrier thread or if there is a strong reference to them (ie scheduler, blocking queue, etc.)

In order to determine which Continuations are dead
- when scanning Continuation remove from live continuation list and add to new continuation survi

[2022-06-01 15:02] tajila commented on #15180
FYI @dmitripivkine @LinHu2016

[2022-06-01 15:08] tajila opened #15181 "Loom: DDR support"
Depends on https://github.com/eclipse-openj9/openj9/issues/15177

Possibly add a new !virtualthreads command to list all virtual threads.

Or perhaps add an option to `!threads [virtual | platform | all]`
- platform is the existing behvaiour, this can be the default
- use vmVirtualThread list to find all vthreads

Add !continuationstack [j9vmcontinuation] to dump stacktrace, similar to `!stack`. W

[2022-06-01 15:12] tajila opened #15182 "Loom: JNI support"
Depends on https://github.com/eclipse-openj9/openj9/issues/15172

Implement `IsVirtualThread`

See https://download.java.net/java/early_access/jdk19/docs/specs/jni/index.html

[2022-06-01 15:16] tajila opened #15183 "Loom: JVMTI support"
Depends on https://github.com/eclipse-openj9/openj9/issues/15177

JVMTI
- can_support_virtual_threads //new capbility
- Suspend/ResumeAllVirtualThreads //new APIs
	- finds all vthreads and suspends or resumes them
- StopThread
	- disallowerd on vthreads
- GetThreadInfo
	- vthread is always daemon
	- vthread priotity is always normal
- RunAgentThread
	- cannot be vthread
- GetThreadGroupChildren
	-

[2022-06-01 15:19] #15057 closed

[2022-06-01 15:19] #15058 closed

[2022-06-01 15:29] tajila opened #15184 "Loom: Investigate solutions for <4gb memory limitations"
Depends on https://github.com/eclipse-openj9/openj9/issues/15177

In the basic implementation all Continuation stacks are allocated in <4gb. This imposes a restriction on the number of active Continuations that we can have. The following solutions can address this.

Potential solution:
When creating a continuation, nothing changes, simply allocate the <4gb stack.

Upon yield, allocate a new >4gb m

[2022-06-01 15:32] tajila opened #15185 "Loom: Investigate performance impacts of pinning"
Any operation that pins is essentially going to be serialized with virtual threads. This can severely degrade performance if the pinned operation is on the critical path. Note, any native function entry or code that runs in serialized block will pin. OpenJDK has addressed this in reflection (JEP 416), internet resolution (JEP 418), security managers (JEP 411) and other areas. We need to take a loo

[2022-06-01 15:33] tajila commented on #15185
FYI @0xdaryl @vijaysun-omr

[2022-06-01 15:36] tajila opened #15186 "Loom: Create testing plan"
Initially, we can write some small sanity test cases.

Basic test 1:

[code]

Basic test 2:

[code]

It looks like there is a lot of test coverage in `test/java/lang/Thread/virtual/*`

[2022-06-01 15:37] tajila commented on #15186
FYI @llxia @fengxue-IS @JasonFengJ9

[2022-06-01 15:37] tajila commented on #15178
@LinHu2016 can you comment in this issue so I can assign it to you

[2022-06-01 15:47] ChengJin01 commented on #15162
1) Looking at the failure:
[code]
which is incorrect given `jdk.incubator.foreign` was totally removed in `openj9-staging` and all new code were moved to `java.base`. So `--add-modules jdk.incubator.foreign` should be removed from the command line.

2) We should ignore all FFI tests on `openj9-staging` given the created build was messed up with the new code from `openj9-staging` on OpenJDK side an

[2022-06-01 15:53] vijaysun-omr commented on #15185
Similar typo question about : "to find places where we have native calls or synchronized blocks in hot paths" should be "to find places where we have native calls and synchronized blocks (both) in hot paths" ?

[2022-06-01 15:56] JasonFengJ9 opened #15188 "JDK19 jdk_util_0_FAILED java/util/Locale/LanguageSubtagRegistryTest.java & LSRDataTest.java"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24367/`(`ub18-aarch64-9`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2Fopenjdk&VENDOR_TES

[2022-06-01 16:12] JasonFengJ9 commented on #15168
This might not be Loom related, to be triaged.

[2022-06-01 16:19] vijaysun-omr commented on #15185
One clarification regarding your mention of the phrase "serialization" : "synchronization" anyway is a "serializing operation" (for the threads at the critical section) in a sense for the threads involved. So I wanted to better understand what additional "serialization" would be the case here with virtual threads. e.g. does it affect the carrier thread associated with the virtual thread only OR so

[2022-06-01 16:38] JasonFengJ9 opened #15189 "JDK19 jdk/internal/vm/Continuation/HumongousStack.java - Error evaluating expression: invalid boolean value: null for expression vm.gc.G1"
Failure link
------------

From an internal build `/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Personal/2/consoleFull`(`ub18-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_

[2022-06-01 16:53] pshipton commented on #14958
It's excluded for 18. If we are excluding for 11 then 17 should also be excluded.
@llxia will you take care of this, or should Jason or I or create a PR?

[2022-06-01 17:51] JasonFengJ9 opened #15190 "JDK19 java/util/logging/LogManager/Configuration/updateConfiguration/UpdateConfigurationTest.java - RuntimeException: Expected 'barRef' to be cleared"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24384/console`(`cent7-aarch64-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2Fopenjdk&VE

[2022-06-01 18:12] JasonFengJ9 opened #15191 "CRIU TR::CompilationInfo::prepareForCheckpoint causes hang intermittently at single thread mode"
While working on a testcase for [Prevent contended monitor enters at CRIU single thread mode](https://github.com/eclipse-openj9/openj9/pull/14651), it hangs intermittently, and the culprit thread has following stacktrace:
[code]

fyi @dsouzai @tajila

[2022-06-01 18:16] tajila commented on #15191
@dsouzai please take a look at this

[2022-06-01 18:29] AdamBrousseau commented on #6499
We set AIXTHREAD_HRT in the Jenkins node config, for some reason. I see it in the OpenJ9 AIX nodes. The internal AIX nodes seem to be hit and miss whether or not it's set. I'll open an issue to follow up on all of them.

[2022-06-01 18:31] pshipton commented on #15169
Yes, this is fine with me.

[2022-06-01 18:32] dsouzai commented on #15191
@JasonFengJ9 do you mind sending me the diagnostic info (and the jdk)?

[2022-06-01 18:32] pshipton commented on #15169
Actually ATM we aren't using either of these machines as they both have problems, either due to the hardware or the OS version.

[2022-06-01 18:36] pshipton commented on #15169
What we could do with 10.11 is remove the test label so it's not used for regular testing, but then setup a minimal test that runs nightly to ensure we can still startup on this OS version.

[2022-06-01 18:36] vijaysun-omr commented on #15185
I'll ask about the example I had in mind wrt my interpretation of what you wrote : "Imagine we had 100 virtual threads and 20 carrier threads that they could run on...now imagine that 20 of those threads ended up doing a native call inside a sync region, meaning they bring the system to a standstill since the 80 other threads no longer have a carrier thread to ride on...if instead there were 100 r

[2022-06-01 18:59] vijaysun-omr commented on #15185
@zl-wang fyi too

[2022-06-01 19:14] amicic opened #15193 "Redesign of Locked Synchronizer processing"
JVM is supposed to respond to API where the list of threads and their Locked (Ownable) Synchronizes are provided:
https://docs.oracle.com/javase/7/docs/api/java/lang/management/ThreadMXBean.html#dumpAllThreads(boolean,%20boolean)
https://docs.oracle.com/javase/7/docs/api/java/lang/management/ThreadMXBean.html#getThreadInfo(long[],%20int)

We currently maintain the list of all live Synchronziers
-

[2022-06-01 19:38] tajila commented on #15185
Yes, thats correct. Basically, if a VirtualThread is pinned to the carrier (via `synchronized` or native code) and then blocks on something, then the carrier thread needs to wait for that blocking operation to complete, it cannot be used to schedule another thread. This effectively takes the carrier thread out of the pool of threads to schedule work. As stated in your example, if this happens to a

[2022-06-01 19:53] dsouzai commented on #15191
I was able to reproduce a hang, but I don't see a thread waiting in `TR::CompilationInfo::waitOnCRMonitor`. I see this:
[code]
I have a couple of questions:
1. What exactly does "single thread mode" mean, and what does that mean in terms of things like vmaccess?
2. @JasonFengJ9, in the coredump you looked at where it was hanging, what do the stack traces of the comp threads look like? When the hoo

[2022-06-01 20:01] tajila commented on #15185
So by "explicit locks" I mean java.util.concurrent.locks. These locks have been re-written such that they are yield points for VirtualThreads. Whenever a VirtualThread blocks on a j.u.c.lock, the scheduler can remove it and schedule another VirtualThread.

However, `synchronized` blocks do not have this support be cause the locking mechanism is internal to the JVM, making it difficult to integrate

[2022-06-01 20:10] 0xdaryl commented on #15185
Just seeking some clarity as I suspect we're not all on the same page yet.  Based on my reading and interpretation of the wording here [1], pinning will occur if EITHER we enter a native OR a synchronized block or method (i.e., only ONE need be true).  Is that the correct interpretation?

[1] https://cr.openjdk.java.net/~rpressler/loom/loom/sol1_part1.html#pinning

[2022-06-01 20:18] tajila commented on #15185
Yes, thats correct. Only one needs to be true.

On a related note, calling Object.wait() will pin as well.

[2022-06-01 20:27] zl-wang commented on #15185
this sounds really ugly.  but, overall, this (pinning to the extent that it kind-of deadlocks ... i.e. other virtual-threads cannot make progress to un-pin the whole situation) is less a performance issue, but more a configuration/correctness issue.

[2022-06-01 20:35] llxia commented on #15162
PR for Remove --add-modules jdk.incubator.foreign for JDK19: https://github.com/adoptium/aqa-tests/pull/3720

[2022-06-01 20:37] JasonFengJ9 commented on #15191
In this mode, only the thread performing Checkpoint is expected to run, `jvmCheckpointHooks`, `jvmRestoreHooks`, until exiting this mode. It acquire/release vmaccess as usual. During that period, this thread is the only Java thread running, and can't invoke `monitor_wait`, relinquish the ownership and wait for another Java thread notification which won't happen and cause hang.

It was from a live

[2022-06-01 21:09] #15167 closed

[2022-06-01 21:20] cjjdespres commented on #15052
I've been implementing this feature with the following differences in structure from the current server:

- Specifying SSL keys and certificates on the command line will enable SSL for the metrics server implicitly. This currently what happens with SSL for JITServer. I added command line flags to disable SSL for JITServer and the metrics server separately.
- If SSL is enabled for the metrics serve

[2022-06-01 21:29] cjjdespres commented on #15052
The server appears to be functioning properly with my changes and with OpenSSL disabled if I query it with `curl`. I had planned to start testing the server's behaviour with OpenSSL enabled, and its interaction with Prometheus, tomorrow.

[2022-06-02 00:13] knn-k commented on #15170
It is a failure with `-Xnocompressedrefs`.
I suspect there might be something with the large heap mode on AArch64 (both Linux and macOS).

[2022-06-02 01:26] jdekonin commented on #15169
I actually took this part from 1 of your comments.  I guess I misunderstood.  No worries I wasn't planning on touching labels used for targeting testing.  But from that comment I am guessing you'll want to keep a 10.14 system.  I've updated the description above with upgrade plan.  Thoughts?

[2022-06-02 03:26] AlexeyKhrabrov commented on #15146
After more testing, it turns out that the issue is reproducible without `disableDelayRelocation` as well. The segfault also happens with the Spring PetClinic benchmark, although even less frequently than with AcmeAir. For PetClinic, the affected methods (top of the Java call stack of crashing threads in the javacore) also include `sun/nio/ch/Util.getTemporaryDirectBuffer` and `sun/nio/ch/IOUtil.re

[2022-06-02 04:25] pshipton commented on #15169
I don't see the upgrade plan.

[2022-06-02 12:25] tajila opened #15195 "CRIU: Add tests to verify behaviour Executors in restore runs"

[2022-06-02 12:25] JavaTailor opened #15196 "J9 crashed under JDK8 and JDK11 on the same test case."
## Affected versions
We found a test case with crash problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

[code]
Java -version output under Windows 10
[code]
[code]
## Problem summary
We found that in a normal test case, if we executed the test case using J9-JDK8 or J9-JDK11 it would report crash, but if we executed it using Hots

[2022-06-02 12:47] jdekonin commented on #15169
Sorry, I guess I didn't save the comment.  Its there now as an update to the second comment in this issue; _**bold and italics.**_

[2022-06-02 13:01] pshipton commented on #15196
This one seems to be resolved already. I can duplicate the crash with the old JVM, but not with the latest released versions, jdk8u332, jdk-11.0.15+10

[2022-06-02 13:01] #15196 closed

[2022-06-02 13:08] pshipton commented on #15169
It would be better to have two 12.x machines rather than 3 11.x
I'm not sure if osx1011-x86-2 will be a usable machine, is it upgradable to 12.x?
We've this persistent problem https://github.com/eclipse-openj9/openj9/issues/9782 on osx1011-x86-2, it will be interesting to see if an OS upgrade makes it stable.

[2022-06-02 13:28] pshipton opened #15197 "LambdaLoadTest_J9_5m_1 Method "testRecursiveLambda" "testIndirectlyRecursive" not found"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_aarch64_linux_Nightly_testList_2/173 - [ub20-aarch64-osu-6](https://openj9-jenkins.osuosl.org/computer/ub20-aarch64-osu-6)
LambdaLoadTest_J9_5m_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

[code]

Maybe related to the new alinux machines just installed.

[2022-06-02 13:35] pshipton opened #15198 "OpenJDK util/stream/CountLargeTest.java timeout on alinux new OSU machine"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/204 - [ub20-aarch64-osu-1](https://openj9-jenkins.osuosl.org/computer/ub20-aarch64-osu-1)

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/204/openjdk_test_output.tar.gz
cores in the following locations, no javacore which would be usef

[2022-06-02 13:50] mpirvu commented on #15052
I find this a bit confusing: the user provides SSL keys and certificates to enable SSL globally and then he has to disable part of it. Since we are using 2 different contexts we can have two different SSL keys/certificates (or the same key/certificate). Thus we only need additional options for metrics encryption. I am open to other suggestions, but in general I would prefer to not change the curre

[2022-06-02 13:52] taoliult commented on #15108
@pshipton @keithc-ca @alon-sh
Those failures above from sanity.openjdk tests, due to some tests hard coded to use the provider SunJCE which is not enabled in the FIPS mode, or due to we removed the non-FIPS compliance algorithms from providers Sun and SunEC, or due to the FIPS mode only support the PKCS11 keys. So we will add the above tests into the ProblemList-fips.txt, so that these tests will

[2022-06-02 13:53] mpirvu commented on #15052
Do we have to do this? Meaning, is the current implementation flawed? I thought not, and if that's the case I would prefer to do this change in a separate PR.

[2022-06-02 13:57] dmitripivkine commented on #15170
There is strange that `PC` is reported in O-slots:
[code]

[2022-06-02 13:58] jdekonin commented on #15169
I updated to ave 2 * 11 and 2 * 12.  Not sure we can upgrade either 10.11 machine due to age of the hardware, but I'll try.  I could also leave osx1011-x86-2 as is and upgrade osx1011-x86-1 to avoid the problematic hardware, but that would remove the option for stable targeted testing.

[2022-06-02 14:00] pshipton commented on #15198
Looking at jdk_util_0
[code]

[2022-06-02 14:05] pshipton commented on #15198
The new OSU machines are much slower than the old ones, Adam pointed out the compile time went from 18m to 54m.

[2022-06-02 14:10] cjjdespres commented on #15052
The current implementation isn't flawed as it is, no. To keep the current server `poll()` structure, when SSL is enabled the sockets have to be non-blocking. Otherwise the SSL reads and writes could block even when `poll()` is used. If that change is made then the handling of reading and writing is very similar in the SSL enabled and disabled cases; the main change is that the server has to `poll(

[2022-06-02 14:53] #13347 closed

[2022-06-02 15:28] pshipton commented on #15169
Yes, let's do that. We don't need to do a lot of testing, basically just ensure the JVM runs. We can try to avoid running tests that would fail.

[2022-06-02 15:55] cjjdespres commented on #15052
I should mention that the initial `SSL_accept` that establishes an SSL connection also may fail due to insufficient data for reading or insufficient capacity for writing, so that also has to be taken into account in the `poll()` loop.

[2022-06-02 18:11] Mesbah-Alam commented on #11557
Since the failures are mostly on jlm class tests on AIX , it makes sense to exclude the related targets. Created PR for the exclude: https://github.com/adoptium/aqa-tests/pull/3722.

[2022-06-02 18:15] tajila commented on #15184
@0xdaryl ^^

[2022-06-02 18:17] dsouzai commented on #15191
Got lucky and managed to get a hang with my local build which contains the fix for the thread waiting on the comp monitor. It doesn't look we got to the JIT hook.

I'm now more convinced there are two problems; I don't think the second problem is caused by the JIT.

[2022-06-02 18:28] dsouzai commented on #15191
Opened https://github.com/eclipse-openj9/openj9/pull/15202 to fix the JIT issue.

[2022-06-02 18:28] JasonFengJ9 commented on #15191
The testcase intends to create monitor contention leading to a hang which is expected to be discovered by https://github.com/eclipse-openj9/openj9/pull/14651, and throw `RestoreException` instead. However it can't stop the hang due to this issue.
For some reasons, my environment can't reproduce a hang w/ the JIT stacktrace in question, glad @dsouzai find the cause.

[2022-06-02 18:33] JasonFengJ9 commented on #15191
Yes, pls do.

[2022-06-02 18:37] jdmpapin commented on #15061
Opened eclipse-openj9/openj9-omr#147 for 0.33

[2022-06-02 19:15] dsouzai commented on #15191
Based on https://github.com/eclipse-openj9/openj9/issues/15191#issuecomment-1145182053 I decided to pull in the changes from https://github.com/eclipse-openj9/openj9/pull/14651. With those changes, I'm able to reproduce the original problem.

While the issue of the comp thread waiting on the comp monitor is, I believe, valid, the actual problem here seems to be cause a comp thread is compiling, an

[2022-06-02 19:16] JasonFengJ9 commented on #15164
Also observed at `JDK17 0.33.0 m1 aarch64_linux`
[code]
50x grinder - `job/Grinder/24474/`

[2022-06-02 19:19] dsouzai commented on #15191
Do you think it's safe for the thread that's hooking into the jit to release vmaccess while it waits on the various monitors, and then reacquire it right before we return from the hook?

[2022-06-02 19:23] pshipton commented on #15164
I opened a separate issue for timeouts in this test on alinux in the openj9 nightly builds last night. I was blaming it on a machine change, as last night we are running on OSU machines which are much slower than the alinux machines we usually run on.
https://github.com/eclipse-openj9/openj9/issues/15198

Also related is https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/450 to get a javacore

[2022-06-02 19:24] pshipton commented on #15164
@JasonFengJ9 https://github.com/eclipse-openj9/openj9/issues/15164#issuecomment-1145223447 doesn't have a build link or machine.

[2022-06-02 19:35] JasonFengJ9 opened #15203 "jdk_security3_1_FAILED sun/security/provider/SecureRandom/AbstractDrbg/SpecTest.java java timed out"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/59/`(`ub18-aarch64-6`):
[code]
[Rerun in Grinder]([Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security3_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST

[2022-06-02 19:47] Mesbah-Alam commented on #11557
Made a change to stf (in my [branch](https://github.com/adoptium/STF/pull/128/files)) to make 5 attempts (instead of 1) at cleaning up sub-processes before giving up. Started a 20x grinder on [hyc Jenkins](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24475) - but it did not reproduce the failure scenario where `kill` fails.

---

Hi @pshipton , Could we please start a

[2022-06-02 19:56] pshipton commented on #11557
Created https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/865
20x on 4 machines (all that are free ATM)

[2022-06-02 19:57] dsouzai commented on #15191
With this change:
[code]
I didn't see the issue even after running 500 times. I still have a couple of questions though:
1. Is it possible for any other threads to have vmaccess at this point?
2. Is this still a reasonable thing to do when we're not in single threaded mode?

[2022-06-02 20:01] JasonFengJ9 commented on #15164
Added.

[2022-06-02 20:02] pshipton commented on #15198
In case this isn't machine related, the changes from the previously working build.
https://github.com/eclipse-openj9/openj9/compare/eeedfa4d2c4...792a28f15e3 - nothing relevant
https://github.com/eclipse-openj9/openj9-omr/compare/e542d083538...f6cc0533cf7 - aarch vector changes here, not sure they are relevent

@knn-k

[2022-06-02 20:06] pshipton commented on #15198
There are also some timeouts in internal testing that pre-date these changes.
https://github.com/eclipse-openj9/openj9/issues/15164

[2022-06-02 20:21] Mesbah-Alam commented on #11557
Thanks @pshipton !

We have a case where the second attempt at cleaning up the child process worked while attempt # 1 failed: https://openj9-jenkins.osuosl.org/job/Grinder_iteration_1/64/console

[code]

[2022-06-02 20:30] tajila opened #15204 "Panama MemoryAccessAPI: Add jit intrinsic support for vectorizedMismatch"
The following is used for mismatch operations in MemoryAccessAPIs. The JDK supplies a java implementation which is very slow. We are seeing test failures due to timeouts as a result of this, https://github.com/eclipse-openj9/openj9/issues/13211.

This API takes two arrays (of the same type) and compares each elements until there is a mismatch. This operation is can be applied to all primitive arra

[2022-06-02 20:33] amicic commented on #15193
As is stands now, the PR effectively removes 2K lines of code ( +472 −2,472). Some more is to be removed (JIT callback) at a later point.

[2022-06-02 20:37] JasonFengJ9 commented on #15203
The timed out occurred at a different test on `x86-64_linux`
[code]

`job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/62/`(`ub18x64rt1-4`)
[code]
50x grinder - `job/Grinder/24482/`

[2022-06-02 20:44] pshipton commented on #15198
I wonder if this is a real problem that only shows up on slower machines. The internal builds were broken for over a week, so we may not have seen when the problem was first introduced. The test isn't new and I don't see it recently un-excluded, it should have been running and passing for some time.

[2022-06-02 20:44] pshipton commented on #15198
On slower machines or different processors.

[2022-06-02 21:09] JasonFengJ9 opened #15205 "JDK19 javax/naming/spi/providers/InitialContextTest.java ClassNotFoundException: net.java.openjdk.test.UnknownInitialContextFactory"
Failure link
------------

From an internal build `job/Grinder_testList_0/931/consoleFull`(`ub20x64rt1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:13] JasonFengJ9 opened #15206 "JDK19 jdk_security1_1_FAILED java/security/misc/Versions.java AssertionError: expected [-1] but found [17]"
Failure link
------------

From an internal build `job/Grinder_testList_0/931/consoleFull`(`ub20x64rt1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:17] JasonFengJ9 opened #15207 "JDK19 jdk_security4_0_FAILED sun/security/krb5/etype/KerberosAesSha2.java Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Grinder_testList_0/931/consoleFull`(`ub20x64rt1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:22] JasonFengJ9 opened #15208 "JDK19 jdk_security3_1_FAILED sun/security/util/math/TestIntegerModuloP.java IllegalAccessException: class TestIntegerModuloP cannot access a member of class sun.security.util.math.intpoly.IntegerPolynomial25519 (in module java.base) with modifiers "private""
Failure link
------------

From an internal build `job/Grinder_testList_0/931/consoleFull`(`ub20x64rt1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:24] JasonFengJ9 opened #15209 "JDK19 jdk_security3_1_FAILED sun/security/util/Resources/Usages.java RuntimeException: Unused keys: [enter.dname.components, no.field.in.dname]"
Failure link
------------

From an internal build `job/Grinder_testList_0/931/consoleFull`(`ub20x64rt1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:31] JasonFengJ9 opened #15210 "JDK19 jdk_nio_0_FAILED java/nio/channels/etc/AdaptorCloseAndInterrupt.java ClosedByInterruptException"
Failure link
------------

From an internal build `job/Grinder_testList_2/242/consoleFull`(`ub20x64rt3-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_2&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fo

[2022-06-02 21:36] JasonFengJ9 opened #15211 "JDK19 jdk_vector_1_FAILED jdk/incubator/vector/Vector128ConversionTests.java"
Failure link
------------

From an internal build `job/Grinder_testList_3/157/consoleFull`(`ub20x64rt3-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=-f+parallelList.mk+testList_3&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2F

[2022-06-02 23:24] knn-k commented on #15198
This testcase was excluded in April 2020 because of timeouts.  I enabled the testcase again August last year.
https://github.com/eclipse-openj9/openj9/issues/9040

I am not surprised if this testcase fails with a timeout on a slower machine.

[2022-06-03 01:02] a7ehuo commented on #15017
I looked at the core from `18093` since the jitdmp from `70573` is incomplete. However, the jitdmp for `18093` shows different inlining from when it was crashed.  `jitdmp.18093` doesn't have `java/lang/StringUTF16.getChars([BII[CI)V` inlined, but javacore and stackslots show the top JIT frame is inlined frame `java/lang/StringUTF16.getChars([BII[CI)V` when the crash happened. The incomplete `jitdm

[2022-06-03 03:32] pshipton commented on #15198
With the updated timeout handler we get a javacore. I won't keep reporting the external machine failures, but the javacore for the timeout tonight does show a lot of time spent in the "MainThread" (and nowhere else) as could be expected.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/205/
[code]
[code]

[2022-06-03 03:58] pshipton commented on #15198
For comparison I ran the test on xlinux (internal fyre machine), and it took about 2m to run.

11.0.15
[code]
Last nightly build
[code]

[code]

[2022-06-03 04:03] pshipton commented on #15198
All the internal aarch64 machines are busy ATM. If I find one idle later I can try a similar manual test on this platform.

[2022-06-03 05:24] JavaTailor opened #15212 "J9 crashed under latest JDK8 and JDK11"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

[code]

## Problem summary

This test case is a modification on the #15196 issue. We found that the test case submitted by #15196 could not be t

[2022-06-03 07:07] knn-k commented on #15198
CountLargeTest took 20 minutes to finish in the previous run on cent8-aarch64-3:
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/203/testReport/

The number has been similar in older jobs -- 19 minutes on cent8-aarch64-2 in April:
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/175/testReport/

[2022-06-03 07:10] knn-k commented on #15198
Those PRs added AArch64 vector instructions, but they are not used anywhere yet.

[2022-06-03 07:37] knn-k commented on #15198
I ran the testcase in my local environment using three builds, and I see no particular performance degradation.  See the results below.

May 31 nightly build (https://openj9-jenkins.osuosl.org/job/Build_JDK17_aarch64_linux_Nightly/214/)
3 min 40 sec
[code]

June 1 nightly build (https://openj9-jenkins.osuosl.org/job/Build_JDK17_aarch64_linux_Nightly/215/)
3 min 41 sec
[code]

JDK 17 v0.32.0 (https

[2022-06-03 11:58] pshipton commented on #15212
I expect the OOM is normal, Hotspot has the same behaviour. I don't see anything to investigate, is there something I'm missing?

[2022-06-03 13:25] pshipton commented on #13764
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/292/
jdk_util_0
java/util/logging/ParentLoggersTest.java
[code]

[2022-06-03 13:31] pshipton commented on #15198
Another interesting question is why is this test only slow on jdk17+? Optimization problems with OpenJDK MH?
It's the same test, running and passing on jdk11 in about 10m, while timing out on jdk17+ at 16m.

[2022-06-03 13:45] JasonFengJ9 commented on #15191
Single Thread Mode stopped all threads that can run Java code, and GC/JIT threads are not affected. So yes, it is possible other threads holding the vmaccess, DDR command `threads flags` has hints about the thread(s) in question.

Does `prepareForCheckpoint()` really need vmaccess, if so, it might not be safe to do so, hypothetically what about there is a STW GC going on?

[2022-06-03 14:13] dsouzai commented on #15191
No, it's the opposite. In the code in https://github.com/eclipse-openj9/openj9/issues/15191#issuecomment-1145285245 I'm **releasing** vmaccess in `prepareForCheckpoint` because the compilation thread (a different thread) needs exclusive vmaccess when it calls `jit_artifact_protected_add_code_cache`.

Will they hold on to it indefinitely, or will they release it at some point, because otherwise the

[2022-06-03 14:43] tajila commented on #15152
J9vmTest_4 passed for me

[2022-06-03 14:46] JasonFengJ9 commented on #15191
Just to clarify the question about `prepareForCheckpoint()`, does this JIT helper manipulate objects, i.e., is vmaccess required for its (underneath) operations? `jit_artifact_protected_add_code_cache` attempting exclusive vmaccess probably can't be guaranteed to proceed at single threaded mode (STM).

That depends on what other GC/JIT threads are doing, the compilation thread could be blocked dur

[2022-06-03 14:50] JasonFengJ9 opened #15213 "JDK19 openj9-staging build breakage due to JDK-8287496: Alternative virtual thread implementation that maps to OS thread"
[8287496: Alternative virtual thread implementation that maps to OS thread](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/b1ef35620fae0fec3ddafe49a23f3faebfaebcc3) is coming into extension `openj9-staging` https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/452

A few `OpenJ9` changes required - https://github.com/eclipse-openj9/openj9/commit/26c871835ed9f5f28c3eac6e905bab9bcec1b231

[2022-06-03 16:49] zl-wang opened #15214 "Build issue: cannot get close to 63GB compressed heap anymore"
I ran into this during a performance evaluation:
Silently turned to uncompressed ...
[code]

we can get to 57GB compressed heap:
[code]

the build might not specify ld option to relocate .text/.data/.bss out of below-64G region anymore. So, the C-heap allocation obviously interferes with the java-heap allocation (although from the map alone below, i figured we should be able to get 60GB compressed

[2022-06-03 17:49] tajila commented on #15213
@JasonFengJ9 Can you please work on a patch for this

[2022-06-03 17:55] dsouzai commented on #15191
So here's what the circumstance looks like:

Comp Thread (C1): compiling some method.

Hook Thread (T1): VM calls `jitHookPrepareCheckpoint` which calls `prepareForCheckpoint`:
https://github.com/eclipse-openj9/openj9/blob/6335127afcf1386288a67c99f5a9489afec59770/runtime/compiler/control/HookedByTheJit.cpp#L1832-L1841

T1 may have vmaccess when it's in `prepareForCheckpoint`; in fact in your test

[2022-06-03 18:04] JasonFengJ9 commented on #15213
Created https://github.com/eclipse-openj9/openj9/pull/15215, pls review.

[2022-06-03 18:43] pshipton commented on #15214
I think it's a side affect of using mixed refs, but agree it does seem correct. By specifying -Xcompressedrefs it should force that mode even if the requested size isn't appropriate.
@dmitripivkine any comments?

I'll look for the code and see about updating it.

[2022-06-03 18:51] dmitripivkine commented on #15214
If I understand correctly there are might be two problems:
- Redirector should check `-Xcompressedrefs` is requested explicitly and never try to switch to Full-64 version (IBM J9 seems work correct). I agree the problem should be in Redirector for OpenJ9
- Virtual memory below 64G has allocations can be moved out from this range using compiler options (C-heap)

[2022-06-03 19:16] JasonFengJ9 commented on #15152
Created [PR](https://github.com/adoptium/aqa-tests/pull/3729) to exclude `extended.openjdk` failures:
[code]

[2022-06-03 19:49] 0xdaryl commented on #15175
A couple of initial questions:

1) Just to confirm, is `pinnedStateCounter` in the `J9VMThread` the counter that needs to be incremented/decremented?
[code]

2) Is a check required at runtime that the thread is a virtual thread, or is this counter bumped for both virtual and platform threads?  If yes, then how do we distinguish these kinds of threads at runtime?

[2022-06-03 19:54] tajila commented on #15175
Yes, that is correct

The counter is only bumbed if a VirtualThread is mounted. We can supply a jit runtimehelper to query if there is a mounted virtualThread, would that be sufficient?

[2022-06-03 20:05] tajila commented on #15191
Yes, prepareForCheckpoint is always called with VMAccess. It should be safe to release VMAccess and reaquire again because at this point we have halted all java threads.

[2022-06-03 20:08] tajila commented on #15191
Is this only required for `jitHookPrepareCheckpoint` ? I dont think that would work on the restore side

[2022-06-03 20:12] 0xdaryl commented on #15175
Ideally this would be a cheap test we could do inline at runtime, like checking a bit on the VMThread.  Calling out to a helper at every monent/exit may become prohibitively expensive.  Is this kind of check straightforward to expose to JITed code?

[2022-06-03 20:17] hzongaro commented on #15066
Peter mentioned in an [earlier comment](https://github.com/eclipse-openj9/openj9/issues/15066#issuecomment-1128035226) a Grinder run with `-Xjit` that failed 1/40.  I believe that the way the options processing in the JIT works, specifying the jit option with suboptions and then specifying the jit option again without any suboptions will not override the suboptions that were previously specified -

[2022-06-03 20:30] pshipton commented on #15203
Re sun/security/provider/SecureRandom/AbstractDrbg/SpecTest.java
The grinder only failed on one machine ub18-aarch64-9, on the others ub18-aarch64-3, cent7-aarch64-3, cent7-aarch64-2 it passed.

Test duration on the passing machines is less than 2 min for 20 iterations.

The test seems to hang reading a file
[code]

Check if it's still recreatable on this machine /job/Grinder/24528/

[2022-06-03 20:34] tajila commented on #15152
I was able to pass these with Jack's Thread.stop() changes

[code]

Can someone else confirm this

[2022-06-03 20:37] tajila commented on #15175
We can add a bit to the privateFlags to indicate when a VirtualThread is mounted

[2022-06-03 20:41] pshipton commented on #15203
The security random source is configured as follows, this appears to be a machine issue.
`securerandom.source=file:/dev/random`

A simple test is `cat /dev/random` which should print a bunch of garbage, and not hang.
We've identified two machines with problems so far, but there could be more: ub18-aarch64-6, ub18-aarch64-9
@AdamBrousseau

[2022-06-03 20:41] dsouzai commented on #15191
Yeah this is only needed on the checkpoint side; on the restore side all we do is resume the comp threads to go back to looking for work. We don't allow a checkpoint while a compilation is in flight.

[2022-06-03 20:43] pshipton commented on #15203
Closing in favour of runtimes/infrastructure/issues/6957

[2022-06-03 20:43] #15203 closed

[2022-06-03 20:47] JasonFengJ9 commented on #15152
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
PASSED test targets:
	J9vmTest_0
	J9vmTest_1
	J9vmTest_2
	J9vmTest_3
	J9vmTest_4
	J9vmTest_5
	jvmnativestest_0
	SharedClassesSysVTesting_0
TOTAL: 8   EXECUTED: 8   PASSED: 8   FAILED: 0   DISABLED: 0   SKIPPED: 0
ALL TESTS PASSED
Can someone else confirm this

Will give this a run.

[2022-06-03 20:57] pshipton commented on #15066
Removed the blocker label.

[2022-06-03 21:27] pshipton commented on #15214
With https://github.com/eclipse-openj9/openj9/pull/15218, -Xmx63g works, at least on some plinux machines. I think this is resolved, but pls give the following JVM a try.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK8_ppc64le_linux_Personal/233/OpenJ9-JDK8-ppc64le_linux-20220603-171530.tar.gz
[code]

[2022-06-03 22:35] JasonFengJ9 commented on #15176
Created a draft https://github.com/eclipse-openj9/openj9/pull/15219

this will need a new field on j9vmthread which will have to be added to the GC list of objects to track

Existing `Java_java_lang_Thread_currentCarrierThread` uses `J9VMThread->threadObject`, how about something like `carrierThreadObject`?

this may need a cINL and fastJNI since its called frequently

Will add cINL & fastJNI.

[2022-06-03 22:55] JasonFengJ9 opened #15220 "jdk_rmi_0_FAILED java/rmi/reliability/benchmark/bench/rmi/Main.java - Segmentation error vmState=0x0005ff04"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.openjdk_s390x_linux/66/`(`ub18s390xrt-1-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_rmi_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARG

[2022-06-03 23:07] JasonFengJ9 opened #15221 "jdk_security3_0_FAILED InvalidKeyException: Key must not be null & KeyStoreException: Cannot store non-PrivateKeys"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.openjdk_x86-64_linux/64/`(`ub20x64rt1-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security3_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER

[2022-06-04 10:06] JavaTailor commented on #15212
When we tested the test cases, although J9 had the same behavior as Hotspot, we found that J9 generated crash files, which we thought might represent a relatively serious defect.

[2022-06-04 14:20] pshipton commented on #15212
If you are talking about the following, this is normal for an OOM so the OOM can be investigated. They could be turned off via command line options for any user that doesn't desire this default behavior.

[code]

[2022-06-04 18:08] tajila commented on #15176
yes we will need to add that

[2022-06-05 13:22] JavaTailor commented on #15212
Thank you very much for your reply. We will pay attention to this behavior in the future.

[2022-06-06 00:45] knn-k commented on #15198
Yes, it is much faster with JDK 11 than with JDK 17 in my local environment.

June 1 JDK 11 nightly build (https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Nightly/182/)
1 min 42 sec

[code]

It was 3 min 41 sec using the JDK 17 nightly build of the same day, as I reported above.

[2022-06-06 02:01] knn-k commented on #14243
Artifacts including the core file are available at job/Test_openjdk17_j9_sanity.functional_aarch64_mac_testList_2/48/ for the failure above.

[2022-06-06 06:44] knn-k commented on #14590
`ARM64ImmSymInstruction` is typically used for the `bl` instruction.
The method being compiled ("java/util/Hashtable.<init>()V") is a short method, and it contains three `bl` instructions:

- Call to "_revertToInterpreterGlue" (in the method pre-prologue)
- Call to "_samplingRecompileMethod" (in the method pre-prologue)
- Call to "java/util/Hashtable.<init>(IF)V"

The compiler thread must have los

[2022-06-06 07:57] knn-k commented on #14590
I opened https://github.com/eclipse/omr/pull/6551 for fixing the intermittent bus erros in `TR::ARM64ImmSymInstruction::generateBinaryEncoding()`.

[2022-06-06 11:56] JasonFengJ9 opened #15228 "[linux_390-64_cmprssptrs] SE80_GIT SharedCPEntryInvokerTests_2 Illegal instruction vmState=0x00040000"
Failure link
------------

From an internal build `job_output.php?id=35778878`(`lnxec403`):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
100x grinder passed - `build_info.php?build_id=30184`
There was an internal RTC problem report `142646: [Linux S390] 80 VM_Sanity.TestRefreshGCSpecialClassesCache_NOBCI.Mod

[2022-06-06 12:02] JasonFengJ9 opened #15229 "[Linux S390 64bit Compressed Pointers] 80 Load_Level_2.abbs.5mins.Mode551.4 Illegal instruction vmState=0x00000000 Compiled_method=java/lang/invoke/MethodHandles$Lookup.findStatic(Ljava/lang/Class;Ljava/lang/String;Ljava/lang/invoke/MethodType;)Ljava/lang/invoke/MethodHandle"
Failure link
------------

From an internal build `job_output.php?id=35778769`(`lnxec403`):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
100x grinder passed - `build_info.php?build_id=30183`
Might be related to https://github.com/eclipse-openj9/openj9/issues/15228

[2022-06-06 12:06] pshipton commented on #13868
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_0/177
testDDRExtJunit_FindExtThread_0

[code]
[code]

[2022-06-06 12:10] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly_testList_2/284
TestJlmRemoteThreadNoAuth_0 `-XX:+UseCompressedOops`
[code]

[2022-06-06 12:12] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_2/70/
ConcurrentLoadTest_5m_1
[code]

[2022-06-06 12:17] pshipton opened #15230 "OpenJDK NullPointerException: Cannot invoke "java.lang.CharacterData.of(int)" because "codePoint" is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/207
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/String/UnicodeCasingTest.java
[code]

java/lang/StringBuilder/Comparison.java
[code]

[2022-06-06 12:40] pshipton commented on #15152
Since https://github.com/eclipse-openj9/openj9/pull/15073 is merged, we can't build jdk19 without the openj9-staging branch. Although testing on this branch doesn't work very well, we might as well promote it as long as it continues to compile. @tajila does that work for you?

I ran an acceptance build with sanity.functional but it hangs in sanity.functional in JCL_Test mostly. In jit_jitt_openj9_

[2022-06-06 12:47] pshipton commented on #15152
Update to the previous comment. In some cases more output occurred when I stopped the hanging tests.

[2022-06-06 13:03] #15212 closed

[2022-06-06 13:38] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.functional_ppc64le_linux_jit_Personal/280/`, failure in `TestSoftMxCallBackOOM_1`. Assertion failure. Console log:

[code]

I believe this was caused by the now-reverted #15201.

[2022-06-06 13:44] tajila commented on #15152
Yes that works.

[2022-06-06 13:45] tajila commented on #15152
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/304/

@fengxue-IS can you please open excludes for those on jdknext

[2022-06-06 13:52] cjjdespres commented on #14538
The failure of `JCL_Test_OutOfMemoryError_1` in `job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_jit_Personal/939/` appears to be another instance of #15201.

[2022-06-06 14:05] pshipton commented on #10460
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_aarch64_linux_Personal_testList_2/12
MauveMultiThrdLoad_special_5m_22 `-Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0 `
[code]

[2022-06-06 14:59] pshipton commented on #15220
The grinder failed 100%.
`vmState [0x5ff04]: {J9VMSTATE_JIT} {InstructionSelection}`

[2022-06-06 15:16] 0xdaryl commented on #15220
@r30shah : please assign for investigation

[2022-06-06 16:42] tajila opened #15235 "JDK19: Add support for interrupting common cleaner"
Any test that relies on the `-Dibm.java9.forceCommonCleanerShutdown=true `.

There is likely an issue in the way this is implemented for JDK19

[code]

Failure: https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK_testList_0/113/consoleFull
[code]

[2022-06-06 16:45] tajila opened #15236 "JDK19: Can't recognize -Xlp cmdline option"
The -Xlp option fails tests

https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK_testList_0/113/consoleFull
[code]

[2022-06-06 16:46] tajila commented on #15236
@dmitripivkine do you know why this may be happening?

[2022-06-06 17:05] dmitripivkine commented on #15236
we need to check `cat /proc/meminfo | grep Hugepagesize` on machine

[2022-06-06 19:14] #15236 closed

[2022-06-06 19:16] tajila opened #15238 "JDK19: GC regression test failing with OOM"
[code]

[2022-06-06 19:26] tajila commented on #15238
This test relies on SoftReference behaviour to determine when there is memory pressure:

[code]

this is used to determine how many classloaders can be created.

[2022-06-06 20:34] tajila commented on #15238
I see the following in GC logs

[code]

[2022-06-06 21:14] dmitripivkine commented on #15238
I guess it is known extended liveness issue with JIT (unnecessary store of object pointer in O-slot makes it strong root)

[2022-06-06 21:19] dmitripivkine commented on #15238
I am not sure but we car try to run with -Xjit:enableAggressiveLiveness
The issue I referred to is https://github.com/eclipse-openj9/openj9/issues/9969 (different test actually)

[2022-06-06 22:47] pshipton opened #15241 "VM_Extended.testDTFJ ComparisonFailure: expected:<...Impl> but was:<...>"
See internal PT /problem.php?cmd=update&problem_id=19570&build_id=30201
Example failure /job_output.php?id=35804781
[code]

First failing build /build_info.php?build_id=30132
Likely cause https://github.com/eclipse-openj9/openj9/pull/15073
@fengxue-IS @tajila
@keithc-ca @JasonFengJ9 fyi

[2022-06-06 23:22] knn-k commented on #14590
PR for enabling the excluded tests : https://github.com/adoptium/aqa-tests/pull/3734

[2022-06-07 01:17] knn-k commented on #14590
PR for v0.33.0: https://github.com/eclipse-openj9/openj9-omr/pull/148

[2022-06-07 02:07] pshipton commented on #15214
I'm going to close this assuming it's fixed.

[2022-06-07 02:07] #15214 closed

[2022-06-07 02:08] pshipton commented on #15051
Builds are switched to VS2017. Move this forward to consider VS2019 later.

[2022-06-07 02:09] pshipton commented on #11557
This should be resolved by https://github.com/adoptium/STF/pull/128, closing.

[2022-06-07 02:09] #11557 closed

[2022-06-07 02:12] pshipton commented on #15061
Closing as the fixes are merged.

[2022-06-07 02:12] #15061 closed

[2022-06-07 04:23] knn-k commented on #14717
No core file is available for java/lang/ProcessBuilder/Basic.java#id0 in the artifact of Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Nightly/72/ above.
There is a core file in aqa-tests/TKG/output_16543029449355/jdk_lang_1/work/java/lang/invoke/VarHandles/VarHandleTestMethodTypeInt/ instead.  VarHandleTestMethodTypeInt test passed.

[2022-06-07 07:11] Akira1Saitoh commented on #15198
I took some perf data on an internal machine. It turned out that ~40% of cpu time was spent on patching the callsite of interface dispatch on recompilation.
We cache receiver class and method entry address for interface calls. When the cache hits, the entry address is loaded from the cache and used for dispatch. When recompilation happens, the callsite is updated so that it branches to the updated

[2022-06-07 12:16] 0xdaryl commented on #14115
I was able to get a JIT log with OSR tracing enabled for a `jdk/internal/reflect/GeneratedConstructorAccessorXXX.newInstance(...)` method in a test run that failed.  Nothing immediately obvious what could lead to the parms not being written correctly, but studying it further.

[2022-06-07 12:50] pshipton commented on #15164
Closing this as a dup of https://github.com/eclipse-openj9/openj9/issues/15198, in which there is more discussion of the problem and a reference to a potential fix.

[2022-06-07 12:50] #15164 closed

[2022-06-07 13:23] vij-singh commented on #15108
@alon-sh @taoliult - Any update on this one?

[2022-06-07 13:23] vij-singh commented on #15107
@alon-sh @taoliult - Any update on this one as well?

[2022-06-07 13:25] tajila commented on #14470
@mikezhang1234567890 were you able to make any progress on this?

[2022-06-07 13:33] #15213 closed

[2022-06-07 13:35] vij-singh commented on #14859
@0xdaryl  Is there anything else left to do on this one?

[2022-06-07 13:37] vij-singh commented on #14753
@Spencer-Comin @joransiu  Any new news on this one?

[2022-06-07 13:38] vij-singh commented on #14489
@BradleyWood  Any new news on this one?

[2022-06-07 13:49] tajila commented on #15238
I dont think its jit related. I tried it with the following options:

[code]

[2022-06-07 13:56] dmitripivkine commented on #14243
An assertion has been triggered an attempt to unload `!j9classloader 0x0000000137A4BA68` (`classLoaderObject = !j9object 0x0000000108601CE8` has not been marked). However for `!j9class 0x000000012133EE00` it's `classObject = !j9object 0x00000001083DC8D8` has been marked. I found this object in completed Work Packet, so it has been scanned once but looks like `classLoader`, `protectionDomain` and `

[2022-06-07 13:59] tajila commented on #15238
@dmitripivkine I added the `-Xtrace:print=j9vm.45` tracepoint to print if classloaders are being freed.

On jdk11 I see a bunch of

[code]

On JDK 19, that trace point never shows up.

Is there a way to determine if finalization is actually happening?

[2022-06-07 14:07] pshipton opened #15243 "Linux PPC FVT_Serviceability.jvmti.xdump_catch Test should have finished by now, killing it"
Internal PT /problem.php?cmd=update&problem_id=19571&build_id=30242
Example failure /job_output.php?id=35868711

Started failing in ibuild /build_info.php?build_id=30201 where https://github.com/eclipse-openj9/openj9/pull/15227 was the only change.

Failing output:
[code]

Output from successful run:
[code]

@gacholio @amicic
@tajila @keithc-ca fyi

[2022-06-07 14:09] tajila commented on #15152
@JasonFengJ9 Can you please add excludes for extended.functional, sanity.system and extended.system

[2022-06-07 14:19] smlambert commented on #15119
No, we do not need a new test bucket.  We need a way to filter out headless builds, and then tag in the playlist (possibly similar to how we do test type as either [regular | native].  I will look to see how much work this implies.

Alternatively, I could change the playlist to exclude x86-64_alpine-linux platform for now, since it is the only headless platform that is being tested.

[2022-06-07 14:35] tajila opened #15244 "JDK19: Address threadgroup jvmti failures"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK_testList_0/113/consoleFull

[code]

[2022-06-07 14:35] tajila commented on #15244
@babsingh Can you please take a look at this as well

[2022-06-07 14:36] #15142 closed

[2022-06-07 14:39] tajila commented on #15244
It is possible that the test is invalid for JDK19 but we should confirm that

[2022-06-07 14:46] Spencer-Comin commented on #14753
@vij-singh Not yet, still trying to hunt down how the receiver is set to NULL

[2022-06-07 14:54] tajila opened #15245 "JDK19: JVMTI decompilation test failure"
[code]

[code]

[2022-06-07 15:10] tajila commented on #15238
Yes, I tried with `--finalization=enabled` as well and the results were the same.

[2022-06-07 15:12] pshipton opened #15246 "AIX 32-bit testDDRExtJunit_FindExtThread failure"
Internal failure /job_output.php?id=35866527
Started failing in ibuild /build_info.php?build_id=30242
Relevant hanges:
https://github.com/eclipse/omr/pull/6548
https://github.com/eclipse-openj9/openj9/pull/15216

The test can intermittently fail on older builds, but fails 100% from ibuild 20242
/build_info.php?build_id=30279

Failing output
[code]

@gacholio @amicic
@tajila @keithc-ca fyi

[2022-06-07 15:19] pshipton commented on #15246
Sorry, we got unlucky with a small grinder and I made some assumptions (updated previous comment). I don't think there is any problem here.

[2022-06-07 15:19] #15246 closed

[2022-06-07 15:50] pshipton commented on #13868
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_s390x_linux_Nightly_testList_0/241
testDDRExtJunit_FindExtThread_0
[code]
[code]

[2022-06-07 16:01] taoliult commented on #15107
@vij-singh @pshipton @alon-sh

The first failure "java.base/java.security.SecureRandom.getDefaultPRNG(SecureRandom.java:277)", is due to ONLY in the FIPS mode, when creating the VM using attach mechanism, the providers creation seem have issues. I am still checking this issue.

This second failure "java.lang.Exception: Unexpected provider count. Expected: 12. Actual: 4", is due to in FIPS mode, th

[2022-06-07 17:25] JasonFengJ9 commented on #15152
11:16:54  	at java.base/java.lang.Access.unparkVirtualThread(Access.java:504)

These are new code/tests just promoted from `openj9-staging`, will create exclude PR.

[2022-06-07 17:32] pshipton commented on #15152
I think some of the failures are unrelated to Loom, are you going to exclude those as well? We need green tests to use sanity.openjdk as promotion criteria and for nightly testing.

[2022-06-07 17:37] pshipton commented on #15152
I see one problem, some of the excludes are by platform, but fail on other platforms too.
[code]

[2022-06-07 17:43] JasonFengJ9 commented on #15152
Will have to go through some of excludes at https://github.com/adoptium/aqa-tests/pull/3718

[2022-06-07 17:50] JasonFengJ9 opened #15247 "JDK19 Error evaluating expression: invalid boolean value: null for expression vm.continuations"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_mac_Nightly/1/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
This is a test issue requiring extension repo change.

FYI @llxia

[2022-06-07 17:53] 0xdaryl commented on #14859
Yes, we can suppress the gcc ABI warning on AArch64.  It is generated because of a gcc bug fix implementing the AArch64 ABI for bitfields, and may appear if mixing object files built with different compiler releases.  We don't do that in OpenJ9 so we can suppress the warning.  OpenJDK has also suppressed the warning.

I'll create a PR to suppress this.

[2022-06-07 17:54] amicic commented on #15243
Relatively simple scenario (no HCR/safepoint involved). T9 just completed GC for RAS dump, and is blocked likely to be inspected, while T3 is (unexpectedly) blocked to inspect T9

[code]

[2022-06-07 18:18] pshipton commented on #15247
Fixing this is already in progress at https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/453/files, assuming `true` is the correct value for OpenJ9.

[2022-06-07 18:30] tajila commented on #15245
@babsingh Here is another jvmti related failure, can you take a look at this as well

[2022-06-07 18:34] tajila commented on #15175
Yes, youll also need to check `--enable-preview` with something like:

[code]

[2022-06-07 18:47] gacholio commented on #15243
[code]
It looks like the main thread still holds exclusive, which explains why the attach API thread isn't waking up to perform the inspection.

[2022-06-07 18:49] gacholio commented on #15243
[code]

[2022-06-07 18:50] JasonFengJ9 opened #15249 "JDK19 MBCS_Tests_i18n_zh_CN_linux_0_FAILED: not ok 3 - DateFormatTest"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_special.functional_aarch64_linux_Personal/1/tapResults/`(`ub18-aarch64-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=special.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional

[2022-06-07 18:53] gacholio commented on #15243
I suspect the problem here is that the RAS code is acquiring exclusive before calling the expilcit GC, which is fundamentally invalid.

[2022-06-07 18:56] gacholio commented on #15243
@keithc-ca I believe we'll need to update the RAS handling of exclusive so that the GC call falls outside the exclusive region.

[2022-06-07 19:11] JasonFengJ9 opened #15250 "JDK19 HCRLateAttachWorkload_previewEnabled_1_FAILED StackOverflowError: operating system stack overflow"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.system_aarch64_linux_Personal/1/tapResults/`(`cent7-aarch64-6.svl.ibm.com`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=fun

[2022-06-07 19:24] JasonFengJ9 opened #15251 "j9mm.479 ASSERTION FAILED at ScavengerRootScanner.hpp:108/109 or MarkingSchemeRootMarker.cpp:53 ((MM_StackSlotValidator(MM_StackSlotValidator::NOT_ON_HEAP, *slotPtr, stackLocation, walkState).validate(_env)))"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.system_aarch64_linux_Personal/1/tapResults/`(`cent7-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTR

[2022-06-07 19:35] JasonFengJ9 opened #15252 "JDK19 testDDRExt_Class_0_FAILED [ERROR] testJ9ClassShapeExt(j9vm.test.ddrext.junit.TestClassExt) - output does not contain success key : threadRef"
Failure link
------------

From an internal build `job/Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal/10/tapResults/`(`paix825`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-07 19:37] mikezhang1234567890 commented on #14470
No, haven't managed to reproduce manually on the external machine https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm09/

[2022-06-07 19:38] babsingh commented on #15245
There are no functional deficiencies. The tests just timeout. If the timeout is removed, the tests should pass. Current timeout is 300 seconds. Max. runtime noticed is 340 seconds. There is also a note for `decomp002`:
https://github.com/eclipse-openj9/openj9/blob/816c5f8c7022b4ce189e917b00d8990aca5af368/test/functional/cmdLineTests/jvmtitests/decompilationtests.xml#L27

We can temporarily increas

[2022-06-07 19:43] JasonFengJ9 commented on #13868
`job/Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal/10/tapResults/`
[code]

[2022-06-07 19:53] JasonFengJ9 opened #15253 "JDK19 MauveMultiThrdLoad_5m_0_FAILED **FAILED** Process LT has timed out"
Failure link
------------

From an internal build `job/Test_openjdkNext_j9_sanity.system_ppc64_aix_Personal/6/tapResults/`(`paix908`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&T

[2022-06-07 20:49] babsingh commented on #15235
I don't see an issue with the implementation of `-Dibm.java9.forceCommonCleanerShutdown=true`. In the below code snippet, `Thread.getAllThreads()` (in JDK19+) should include the `Common-Cleaner` thread, and the actions to interrupt it should correctly occur.

https://github.com/eclipse-openj9/openj9/blob/8e6736cc46089f6583fb99dfc1a64b250163f9d7/jcl/src/java.base/share/classes/java/lang/J9VMInterna

[2022-06-07 20:56] babsingh commented on #15235
**Actual issue:** The test framework is enable to find the success condition even though it exists.

- **Success condition (`regex="yes"`):** `[0-9]* allocated blocks totaling [0-9]* bytes were not freed before shutdown!`
- **Test output**: `02:52:14   [ERR] 4310 allocated blocks totaling 55385410 bytes were not freed before shutdown!`

@llxia @renfeiw @Mesbah-Alam Would you know the cause of the

[2022-06-07 21:33] pshipton commented on #15235
Somebody would have to debug the cmdlinetester. You could try changing it to a non-regex `bytes were not freed before shutdown!`

[2022-06-07 21:40] babsingh commented on #15235
The test passes if the success condition is changed from a regex to non-regex type:
[code]

[2022-06-07 21:45] pshipton commented on #15235
Ship it!

[2022-06-07 21:59] gacholio commented on #15243
I suspect the right answer there is to delete the comment and change the flag check to true.

[2022-06-07 22:40] Spencer-Comin commented on #15220
Comparing the profile-directed devirtualization in `J9::Z::PrivateLinkage::buildVirtualDispatch` [1] with the equivalent codegen code for X [2], X has a check for `(callNode->getSymbolReference() != comp()->getSymRefTab()->findObjectNewInstanceImplSymbol())` that is not found in Z. I'm not exactly sure why that check is there in X, but inserting it into the Z code [3] fixes this failure.

[1]. htt

[2022-06-08 00:05] knn-k commented on #14243
@dmitripivkine Thank you for your analysis.  I will take a look.

[2022-06-08 00:49] knn-k commented on #14243
I see no difference in the definition of the macro in build/macosx-aarch64-server-release/vm/runtime/j9vmconstantpool.h.

[code]

[2022-06-08 00:55] pshipton opened #15258 "[linux_ppc-64] SE80_GIT cmdLineTester_GCRegressionTests_0 timeout / hang?"
Internal build /job_output.php?id=35940055
Cores available at /etc/cores/j9vm/30312/35940055/results-359400550.zip

4 failures in 30x grinder /build_info.php?build_id=30319 (cancelled the jobs without waiting for them to timeout)
The problem is easy to recreate when running grinders.
Passed 40x on /build_info.php?build_id=30132 without https://github.com/eclipse-openj9/openj9/pull/15227

[code]

[2022-06-08 00:55] pshipton commented on #15258
Output continued:
[code]

[2022-06-08 01:16] pshipton commented on #15258
@amicic @gacholio another problem likely related to https://github.com/eclipse-openj9/openj9/pull/15227

[2022-06-08 02:17] rrozenshteyn-jha opened #15259 "How to set the classpath in the file specified with -Xoptionsfile?"
Java -version output
--------------------

openjdk version "11.0.15" 2022-04-19
IBM Semeru Runtime Open Edition 11.0.15.0 (build 11.0.15+10)
Eclipse OpenJ9 VM 11.0.15.0 (build openj9-0.32.0, JRE 11 Windows Server 2019 amd64-64-Bit Compressed References 20220422_352 (JIT enabled, AOT enabled)
OpenJ9   - 9a84ec34e
OMR      - ab24b6666
JCL      - b7b5b42ea6 based on jdk-11.0.15+10)

Summary of proble

[2022-06-08 02:18] AdamBrousseau commented on #15088
Apport service was enabled (but inactive/stopped). Package was marked for hold. So a restart would have reactivated it. Should be good now :crossed_fingers:

[2022-06-08 02:46] AdamBrousseau commented on #14943
Number 8 appears to have X11 installed correctly.

[2022-06-08 03:07] knn-k opened #15260 "KEEP_REPORTDIR does not have the expected type, converting to Boolean"
Test jobs show the following warning message, regardless of the JDK version and the platform.

https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDK17_x86-64_linux/678/consoleText:
[code]

[2022-06-08 03:16] pshipton commented on #15259
`-classpath` and `-cp` are recognized by the java launcher and converted to `-Djava.class.path=` which is passed to the VM. You can put that option into the -Xoptionsfile, or use the Java 11 `@<file>` feature instead.

[code]
You can find more info about `@` files in https://docs.oracle.com/en/java/javase/11/tools/java.html

[2022-06-08 03:16] #15259 closed

[2022-06-08 03:19] pshipton commented on #15088
@AdamBrousseau What did you do that I didn't do?
I did set `enabled=0` in `/etc/default/apport`.

[2022-06-08 03:22] knn-k commented on #15260
Another example from a job in April:

https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDK8_ppc64_aix/789/consoleText:
[code]

[2022-06-08 03:31] AdamBrousseau commented on #15088
as root
`systemctl disable apport`
See infra 6186 for more info.

[2022-06-08 05:12] knn-k commented on #11164
DDR was enabled last month.

Remaining items:
- Implement compressed refs mode
- Fix known problems
- (JDK 8: not in plan for the short term)

[2022-06-08 05:19] knn-k commented on #14715
Another failure was reported in https://github.com/eclipse-openj9/openj9/issues/12556#issuecomment-1135991070

[2022-06-08 06:49] Brijesh-09 commented on #14981
I would like to work on this issue

[2022-06-08 10:02] knn-k commented on #15114
I ran a 30x Grinder job.  No failures.  https://openj9-jenkins.osuosl.org/job/Grinder/874/

[2022-06-08 11:36] pshipton commented on #13628
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/290
[code]

[2022-06-08 11:40] pshipton opened #15262 "cmdLineTester_pltest_j9sig_ext_0 did not complete"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/296
cmdLineTester_pltest_j9sig_ext_0

Test did not complete
[code]

[2022-06-08 11:47] pshipton opened #15263 "SC_Softmx_Increase_1 stack smashing detected"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_0/230
SC_Softmx_Increase_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_0/230/system_test_output.tar.gz

[code]

9.Jvm2.stderr
[code]

There is one user created partial

[2022-06-08 12:59] amicic commented on #15258
[code]
Main thread is blocked waiting for inspection to proceed (HALT_THREAD_INSPECTION 0x8000)
Finalizer thread is inspector, but it's also blocked on HALT_THREAD_EXCLUSIVE 0x1.
Exclusive is obtained by main thread (OMR vmthread exclusiveCount is 1).
Not sure why main still has exclusive. It should have released it by the time we block to acquire VM access for HALT_INSPECTION.
Perhaps some exclus

[2022-06-08 13:11] JasonFengJ9 commented on #10922
`job/Test_openjdknext_j9_extended.functional_aarch64_linux_Personal/3/tapResults/`(`ub18-aarch64-4`)
[code]
50x grinder - `job/Grinder/24654/`

[2022-06-08 13:40] JasonFengJ9 opened #15264 "JDK19 langtools_custom_0_FAILED Exception while calling user-specified class: requires.VMProps"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXT

[2022-06-08 13:47] JasonFengJ9 opened #15265 "JDK19 java/nio/channels/vthread/BlockingChannelOps.java#id0 executeOnCarrierThread UnsupportedOperationException"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXT

[2022-06-08 13:55] JasonFengJ9 opened #15266 "JDK19 jdk_security3_0_FAILED java timed out & Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXT

[2022-06-08 14:12] amicic commented on #15258
[code]

Indeed, main thread obtained exclusive earlier. It did a local GC (Scavenge, that aborted), after which it's retrying to allocate but failed (obvious, since Scavenge aborted, although it could fail even Scavenge succeeded, so abortion is not that relevant), and as a part of allocate it's paying taxes and realizing it needs to trigger Concurrent Global (as visible in native stack traces).

[2022-06-08 14:13] JasonFengJ9 opened #15267 "JDK19 jdk_security4_0_FAILED sun/security/krb5/ccache/Refresh.java Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXT

[2022-06-08 14:35] amicic commented on #15243
following up on earlier private discussion for benefit of others...

[code]

if know that inspectee is the one that holds exclusive, and if under that condition we skip the new HALT_ANY check, once it releases exclusive obtained by the caller of system GC, it will still hold VM access, preventing inspector to proceed
since exclusive was obtained directly (not via GC API), the inspectee never went

[2022-06-08 14:43] JasonFengJ9 opened #15268 "JDK 18/19 jdk_vector_0_FAILED Unexpected exit from test [exit code: 137]"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_extended.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXT

[2022-06-08 14:52] JasonFengJ9 commented on #15251
`job/Test_openjdknext_j9_sanity.openjdk_x86-64_mac_Personal/5/consoleFull`(`mac11x64rt07`)
[code]

[2022-06-08 15:02] JasonFengJ9 opened #15269 "JDK19 jdk_util_0_FAILED java/util/TimeZone/Bug5097350.java NullPointerException: Cannot invoke "java.util.function.Predicate.test(java.lang.Object)" because "this.this$1.val$predicate" is null"
Failure link
------------

From an internal build `job/Test_openjdknext_j9_sanity.openjdk_x86-64_mac_Personal/5/consoleFull`(`mac11x64rt07`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-06-08 16:03] LongyuZhang commented on #15189
Just to confirm `vm.gc.G1` should be `false` for openj9? In this case, the test `HumongousStack` will not run, since it requires  `vm.gc.G1` to be `true` to run.

[2022-06-08 17:46] amicic commented on #15243
I basically already mentioned it, but the idea is to skip our new halt check if we know that the very same thread holds exclusive VM access (I guess, it's not possible to for this thread to hold safe point or by any other means block globally).

[2022-06-08 18:14] zl-wang commented on #15204
hmm ... there is even existing arrayCmp implementations already.  This API has almost identical semantic as arrayCmp, from looking at the source code @r30shah posted in the slack channel.  This can be mapped to arrayCmp somehow before coming to codegen. Pretty good performance.

[2022-06-08 19:04] amicic commented on #15258
Internal gridner /build_info.php?build_id=30374 based on candidate fix https://github.com/amicic/openj9/commit/0967a79, passed 50/50

[2022-06-08 20:28] LongyuZhang commented on #15189
Following are the test results:
- set either `vm.continuations` or `vm.gc.G1` to `false`, this test will not run ([grinder1](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24684/), [grinder2](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24686/))
- set both values to `true`, the test has `ExceptionInInitializerError` ([grinder](https://hyc-run

[2022-06-08 20:35] JasonFengJ9 opened #15272 "JDK19 ERROR: JDWP unable to get necessary JVMTI capabilities"
Failure link
------------

From an internal build `job/Test_openjdkNext_j9_extended.functional_x86-64_mac_Personal/17/tapResults/`(`mac12x64rt16`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&E

[2022-06-08 20:53] babsingh commented on #15235
https://github.com/eclipse-openj9/openj9/pull/15255 has been merged to address the reported failures.

The `cmdlinetester` regex issue still needs to be addressed. See https://github.com/eclipse-openj9/openj9/issues/15235#issuecomment-1149158943 for more details.

[2022-06-08 20:55] babsingh commented on #15245
Closing. https://github.com/eclipse-openj9/openj9/pull/15256 has been merged to resolve the reported failures. This issue can be re-opened if the reported failures re-occur.

[2022-06-08 20:55] #15245 closed

[2022-06-08 21:31] #15243 closed

[2022-06-08 21:31] #15258 closed

[2022-06-08 22:29] pshipton commented on #15268
@gita-omr

[2022-06-08 22:29] pshipton commented on #15211
@gita-omr

[2022-06-08 22:34] pshipton commented on #15264
If it needs whitebox (Hotspot) natives we'll have to exclude it.

[2022-06-08 22:40] pshipton commented on #10922
@JasonFengJ9 the original report is on jdk11, and the grinder on jdk19 passed. I'm going to remove the jdk19 label, and remove from the milestone. I think this is just a highly intermittent test issue, sometimes we get unlucky with the timing.

[2022-06-08 23:16] pshipton opened #15274 "Move compilation of jdk19+ to AIX 7.2"
AIX 7.1 will go out of support one day, and the lifecycle of the next LTS jdk21 goes out to around 2028 or more.

There is also https://github.com/adoptium/ci-jenkins-pipelines/pull/322, although no indication so far that OpenJ9 has the same requirement.

[2022-06-08 23:18] pshipton commented on #15274
A test build of jdk19 https://openj9-jenkins.osuosl.org/job/Build_JDKnext_ppc64_aix_Personal/16/ produced the following error.
[code]
@keithc-ca can you pls take a look when you have time.

[2022-06-09 03:00] LongyuZhang commented on #15247
Test `java/lang/Thread/virtual/ThreadAPI.java` test hits the error of `org.testng.SkipException: Requires continuations support` after set `vm.continuations` value ([grinder_false](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24693), [grinder_true](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24695)) as attached.

Should we set `vm.continua

[2022-06-09 05:18] knn-k commented on #14590
The excluded testcases were enabled again.
I ran a jenkins job for special.system, and it completed successfully: job/Test_openjdk17_j9_special.system_aarch64_mac_Personal/1/

Closing this issue now.

[2022-06-09 05:18] #14590 closed

[2022-06-09 10:06] dajc64ibm commented on #14908
Hi - any news about this? Thanks, Dave Clarke (CICS L3)

[2022-06-09 11:27] knn-k commented on #15198
Significant improvement with PR #15242 for this testcase on AArch64 macOS as shown below.  The gap is smaller, but JDK 11 is still faster than JDK 17:

<table frame="border" border="1">
<thead>
<tr>
<th>Build</th>
<th>JDK 11</th>
<th>JDK 17</th>
<th>Gap (11 vs 17)</th>
</tr>
<thead>

<tbody>
<tr>
<td>June 8 Nightly</td>
<td><a href="https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.op

[2022-06-09 11:45] JasonFengJ9 commented on #15247
Sounds good.

fyi @tajila @fengxue-IS

[2022-06-09 11:53] JasonFengJ9 opened #15275 "JDK19 cmdLineTester_SystemPropertiesTest_aix_0_FAILED"
Failure link
------------

From an internal build `job/Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal_testList_0/8/consoleFull`(`paix910`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal&

[2022-06-09 12:03] JasonFengJ9 opened #15276 "TestJcmd_0_FAILED testDumpsWithOptions AssertionError: Expected string not found in jcmd output: Dump written to myJavaDump expected [true] but found [false]"
Failure link
------------

From an internal build `job/Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal_testList_1/8/consoleFull`(`paix824`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdkNext_j9_extended.functional_ppc64_aix_Personal&

[2022-06-09 12:29] JasonFengJ9 commented on #15251
`view/Test_grinder/job/Grinder/24726/tapResults/`(`ub20x64rt3-2`)
[code]

[2022-06-09 12:51] JasonFengJ9 opened #15277 "JDK19 jdk11_tier1_buffer_1_FAILED java/nio/Buffer/Chars.java Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24752/consoleFull`(`mac10x64rt04`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2Fo

[2022-06-09 13:03] JasonFengJ9 opened #15278 "JDK19 jdk_other_0_FAILED error: cannot find symbol HotSpotDiagnosticMXBean.ThreadDumpFormat"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24751/consoleFull`(`mac10x64rt02`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=extended.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2

[2022-06-09 13:23] JasonFengJ9 opened #15280 "JDK19 jdk_lang_0_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24747/consoleFull`(`rhel7s390x-4-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2

[2022-06-09 14:01] YuanWangC opened #15281 "Performance gap in a specific test case compared to Hotspot"
##### Description:

When I executed the following test case with a very large while loop, it took OpenJ9 nearly a minute to execute it, nearly 70 times longer than it took HotSpot to execute it.

If I disable the JIT with the parameter `-Djava.compiler=NONE`, the execution time of OpenJ9 is still close to 1 minute, can this be an indication that the JIT is not fully optimized for this test case?

[2022-06-09 14:19] 0xdaryl commented on #14859
eclipse/omr#/6557 was created to suppress the `note: parameter passing for argument of type 'TR_ByteCodeInfo' changed in GCC 9.1` warnings.  This is an informational notification that there was a bug in earlier versions of gcc on AArch64 passing bitfields as parameters that a developer needs to be aware of if linking objects produced with different compiler levels.  That isn't the case with OpenJ9

[2022-06-09 15:01] pshipton commented on #14717
I don't think any of these failures cause a core file. It may be best to modify the code that prints "Invalid JIT return address" to cause a core file on amac.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/74
[code]

[2022-06-09 15:04] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/74
ConcurrentLoadTest_5m_1
[code]

[2022-06-09 15:09] JasonFengJ9 opened #15284 "JDK19 jdk_math_0_FAILED NumberFormatException: Exponent overflow."
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24782/consoleFull`(`rhel7s390x-4-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2

[2022-06-09 15:16] JasonFengJ9 opened #15287 "JDK19 jdk_util_0_FAILED IllegalArgumentException: bound must be greater than origin"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24782/consoleFull`(`rhel7s390x-4-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=sanity.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava%2

[2022-06-09 15:40] JasonFengJ9 opened #15289 "JDK19 jdk_nio_0_FAILED Method ReadWriteString.testMalformedWrite(java.nio.file.Path, java.lang.String, java.nio.charset.Charset)[pri:0, instance:ReadWriteString@d662caa0] should have thrown an exception of type class java.nio.charset.UnmappableCharacterException"
Failure link
------------

From an internal build `view/Test_grinder/job/Grinder/24783/consoleFull`(`rhel7s390x-3-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=extended.openjdk&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=30&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%3A%2Fopt%2Fjava

[2022-06-09 15:59] keithc-ca commented on #14859
We will need to ensure that everything is compiled with a compatible compiler. Mixing GCC 8 (or any compiler that used the old ABI) with GCC 9 (or any compiler using the new ABI) will be problematic: that includes the JDK and even customer JNI code.

[2022-06-09 16:04] pshipton commented on #14859
Is JNI really a problem? JNI uses it's own ABI.

[2022-06-09 18:12] pshipton commented on #15220
Re-opening until the fix is added to the 0.33 release.

[2022-06-09 18:21] babsingh commented on #15174
Part 2: the goal is to decrement the pin count while exiting a sync block for an exception.

[2022-06-09 18:27] gacholio commented on #15174
Look in ObjectMonitor.hpp and monhelpers.c - these are the things that eventually lock/unlock an object, so they may as well manage the lock pin count.

[2022-06-09 18:32] fengxue-IS commented on #15272
https://github.com/eclipse-openj9/openj9/pull/15254 should fix this

[2022-06-09 18:44] gita-omr commented on #15268
Looking.

[2022-06-09 19:41] keithc-ca commented on #14859
JNI is an API, not an ABI. An ABI dictates things like the calling convention (including the rules for how registers are assigned for parameters and return values).

Perhaps I should have referred to JVMTI or just native code in general. As an example, a mismatch in ABI rules may break the linkage between callers and the implementation of JVMTI functions trafficking in `jvmtiCapabilities`.

[2022-06-09 20:48] pshipton commented on #14859
I thought JNI has an ABI of sorts, the calls are made via libffi, and afaik doesn't use bitfields.
jvmtiCapabilities uses a pointer to a structure containing bitfields.
Unless there is API using a bitfield parameter, I'm not sure there is a problem.
If there was a problem, everyone would need to recompile native code when moving from jdk11 to jdk17+.

[2022-06-09 21:07] keithc-ca commented on #14859
I think you're right in that there are no functions in the JNI or JVMTI APIs that involve a structure type with bit fields.

Reading https://gcc.gnu.org/bugzilla/show_bug.cgi?id=88469 again, I see discussion about improperly computing the alignment of structures with bit-fields. The compiler might emit code that doesn't align an instance of `jvmtiCapabilities` sufficiently; passing the address of

[2022-06-09 21:33] pshipton commented on #14859
FWIW, I don't see any mention of recompiling native code in https://docs.oracle.com/en/java/javase/17/migrate/significant-changes-jdk-release.html

[2022-06-09 21:44] #15275 closed

[2022-06-10 09:29] YuanWangC commented on #15281
Thanks for your reply. I did get a performance improvement by adding the options `-Xjit:count=0,limit={*test2*}`, and it took about 3 seconds to execute the test case.
According to your explanation, is it possible that OpenJ9's JIT is optimized only for methods that are called multiple times? If a method is called only once, no matter how many times the internal loop is executed, strategies to opt

[2022-06-10 09:34] knn-k commented on #15198
AArch64 Linux results have also improved between June 8 and 9.  They are all on ub20-aarch64-osu-x.
I think we can close this issue.

<table frame="border" border="1">
<thead>
<tr>
<th>Build</th>
<th>JDK 11</th>
<th>JDK 17</th>
</tr>
</thead>

<tbody>
<tr>
<td>June 8 Nightly</td>
<td><a href="https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Nightly/190/">10 min.

[2022-06-10 11:35] vijaysun-omr commented on #15281
No there are heuristics to compile even long running/infrequently called methods but as I said, I'm unsure why it did not kick in in this case. @mpirvu may be able to suggest some options to understand if this can be improved in any way or is working as designed (e.g. getting a JIT verbose log via `-Xjit:verbose={*},vlog=myvlog` may offer some insight (you would have to send us the `myvlog*` files

[2022-06-10 12:08] pshipton commented on #15198
Is it understood why jdk17 is slower than jdk11? Do we have an issue to address that?

[2022-06-10 12:16] pshipton opened #15294 "OpenJDK logging/LogManager/Configuration/rootLoggerHandlers/BadRootLoggerHandlers Expected root level FINER, got: INFO"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_mac_Nightly/75
jdk_util_1
java/util/logging/LogManager/Configuration/rootLoggerHandlers/BadRootLoggerHandlers.java
[code]

[2022-06-10 12:18] pshipton commented on #14470
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly_testList_1/239
threadMXBeanTimedParkTest_1
[code]

[2022-06-10 12:22] pshipton commented on #3081
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_aot_Personal_testList_1/33
TestAttachErrorHandling_0
[code]

[2022-06-10 12:27] pshipton opened #15295 "testSCCMLTests6_0 Test 205-k: Re-use shared cache created in previous test ProcessKiller detected a timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_linux_aot_Personal_testList_1/67
testSCCMLTests6_0

No diagnostic files.
[code]

[2022-06-10 12:55] mpirvu commented on #15281
I compiled the testcase and I don't see the DLT mechanism kicking-in despite having plenty of samples in test2 method.
I will have to debug it.

[2022-06-10 13:37] babsingh commented on #14397
To confirm if it is the same issue. Does your crashing thread's backtrace match the backtrace shown in https://github.com/eclipse-openj9/openj9/issues/14397#issuecomment-1033157928?

If the backtrace matches, then the `DYLD_FALLBACK_LIBRARY_PATH` fix, mentioned in https://github.com/eclipse-openj9/openj9/issues/14397#issuecomment-1048180642, can be used as a workaround.

[2022-06-10 13:52] #15220 closed

[2022-06-10 13:54] pshipton commented on #10489
This was hot for a while in March, but hasn't been seen much since. I don't see any progress mentioned, moving it back to the Backlog.

[2022-06-10 13:57] pshipton commented on #15066
Since it's not a blocker, and doesn't show up much, and it doesn't seem like it's going to be resolved shortly, moving to the Backlog.

[2022-06-10 14:05] pshipton commented on #14470
We're not making much progress to resolve this, although it does occur every couple of weeks in the builds. Perhaps we can add some diagnostics into the VM so that when it does occur we get more information. In the meantime, I'm moving it to the Backlog.

[2022-06-10 15:05] dspath opened #15297 "-Xdump:heap creates heapdump on kill -3 causing issues with performance data gathering"
Could we get that changed to not trigger the heapdump on kill -3?

Some clients are setting up JVM arguments like this:
-Xdump:heap:defaults:file=heapdump.%Y%m%d.%H%M%S.%pid.%seq.phd
-Xdump:system:defaults:file=core.%Y%m%d.%H%M%S.%pid.%seq.dmp

or this:
-Xdump:system:label=PRDWSCSCC306.aoins.com.WPCCSCC306A1.%Y%m%d.%H%M%S.%pid.%seq.dmp
-Xdump:java:label=PRDWSCSCC306.aoins.com.WPCCSCC306A1.%Y%m%d.%

[2022-06-10 15:39] zl-wang commented on #15281
I think/recall:  with bytecodeOffset==0, we cannot distinguish the two situations below:
1) sampling hits method-entry (e.g. stackOverFlowCheck) at the very beginning.  This case is better served by the normal JIT-ing (compiling the whole method);
2) looping back to the very beginning of the method, with prior iterations interpreted already. This case can be served by DLT;

Technically, i don't se

[2022-06-10 17:36] vijaysun-omr commented on #15281
I thought that when a JIT sample is taken at the stack overflow check, it is actually attributed to the caller (as a special case in the sampling code). Since the stack overflow check is done in the prologue as part of code generation, it is outside the scope of any loop back edge that branches back to the first bytecode I would have thought, i.e. any sample at the first bytecode will be at a loca

[2022-06-10 18:32] zl-wang commented on #15281
DLT has its own stackWalk.  My impression is the bytecodeOffset returned for the 1st case (above) is 0 too.

In order for DLT to be helpful for this issue's case, we exactly ought not to attribute 0 bytecodeOffset to the caller, but testing to exclude JIT-ed case and attribute to entry-loop-back case (might be useful to further confirm with indeed there being a loop entry at bytecodeOffset 0).

[2022-06-10 18:48] pshipton commented on #15297
There is no heap dump agent by default other than for OutOfMemory. The option `-Xdump:heap:defaults:file=hd` doesn't add a heap dump agent, but `-Xdump:heap:label=hd` is adding a dump agent using the default options. The `user` event is a default and is causing the heapdump on each `kill -3`, but you can change this default.
[code]

i.e. The `-Xdump:heap:defaults` are as follows. I'm not sure why

[2022-06-10 19:02] vijaysun-omr commented on #15281
Okay I believe we can already distinguish if we are at the stack overflow check or not in the JIT stack walker; we had to add a special case around that specific yield point for internal pointers many years ago. So I guess what I am saying is that you can maybe check if you are at the stack overflow mark using the same technique in the DLT stack walk and if not, treat bytecode offset 0 sample as b

[2022-06-10 19:12] pshipton commented on #15198
Is the change low risk enough to put into the 0.33 release?

[2022-06-10 19:57] keithc-ca commented on #14908
I am testing my solution to this.

[2022-06-10 20:08] keithc-ca commented on #12295
@pshipton https://github.com/eclipse-openj9/openj9/issues/12295#issuecomment-1035422308 suggests you meant to close this. Should we close it now?

[2022-06-10 20:10] pshipton commented on #12295
Yup.

[2022-06-10 20:10] #12295 closed

[2022-06-10 21:56] Spencer-Comin commented on #14753
Looking into the failure reproduced by @pshipton to find how the `receiver` argument to `j2iVirtualMethod` becomes NULL:

The `actionData` variable is passed as the `receiver` argument in `VM_DebugBytecodeInterpreterCompressed::run` [1].
On entering `run`, `actionData` is set to `vmThread->returnValue2` [2]. Checking the value of `vmThread` in the coredump  we see
[code]
confirming that `vmThread-

[2022-06-11 03:00] YuanWangC commented on #15281
I have added the options `-Xjit:verbose={*},vlog=myvlog` to get a log file and upload it [here](https://github.com/eclipse-openj9/openj9/files/8883049/myvlog.zip). I found `isDLT=0` in the file and didn't find any stack overflow information.
I would like to ask how to do the things you mentioned to check if I am at the stack overflow check using the technique in the DLT stack walk? @vijaysun-omr

[2022-06-11 05:37] #15191 closed

[2022-06-11 08:46] vijaysun-omr commented on #15281
@YuanWangC the above references to stack overflow check etc. were all for OpenJ9 developers who are discussing the issue. There isn't anything specifically wrt checking if you are the stack overflow check that you can do as a user.

If an OpenJ9 dev change/investigation is needed here, then you may need to think about a workaround in your case. Such a workaround could be to add some code before th

[2022-06-11 17:14] jdekonin commented on #15169
osx1011-x86-1 didn't seem to like to upgrade.  I attempted the same actions on osx1011-x86-2 and before I knew it I ad lost connection and it was happily upgrading. :(

I relaunched a nightly with targeted testing at mac11-x86-1 (which use to be osx1011-x86-2).  There is no `ci.role.test` label atm, so no worries about jobs landing on this system yet.
https://openj9-jenkins.osuosl.org/job/Pipeline

[2022-06-13 02:10] YuanWangC commented on #15281
Ok, you guys discussed this in great detail, which dazzled me. Regarding your last question, I would like to say that the test case above is my original test case, which is a simple test case generated during my fuzzing test. @vijaysun-omr

[2022-06-13 04:55] knn-k commented on #14502
PR #15300 will fix this.

[2022-06-13 05:40] mpirvu commented on #15281
I confirm that adding an instruction at the beginning of the test2() method (I added `i++`) allows the DLT mechanism to kick in, and dramatically improves the running time of the micro-benchmark.

[2022-06-13 06:27] knn-k opened #15301 "Performance gap between JDK 11 and 17"
OpenJ9 JDK 11 AArch64 Linux is sometimes faster than OpenJ9 JDK 17 on the same platform.
An example is the testcase CountLargeTest in openjdk, as commented in Issue https://github.com/eclipse-openj9/openj9/issues/15198#issuecomment-1145969297.

This issue is for investigating the performance gap and its reason.

[2022-06-13 06:35] knn-k commented on #15198
I haven't looked into the difference between JDK 11 and 17.  I opened Issue #15301 for tracking the performance gap.

It is four days since PR #15242 was merged, and there are no failures caused by that change AFAIK.
I guess we can put it in 0.33.

[2022-06-13 11:28] JasonFengJ9 commented on #15241
`DTFJ_TCK/src/com/ibm/dtfj/tck/tests/javaruntime/TestJavaRuntimeThreads.java: testThreadStackFrameLocationMethodName()` need change the thread method name from `sleep` to `sleepImpl`, created an internal PR - `runtimes/rtctest/pull/39`.

This is a test issue, removing `blocker` label.

[2022-06-13 11:53] pshipton opened #15302 "Builds timeout after 20 hours even when TIMEOUT_TIME is set higher"
https://openj9-jenkins.osuosl.org/job/Pipeline-Special-System-JDK8/55/
https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.33.0-Build8/2/
https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.33.0-Build11/2/

@AdamBrousseau any ideas?

[2022-06-13 12:58] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/302
jdk_util_1
java/util/EnumSet/EnumSetBash.java
[code]

[2022-06-13 13:06] pshipton opened #15303 "MauveSingleInvocLoad_special_5m_8 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_1/12 - [ub18-390-1](https://openj9-jenkins.osuosl.org/computer/ub18-390-1)
MauveSingleInvocLoad_special_5m_8 `-Xaggressive -Xgcpolicy:gencon -Xjit -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_1/12/

[2022-06-13 13:12] pshipton commented on #14636
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_aarch64_mac_Release_testList_4/3 - [mac11-aarch64-6](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-6)
DaaLoadTest_daa3_special_5m_5 `-Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_spec

[2022-06-13 13:15] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_aarch64_mac_Release_testList_0/11 - [mac11-aarch64-4](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-4)
cmdLineTester_GCRegressionTests_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.functional_aarch64_mac_Release_testList_0/11/functional_test_output.tar.gz

[code]
[cod

[2022-06-13 14:33] jdekonin commented on #15169
I've added `ci.role.test` to mac11-x86-1 since it passed all testing.  I found a previous issue open (#7050) that suggested system.special hangs and while this isn't in the nightly testing atm, I spun one up to see what happens after the upgrade.

https://openj9-jenkins.osuosl.org/job/Grinder/896/

Working on osx1013-x86-3 next

[2022-06-13 14:55] connglli opened #15305 "JDK8 Segmentation error with vmState=vmState=0x000522ff"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following test case crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-62.tar.gz](https://drive.google.com/file/d/1Ibm6tEcRVAMxNrjGqj-pq9PZT-WXEdxi/view?usp=sharing) for all the logs (jitdump

[2022-06-13 15:06] #15241 closed

[2022-06-13 15:24] babsingh commented on #13234
Moving this issue from backlog to 0.34 release (Java 19).

[2022-06-13 15:35] JasonFengJ9 commented on #15152
**Update:**
`openjdk` [JDK19/18 excludes](https://github.com/adoptium/aqa-tests/pull/3750) is merged.
[JDK19 excludes for extended.functional](https://github.com/eclipse-openj9/openj9/pull/15290) - pending for review.

[2022-06-13 15:41] connglli opened #15306 "JDK8 OpenJ9 Gives Different Results from HotSpot and Android Runtime"
Java version
-------------

[code]

Javac version
--------------

[code]

Summary of problem
-----------------

The following test makes OpenJ9 (with above version) to produce different result every time run.

[code]

Results of OpenJ9: every time you run it, OpenJ9 gives a different result:

[code]

However, HotSpot (JDK8/11/17) and the Android Runtime (ART) are always giving a deterministic and

[2022-06-13 16:35] pshipton commented on #15306
When I try it I often get the correct answer, but occasionally I see a wrong answer.
It also occurs on the last release (jdk8u332 - 0.32).
Running with -Xint produces the correct answer, I'll start by assuming this is a JIT issue.

The following runs it in a loop so it's easier to reproduce the failures.
[code]

[2022-06-13 16:36] pshipton commented on #15306
This seems a serious problem so I'm starting with a blocker status for the next release.

@0xdaryl pls take a look.

[2022-06-13 16:52] pshipton commented on #15306
I also tried it on plinux (11.0.14.1) where it was always giving the wrong answer.

[2022-06-13 17:23] pshipton commented on #15306
I found that on plinux, the problem still reproduces with a smaller case.
[code]

[2022-06-13 17:24] dnakamura commented on #15166
It appears that we check for a name collision  fairly early in the process (before actually parsing the class file), presumably in an effort to save having to parse the class file if we don't actually need to. However, if you don't actually pass in a name to `defineClass` we obviously have no name to check against.

Interestingly, it seems that we go to create the ramClass, we see that one already

[2022-06-13 17:56] pshipton commented on #15306
You can change the loop in iMeth() or the outer loop in vMeth(), but if the inner loops in vMeth() are modified to start from zero, then the problem stops occurring.

[2022-06-13 20:09] pshipton commented on #15305
This is easily reproducible.

@0xdaryl fyi

[2022-06-13 20:10] pshipton commented on #15305
vmState [0x522ff]: {J9VMSTATE_JIT} {tacticalGlobalRegisterAllocator}

[2022-06-13 20:27] connglli opened #15311 "JDK8 Segmentation error: vmState=0x000514ff"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following test case crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-63.tar.gz](https://drive.google.com/file/d/1FlJM98Bs_wTAYI5yDKT9xZ-QRzOAnkA0/view?usp=sharing) for all the logs (jitdump

[2022-06-13 20:29] connglli commented on #15311
We can reproduce the reduced `Test.java` in one of our desktop machine but cannot on our performant server. So please use the unreduced `Test.java.orig` if you cannot reproduce the crash.

[2022-06-13 20:41] ChengJin01 commented on #13679
The issue has been resolved in https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/112, https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/57 and https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/457.

[2022-06-13 20:46] dmitripivkine commented on #14636
This assertion does check that waiting time in the `synchronizeGCThreadsAndReleaseSingleThread()` for blocked thread should be not smaller than total execution time reordered by thread performed single threaded operation. However total execution time reordered by thread performed single threaded operation is negative (-11 ticks). And treated as unsigned `0xFFFFFFFFFFFFFFE7` it happen to be larger

[2022-06-13 20:49] pshipton commented on #15311
The crash didn't reproduce for me. Trying `Test.java.orig`, it doesn't compile - `error: package FuzzerUtils does not exist`

[2022-06-13 20:53] pshipton commented on #15311
vmState [0x514ff]: {J9VMSTATE_JIT} {globalValuePropagation}

@0xdaryl fyi

[2022-06-13 20:57] pshipton commented on #15311
It doesn't reproduce on plinux using the reduced test case with the latest build.

[2022-06-13 21:05] dmitripivkine commented on #14636
The execution time for thread performed single threaded operation was very short in this case. I have not looked in c-stack/registers for values in ticks but Snap traces shows 0us difference, so it was under 1us. And somehow EndTime (taken at the end) is smaller by 25 ticks as StartTime(taken at the beginning). Can actually wall clock adjustment (backwards) be visible by one thread and missed by a

[2022-06-13 21:35] connglli commented on #15311
@pshipton Sorry for fogetting FuzzerUtils.java. See this

[code]

[2022-06-13 21:37] r30shah commented on #15303
This seems to be the same issue as https://github.com/eclipse-openj9/openj9/issues/14753

[2022-06-13 21:43] pshipton commented on #15311
Using the original testcase, I can reproduced it now on xlinux on 0.32 and the latest JVM,

[2022-06-13 21:52] pshipton commented on #15303
Thanks. I had a feeling it was a dup, but I failed to find that issue.
Closing as a dup.

[2022-06-13 21:52] #15303 closed

[2022-06-13 21:54] pshipton commented on #14753
Originally reported in https://github.com/eclipse-openj9/openj9/issues/15303, copying the details here.

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_1/12 - [ub18-390-1](https://openj9-jenkins.osuosl.org/computer/ub18-390-1)
MauveSingleInvocLoad_special_5m_8 `-Xaggressive -Xgcpolicy:gencon -Xjit -Xnocompressedrefs`

https://openj9-artifactory.

[2022-06-14 02:21] AdamBrousseau commented on #15302
https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDK8_x86-64_windows/1045
timeout after 20 hours
The second layer `Pipeline-Build-Test-<VERSION>-<SPEC> has a hardcoded 20 hours for some reason
https://github.com/eclipse-openj9/openj9/blob/7c5c4148460dff53af663a679ecbce0ce8cdbd65/buildenv/jenkins/jobs/pipelines/Pipeline-Initialize.groovy#L31

[2022-06-14 04:18] Akira1Saitoh commented on #15198
Opened https://github.com/eclipse-openj9/openj9/pull/15314 for 0.33.

[2022-06-14 04:35] knn-k opened #15315 "AArch64 macOS SharedClasses.SCM23.MultiCL_0: Unable to locate JIT stack map"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/77/

OpenJ9 - 7c5c4148460
OMR - cf8ddbd1adc
JCL - d7f7dff2a37 based on jdk-17.0.4+6)

[code]

[2022-06-14 04:37] knn-k commented on #15315
Another issue with SCM23 on AArch64 macOS: #14621

[2022-06-14 06:51] knn-k opened #15316 "AArch64 Linux testSoftMxDisclaimMemory_1: OutOfMemoryError"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly/213/

[code]

[2022-06-14 07:43] knn-k commented on #15316
20x Grinder job finished successfully: https://openj9-jenkins.osuosl.org/job/Grinder/898/

[2022-06-14 10:36] knn-k commented on #15315
Some timeouts in 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/126/

[2022-06-14 12:11] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_special.system_ppc64le_linux_jit_Personal/366/`, failure in `LambdaLoadTest_special_J9_5m_8`. A segfault. Console log:

[code]

There are a few failures with the same VM state (e.g., #15311, #13947) but I'm not sure if they're related. Haven't attempted to reproduce.

[2022-06-14 12:50] 0xdaryl commented on #15311
@hzongaro : could you have a look at this reproducible GVP crash please?  Note it is initially targeted to 0.33.

[2022-06-14 13:07] 0xdaryl commented on #15305
@a7ehuo : could you investigate this reproducible crash please?  Note that it has been labeled a blocker for the 0.33 release so please give it higher priority.

[2022-06-14 13:38] r30shah commented on #14753
@tajila Looking at the update from @Spencer-Comin and inspecting the core-dump, I see that there is some discrepancies between the values set in vmThread fields in `sidecarInvokeReflectMethodImpl` function and the point where it crashes with null receiver. We might be missing something or looking at the different direction than what you looked initially, but only JIT compiled method that we see in

[2022-06-14 14:09] 0xdaryl commented on #15306
Seems to occur when `Test.iMeth1()` is compiled at scorching.  ExpressionsSimplification may be the culprit.

[2022-06-14 14:29] hzongaro commented on #15066
Sad to say, no, not likely.  I'm wondering about the possibility of some sort of race condition in the JIT's method metadata reclamation.  Looking at the metadata from several core files that `iterateStackTrace` was operating on, I consistently see this:

[code]

The `flags` field says it's a stub, which I understand means that the metadata was reclaimed, but `iterateStackTrace` is walking through

[2022-06-14 15:04] connglli opened #15319 "OpenJ9's JIT Compiler and Interpreter Give Different Result"
Java version
----------------

[code]

Summary of program
----------------------------

Given the following `Test.java`:

[code]

Interpreter gives 55163:

[code]

While JIT compiler gives 0:

[code]

[2022-06-14 15:10] pshipton commented on #15319
I doesn't duplicate for me on 0.32, but it does on the latest and also a 0.33 build.

@0xdaryl fyi

[2022-06-14 15:31] JamesKingdon commented on #15319
I just had a quick look out of curiosity, and noticed that the problem goes away if specifying an optlevel other than warm, or by disabling globalVP.

[2022-06-14 15:37] dmitripivkine commented on #15316
<img width="460" alt="Screen Shot 2022-06-14 at 11 36 44 AM" src="https://user-images.githubusercontent.com/18148831/173618470-4fee1ae5-9191-4bee-945b-6a6adf4a2c3d.png">

[2022-06-14 15:40] dmitripivkine commented on #15316
Object heap has been contracted as expected. I believe an activity after 300s related to test failure handling.

[2022-06-14 16:04] jdmpapin commented on #15319
When compiling `Test.sMeth(JII)S`, idiom recognition replaces the loop with `arrayset` and loses the store to `iFld`

Here's the loop before idiom recognition:
[code]
Idiom recognition does its thing:
[code]
And afterward the store to `iFld` is gone:
[code]

[2022-06-14 16:23] jdmpapin commented on #15319
The failure in the given test case is easily disturbed by e.g. option sets. Here's a more reliable [repro](https://github.com/eclipse-openj9/openj9/files/8901657/Repro.java.txt):
[code]

[2022-06-14 16:24] pshipton opened #15321 "jdk19 OpenJDK crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/1 - [osx1014-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1014-x86-1)
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/System/MacEncoding/MacJNUEncoding.java

https://openj9-artifa

[2022-06-14 16:34] hzongaro commented on #14538
The crash in #15311 also happens with vmState=0x514ff, but it has a different traceback (elsewhere in Value Propagation) - it's probably not the same problem.

[2022-06-14 17:04] hzongaro commented on #15311
This might be the same as issue #14489.  I am readily able to reproduce it and am continuing to investigate.

[2022-06-14 17:54] LinHu2016 commented on #15179
Currently GC use javaVM->walkStackFrames(vmThread, &stackWalkState) to scan StackObject in J9VMThread (set J9_STACKWALK_ITERATE_O_SLOTS flag and oSlotIterator callback in stackWalkState), now GC also need to scan stackOject in J9VMContinuation, but looks walkStackFrames() only check "walkthread", could VM side please update walkStackFrames() also handle J9VMContinuation case? Thanks

[2022-06-14 18:06] jdmpapin commented on #15319
This doesn't happen when there is a store to an auto (as opposed to a store to a static). Here's a another pair of test cases:  [Repro2](https://github.com/eclipse-openj9/openj9/files/8902164/Repro2.java.txt), [Repro3](https://github.com/eclipse-openj9/openj9/files/8902165/Repro3.java.txt), [opts2.txt](https://github.com/eclipse-openj9/openj9/files/8902172/opts2.txt)
[code]
These generate trees th

[2022-06-14 18:28] pshipton opened #15324 "jdk19 crash vmState=0x00000000 Compiled_method=java/util/function/Predicate.lambda$negate$1"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/1 - [ub16p8j91](https://openj9-jenkins.osuosl.org/computer/ub16p8j91)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/Properties/PropertiesTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Te

[2022-06-14 18:31] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/1/ - [cent7-x64-2](https://openj9-jenkins.osuosl.org/computer/cent7-x64-2)
jdk_lang_1
java/lang/invoke/lambda/MetafactoryDescriptorTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/1/openjdk_test_output.tar.gz

[code]

[2022-06-14 18:48] tajila commented on #15179
The plan is that when the GC needs to do a stackwalk it will stack allocate a J9VMThread then copy all the fields from the continuation into it.

[2022-06-14 18:48] pshipton commented on #14599
This test was removed/replaced in https://github.com/ibmruntimes/openj9-openjdk-jdk19/commit/0a3b8abd2bb
I find a new issue for the replacement jni/nullCaller/NullCallerTest.java https://github.com/eclipse-openj9/openj9/issues/15168

I'm removing the `test excluded` label and closing this issue. The obsolete test can be removed from the exclude list when 15168 is resolved.

[2022-06-14 18:48] #14599 closed

[2022-06-14 18:58] pshipton commented on #15168
BadRegisterAsParallelCapableCaller already has an Issue https://github.com/eclipse-openj9/openj9/issues/14600 and a related PR to fix it.

exeNullCallerClassLoaderTest was removed/replaced in https://github.com/ibmruntimes/openj9-openjdk-jdk19/commit/0a3b8abd2bb
jni/nullCaller/NullCallerTest.java is the replacement.

[2022-06-14 19:02] dmitripivkine commented on #14636
In order to get time GC code uses `omrtime_hires_clock()`. OSX uses general Unix implementation based on `gettimeofday()`. This is reading of wall clock and it is not monotonic. So, it can jump back and force.
There is old but I believe still valid blog on topic:
https://web.archive.org/web/20100517095152/http://www.wand.net.nz/~smr26/wordpress/2009/01/19/monotonic-time-in-mac-os-x/comment-page-1/

[2022-06-14 19:55] a7ehuo commented on #15305
The crash happened when the method `Test.vMeth1()V` is compiled at `scorching`. The crash is reproducible with JDK11 and other JDKs. The crash reason is that it access a removed/invalid block when traversing predecessor blocks in `TR_RegisterCandidate::extendLiveRangesForLiveOnExit` [1].

In my reproduced case, when it extends live ranges due to live on exits for `block_39`, one of the predecessor

[2022-06-14 21:07] pshipton commented on #15152
There are still sanity.openjdk failures on Windows.
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/1/
[code]

There is also a build running of the latest staging material.
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/2/

[2022-06-14 21:09] BradleyWood commented on #15311
@hzongaro I looked through the value propagation git history in OMR and tried reverting a few recent PR's. I was not able to reproduce after reverting eclipse/omr#6121.

[2022-06-14 23:55] pshipton opened #15327 "jdk19 openjdk java/lang/ClassLoader/Assert.java crash in child process vmstate=0x00040000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/1/
jdk_lang_1
java/lang/ClassLoader/Assert.java

The failure presents as a timeout, but that's because there was a gpf in the child process.

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/1/openjdk_test_output.tar.gz
[code]

[2022-06-14 23:58] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/1/
jdk_util_0
java/util/concurrent/ConcurrentHashMap/WhiteBox.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/1/openjdk_test_output.tar.gz

[code]

[2022-06-14 23:59] pshipton commented on #15152
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_OpenJDK19/1/
[code]

[2022-06-15 00:02] pshipton commented on #15321
@tajila @0xdaryl fyi this one seems hot for getting sanity.openjdk tests passing.

[2022-06-15 00:54] pshipton commented on #15168
The first problem is JNI native code which is incompatible with OpenJ9. It's calling FindClass() with an exception pending, which on OpenJ9 returns NULL.

The next problem is that Class.forName() behavior changed in build 25.
"8281001: Class::forName(String) defaults to system class loader if the caller is null"

[2022-06-15 02:08] knn-k commented on #14636
I wonder why the failure happens only on AArch64 macOS if it is caused by lacking the monotonicity of the clock.
Potentially x86 macOS has the same issue, but M1 chip is so fast that it reveals the issue?

[2022-06-15 02:25] pshipton commented on #15168
With https://github.com/eclipse-openj9/openj9/pull/15312 and https://github.com/eclipse-openj9/openj9/pull/15328 and a fix to the test JNI code, the test passes.

[2022-06-15 04:19] knn-k commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly/78/
ConcurrentLoadTest_5m_1
[code]

[2022-06-15 06:28] mpirvu commented on #14538
Did the crash in `LambdaLoadTest_special_J9_5m_8` above happen in the client or the server?

[2022-06-15 06:35] mpirvu commented on #14538
I agree that #15311 is a different crash.  #13947 could be related because it too happens in CHTable code during inliner. I say 'could' because the stack trace is a bit different.
Does this test do class unloading?

[2022-06-15 07:43] knn-k commented on #14636
I opened https://github.com/eclipse/omr/pull/6568 for monotonic `omrtime_hires_clock()` implementation on macOS.
I ran sanity.functional and sanity.openjdk with it, and the tests pass.

- sanity.functional: job/Test_openjdk11_j9_sanity.functional_aarch64_mac_Personal/21/
- sanity.openjdk: job/Grinder/24972/

[2022-06-15 13:19] cjjdespres commented on #14538
I think it was the client. After the segfault the test cases stopped being completed and the child process timed out.

I don't think it does class unloading. I believe the tests are defined [here](https://github.com/adoptium/aqa-systemtest/tree/master/openjdk.test.lambdasAndStreams/src/test.lambda/net/adoptopenjdk/test/lambda).

[2022-06-15 14:32] cjjdespres commented on #14538
Would that core be recorded in an unusual place? I'm looking at `system_test_output.tar.gz` for the failing test list and I only see a `core.978656`, which looks like a system core for the `java` running the test. I did see in the log

[code]

and those stderr/stdout files are empty in the results, so I don't think the core was ever generated.

[2022-06-15 15:07] tajila commented on #15174
@babsingh Note: you'll also need to implement

[code]

For pin/unpin youll need to test the RI behaviour to determine if it inc/dec the counter or if it completely ignores it.

[2022-06-15 15:28] pshipton commented on #12656
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/297
testDDRExtJunit_MonitorsAndDeadlock6_0 `-Xjit -Xgcpolicy:optthruput -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/297/functional_test_output.tar.gz

[code]

[2022-06-15 15:32] pshipton opened #15331 "aarch64 mac Illegal instruction building system tests"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly_testList_1/78

No diagnostics, just the compilation log.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly_testList_1/78/system_test_output.tar.gz

[code]

@knn-k fyi

[2022-06-15 15:39] connglli opened #15332 "JDK8 Assertion Failed in Structure.cpp: region->numSubNodes() == 1 (VMState: 0x000509ff)"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-71.tar.gz](https://drive.google.com/file/d/1HkM30VLb4JABPulZFscRroN1kmOy-6if/view?usp=sharing

[2022-06-15 15:45] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_1/78
SharedClassesWorkload_0
[code]
15.SCL2.stderr
[code]

[2022-06-15 15:46] hzongaro commented on #15311
Thanks, Brad @BradleyWood!  I'll take a look at whether that causes the problem, or if that change was correct, and exposed the problem. . . .

[2022-06-15 15:48] pshipton commented on #15169
There was also the following on [mac11-x86-1](https://openj9-jenkins.osuosl.org/computer/mac11-x86-1)
[code]
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_x86-64_mac_Nightly_testList_0/85